schema/layoutschema-en.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- Do not edit this file! See the file readme.txt in the schema/ directory -->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="urn:speedata.de:2009/publisher/en">
  <start>
    <ref name="e_Layout"/>
  </start>

  <define name="t_zerotohundred">
    <data type="nonNegativeInteger">
      <param name="pattern">(100|[0-9]?[0-9])</param>
    </data>
  </define>

  <define name="a_xmlid">
    <optional>
      <attribute name="xml:id"><data type="ID"/></attribute>
      <a:documentation docid="xmlid">Free to use unique identifier</a:documentation>
    </optional>
  </define>

  <define name="a_classid">
    <optional>
      <attribute name="id"><data type="ID"/></attribute>
      <a:documentation docid="id">Unique identifier to be referenced from a CSS style</a:documentation>
    </optional>
    <optional>
      <attribute name="class">
        <a:documentation docid="class">Class name to be referenced from a CSS style</a:documentation>
      </attribute>
    </optional>
  </define>

  <define name="t_Toplevel">
    <optional><ref name="e_Dataset"/></optional>
    <optional><ref name="e_LoadFontfile"/></optional>
    <optional><ref name="e_DefineColor"/></optional>
    <optional><ref name="e_DefineFontfamily"/></optional>
    <optional><ref name="e_DefineTextformat"/></optional>
    <optional><ref name="e_Pageformat"/></optional>
    <optional><ref name="e_Options"/></optional>
    <optional><ref name="e_Pagetype"/></optional>
    <optional><ref name="e_SetGrid"/></optional>
    <optional><ref name="e_Hyphenation"/></optional>
    <optional><ref name="e_SetVariable"/></optional>
    <optional><ref name="e_Stylesheet"/></optional>
  </define>

  <define name="t_Switchcontents">
    <ref name="t_Commands"/>
    <optional><ref name="e_Tablerule"/></optional>
    <optional><ref name="e_Tr"/></optional>
    <optional><ref name="e_Td"/></optional>
    <optional><ref name="e_Value"/></optional>
    <optional><ref name="e_Image"/></optional>
    <optional><ref name="e_Paragraph"/></optional>
    <optional><ref name="e_Sup"/></optional>
    <optional><ref name="e_Sub"/></optional>
    <optional><ref name="e_Action"/></optional>
    <optional><ref name="e_CopyOf"/></optional>
    <optional><ref name="e_Barcode"/></optional>
    <optional><ref name="e_Li"/></optional>
  </define>

  <define name="t_Commands">
    <optional><ref name="e_DefineColor"/></optional>
    <optional><ref name="e_LoadDataset"/></optional>
    <optional><ref name="e_SaveDataset"/></optional>
    <optional><ref name="e_PlaceObject"/></optional>
    <optional><ref name="e_Output"/></optional>
    <optional><ref name="e_Switch"/></optional>
    <optional><ref name="e_ForAll"/></optional>
    <optional><ref name="e_While"/></optional>
    <optional><ref name="e_Loop"/></optional>
    <optional><ref name="e_ProcessRecord"/></optional>
    <optional><ref name="e_ProcessNode"/></optional>
    <optional><ref name="e_Message"/></optional>
    <optional><ref name="e_NextFrame"/></optional>
    <optional><ref name="e_NewPage"/></optional>
    <optional><ref name="e_NewRow"/></optional>
    <optional><ref name="e_EmptyLine"/></optional>
    <optional><ref name="e_Group"/></optional>
    <optional><ref name="e_SortSequence"/></optional>
    <optional><ref name="e_Hyphenation"/></optional>
    <optional><ref name="e_SetVariable"/></optional>
  </define>

  <define name="t_values">
    <oneOrMore>
      <optional>
        <ref name="t_textvalues"/>
      </optional>
    </oneOrMore>
  </define>

  <define name="t_textvalues">
    <choice>
      <ref name="e_A"/>
      <ref name="e_I"/>
      <ref name="e_B"/>
      <ref name="e_Br"/>
      <ref name="e_HSpace"/>
      <ref name="e_U"/>
      <ref name="e_FontFace"/>
      <ref name="e_Image"/>
      <ref name="e_Sub"/>
      <ref name="e_Sup"/>
      <ref name="e_URL"/>
      <ref name="e_Value"/>
      <ref name="e_Switch"/>
      <ref name="e_Loop"/>
      <ref name="e_ForAll"/>
    </choice>
  </define>

  <define name="t_PDFBOX">
    <choice>
      <value>artbox</value>
      <value>bleedbox</value>
      <value>cropbox</value>
      <value>mediabox</value>
      <value>trimbox</value>
    </choice>
  </define>

  <define name="t_languages">
    <choice>
      <value>German</value>
      <value>Englisch (Great Britan)</value>
      <value>French</value>
    </choice>
  </define>

  <define name="a_alignment">
    <attribute name="alignment">
      <a:documentation docid="alignment">Determines the text appearance</a:documentation>
      <choice>
        <value>justified</value>
        <a:documentation docid="alignment/justification">All lines have the same width</a:documentation>
        <value>leftaligned</value>
        <a:documentation docid="alignment/leftaligned">All lines have the same left border</a:documentation>
        <value>rightaligned</value>
        <a:documentation docid="alignment/rightaligned">All lines have the same right border</a:documentation>
        <value>centered</value>
        <a:documentation docid="alignment/centered">All lines are ragged right and left</a:documentation>
      </choice>
    </attribute>
  </define>

  <define name="a_valign">
    <attribute name="valign">
      <a:documentation docid="valign">Vertical alignment</a:documentation>
      <choice>
        <value>top</value>
        <a:documentation docid="valign/top">Top aligned</a:documentation>
        <value>middle</value>
        <a:documentation docid="valign/middle">Vertically centered</a:documentation>
        <value>bottom</value>
        <a:documentation docid="valign/bottom">Bottom alignment</a:documentation>
        <!-- it can also be a string like {...}  -->
        <data type="string"/>
      </choice>
    </attribute>
  </define>

  <define name="a_allocate">
    <attribute name="allocate">
      <a:documentation docid="allocate">When yes, the space (in the grid) the objects use are allocated, so no other object can be placed there.</a:documentation>
      <choice>
        <value>yes</value>
        <a:documentation docid="allocate/yes">The object are placed on the grid and no other ojbect can overlap</a:documentation>
        <value>no</value>
        <a:documentation docid="allocate/no">The object does not allocate any space so other objects can overlap.</a:documentation>
        <value>auto</value>
        <a:documentation docid="allocate/auto">The object's shape is considered when allocating cells.</a:documentation>
      </choice>
    </attribute>
  </define>

  <define name="e_A">
    <element name="A">
      <a:documentation docid="a">Insert hyerlink to a URL</a:documentation>
      <attribute name="href"/>
      <a:documentation docid="a/href">URI destination (e.g. http://www.speedata.de)</a:documentation>
      <ref name="a_xmlid"/>
      <ref name="t_values"/>
    </element>
  </define>

  <define name="e_Paragraph">
    <element name="Paragraph">
      <a:documentation docid="paragraph">Create a rectangular shaped text area with indentation, justification and hyphenation.</a:documentation>
      <ref name="t_values"/>
      <ref name="a_xmlid"/>
      <ref name="a_classid"/>
      <optional>
        <attribute name="language">
          <ref name="t_languages"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="textformat"/>
      </optional>
      <a:documentation docid="paragraph/textformat">Name of the textformat (optional).</a:documentation>
      <optional>
        <attribute name="color"/>
        <a:documentation docid="paragraph/color">Textcolor of the paragraph (text)</a:documentation>
      </optional>
      <optional>
        <attribute name="fontface"/>
        <a:documentation docid="paragraph/fontface">Font used for the paragraph. (text)</a:documentation>
      </optional>
    </element>
  </define>

  <define name="e_Action">
    <element name="Action">
      <a:documentation docid="action">Connects an Command (»Action«) with the surrounding text.</a:documentation>
      <ref name="a_xmlid"/>
      <choice>
        <element name="AddToList">
          <a:documentation docid="action/addtolist">Adds a key/value pair to the contents of a variable.</a:documentation>
          <ref name="a_xmlid"/>
          <attribute name="list"/>
          <a:documentation docid="action/list">List (variable) to which the contents gets added. This variable does not need to exist.</a:documentation>
          <attribute name="key"/>
          <a:documentation docid="action/key">Name of the key for the key/value pair.</a:documentation>
          <attribute name="select"/>
          <a:documentation docid="action/select">The value that is accociated with the key. (XPath expression)</a:documentation>
        </element>
        <element name="Mark">
          <a:documentation docid="action/mark">Set an invisble marker into the output. Can be used to obtain the page number where this marker gets.</a:documentation>
          <attribute name="select"/>
          <a:documentation docid="action/mark/select">Name of the marker (XPath expression)</a:documentation>
        </element>
      </choice>
    </element>
  </define>

  <define name="e_Attribute">
    <element name="Attribute">
      <a:documentation docid="attribute">Creates an attribute which can be wrapped in an »Element«.</a:documentation>
      <ref name="a_xmlid"/>
      <attribute name="name"><data type="string"/></attribute>
      <a:documentation docid="attribute/name">Name of the attribute that gets creted. (text)</a:documentation>
      <attribute name="select"><data type="string"/></attribute>
      <a:documentation docid="attribute/select">Contents of the attribute as an XPath expression. Character strings must be put in quotation marks!</a:documentation>
    </element>
  </define>

  <define name="e_B">
    <element name="B">
      <a:documentation docid="b">Switch to boldface</a:documentation>
      <ref name="a_xmlid"/>
      <ref name="t_values"/>
    </element>
  </define>

  <define name="e_Br">
    <element name="Br">
      <a:documentation docid="br">Insert a newline</a:documentation>
      <empty/>
    </element>
  </define>

  <define name="e_ProcessRecord">
    <element name="ProcessRecord">
      <a:documentation docid="processrecord">Processes a record which is the contents of the list (in the attribute ›select‹.</a:documentation>
      <ref name="a_xmlid"/>
      <attribute name="select"/>
      <a:documentation docid="processrecord/select">The list that will be processed by matching »Record« commands.</a:documentation>
      <attribute name="limit"/>
      <a:documentation docid="processrecord/limit">Limits the number of nodes to be processed (number).</a:documentation>
    </element>
  </define>

  <define name="e_ProcessNode">
    <element name="ProcessNode">
      <a:documentation docid="processnode">Processes all child nodes of the current data element. The matching command is »Record«</a:documentation>
      <ref name="a_xmlid"/>
      <attribute name="select"/>
      <a:documentation docid="processnode/select">The child elements that should be processed. Allowed is a string such as 'subentry' or the wildcard * for all child elements.</a:documentation>
      <optional>
        <attribute name="mode"/>
        <a:documentation docid="processnode/mode">If a mode is supplied, only »Record« commands with the same mode are called.</a:documentation>
      </optional>
    </element>
  </define>

  <define name="e_AtPageShipout">
    <element name="AtPageShipout">
      <a:documentation docid="atpageshipout">When a page gets finished, the child elements are executed.</a:documentation>
      <ref name="a_xmlid"/>
      <oneOrMore>
        <ref name="t_Commands"/>
      </oneOrMore>
    </element>
  </define>

  <define name="e_AtPageCreation">
    <element name="AtPageCreation">
      <a:documentation docid="atpagecreation">When a new page gets created, the child elements are executed.</a:documentation>
      <ref name="a_xmlid"/>
      <oneOrMore>
        <ref name="t_Commands"/>
      </oneOrMore>
    </element>
  </define>

  <define name="e_Image">
    <element name="Image">
      <a:documentation docid="image">Include an external image.</a:documentation>
      <ref name="a_xmlid"/>
      <attribute name="file">
        <a:documentation docid="image/file">Filename of the image. (text)</a:documentation>
        <data type="string"/>
      </attribute>
      <optional>
        <attribute name="clip">
          <choice>
            <value>yes</value>
            <a:documentation docid="image/clip/yes"/>
            <value>no</value>
            <a:documentation docid="image/clip/no"/>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="width">
        <a:documentation docid="image/width">Width of the image in grid cells or in aboslute size</a:documentation>
      </attribute>
      </optional>
      <optional>
        <attribute name="height">
          <a:documentation docid="image/height">The height of the image (in absolute values, e.g. 210mm)</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="minwidth">
          <a:documentation docid="image/minwidth"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="minheight">
          <a:documentation docid="image/minheight"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="maxwidth">
          <a:documentation docid="image/maxwidth"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="maxheight">
          <a:documentation docid="image/maxheight">The maximum size of the image. Defautl is the »cropbox«</a:documentation>
        </attribute>
      </optional>

      <optional>
        <attribute name="page">
          <a:documentation docid="image/page">The page in the PDF file that gets included</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="naturalsize">
          <a:documentation docid="image/natural-height">The natural size of the image. Default is the »cropbox«.</a:documentation>
          <ref name="t_PDFBOX"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="maxsize">
          <a:documentation docid="image/maxheight">The maximum size of the image. Defautl is the »cropbox«</a:documentation>
          <ref name="t_PDFBOX"/>
        </attribute>
      </optional>
    </element>
  </define>

  <define name="e_Box">
    <element name="Box">
      <a:documentation docid="box">Create a rectangular colored area.</a:documentation>
      <ref name="a_xmlid"/>
      <attribute name="width"/>
      <a:documentation docid="box/width">Width of the box in grid cells.</a:documentation>
      <attribute name="height"/>
      <a:documentation docid="box/height">Heigt of the box in grid cells.</a:documentation>
      <attribute name="backgroundcolor"/>
      <a:documentation docid="box/backgroundcolor">Color of the box</a:documentation>
      <optional>
        <attribute name="bleed">
          <choice>
            <value>top,right</value>
            <value>bottom,right</value>
            <value>right</value>
          </choice>
        </attribute>
      </optional>
    </element>
  </define>

  <define name="e_Bookmark">
    <element name="Bookmark">
      <a:documentation docid="bookmark">Create a PDF bookmark</a:documentation>
      <ref name="a_xmlid"/>
      <attribute name="level"/>
      <a:documentation docid="bookmark/level">The level of the bookmark. 1 = top level, 2 = second level ...</a:documentation>
      <attribute name="select"/>
      <a:documentation docid="bookmark/select">The title of the bookmark as an XPath expression</a:documentation>
      <optional>
        <attribute name="open">
          <a:documentation docid="bookmark/open">The bookmark hierarchy displayed in the pdf viewer</a:documentation>
          <choice>
            <value>yes</value>
            <a:documentation docid="bookmark/open/yes">Displayed with sublevels shown</a:documentation>
            <value>no</value>
            <a:documentation docid="bookmark/open/no">Displayed with sublevels hidden</a:documentation>
          </choice>
        </attribute>
      </optional>
    </element>
  </define>

  <define name="e_Dataset">
    <element name="Record">
      <a:documentation docid="record">Executes the child commands for every element given in the attribute ›element‹. Matches »ProcessNode« and »ProcesRecord«.</a:documentation>
      <ref name="a_xmlid"/>
      <oneOrMore>
        <ref name="t_Commands"/>
      </oneOrMore>
      <attribute name="element"/>
      <a:documentation docid="record/element">The name of the elements that are processed by the child commands.</a:documentation>
      <optional>
        <attribute name="mode"/>
        <a:documentation docid="record/mode">When called with a ›mode‹, the matching »ProcessRecord« must have the same mode. With this, you can select the »Record« command to be processed.</a:documentation>
      </optional>
    </element>
  </define>

  <define name="e_DefineColor">
     <element name="DefineColor">
       <a:documentation docid="definecolor">Defines a color with the given name in the attribute ›name‹. Supported are these models: »rgb«, »cmyk« and »gray«. Values must be between 0 and 100.</a:documentation>
       <ref name="a_xmlid"/>
       <attribute name="name"><data type="string"/></attribute>
       <choice>
         <group>
           <attribute name="model">
             <a:documentation docid="definecolor/model">The color model: ›cmyk‹, ›rgb‹ or ›gray‹.</a:documentation>
             <value>rgb</value>
           </attribute>
           <attribute name="r">
             <a:documentation docid="definecolor/r">Value for red (between 0 and 100)</a:documentation>
           </attribute>
           <attribute name="g">
             <a:documentation docid="definecolor/rgb/g">Value for green (between 0 and 100)</a:documentation>
           </attribute>
           <attribute name="b">
             <a:documentation docid="definecolor/b">Value for blue (between 0 and 100)</a:documentation>
           </attribute>
         </group>
         <group>
           <attribute name="model">
             <a:documentation docid="definecolor/model">The color model: ›cmyk‹, ›rgb‹ or ›gray‹.</a:documentation>
             <value>cmyk</value>
           </attribute>
           <attribute name="c">
             <a:documentation docid="definecolor/c">Value for cyan (between 0 and 100)</a:documentation>
           </attribute>
           <attribute name="m">
             <a:documentation docid="definecolor/m">Value for magenta (between 0 and 100)</a:documentation>
           </attribute>
           <attribute name="y">
             <a:documentation docid="definecolor/y">Value for yellow (between 0 and 100)</a:documentation>
           </attribute>
           <attribute name="k">
             <a:documentation docid="definecolor/k">Value for black (key, between 0 and 100)</a:documentation>
           </attribute>
         </group>
         <group>
           <attribute name="model">
             <a:documentation docid="definecolor/model">The color model: ›cmyk‹, ›rgb‹ or ›gray‹.</a:documentation>
             <value>gray</value>
           </attribute>
           <attribute name="g">
             <a:documentation docid="definecolor/gray/g">Value for gray (between 0 and 100)</a:documentation>
           </attribute>
         </group>
         <group>
           <attribute name="value"/>
         </group>
       </choice>
     </element>
    </define>

  <define name="e_DefineFontfamily">
    <element name="DefineFontfamily">
      <a:documentation docid="definefontfamily">Define a font family with the faces »Regular«, »Bold«, »BoldItalic« and »Italic«. Families are needed when you switch to another face in running text with »B« for example.</a:documentation>
      <ref name="a_xmlid"/>
      <attribute name="name"/>
      <attribute name="fontsize"><data type="double"/></attribute>
      <a:documentation docid="definefontfamily/fontsize">Fontsize in points (1/72in), range is 0 to ...</a:documentation>
      <attribute name="leading"><data type="double"/></attribute>
      <a:documentation docid="definefontfamily/rowdistance">Distance between baselines of two adjacent lines. Should be larger then the font size.</a:documentation>
      <interleave>
        <element name="Regular">
          <a:documentation docid="definefontfamily/regular">The font face of the text when none of bold, italic or bolditalic is used.</a:documentation>
          <ref name="a_xmlid"/>
          <attribute name="fontface"/>
        </element>
        <optional>
          <element name="Bold">
            <a:documentation docid="definefontfamily/bold">The font face to be used when switching to bold (&lt;B&gt;...&lt;/B&gt;). The name must be an alias given by »LoadFontfile«</a:documentation>
            <ref name="a_xmlid"/>
            <attribute name="fontface"/>
          </element>
        </optional>
        <optional>
          <element name="Italic">
            <a:documentation docid="definefontfamily/italic">The font face to be used when switching to italic (&lt;I&gt;...&lt;/I&gt;). The name must be an alias given by »LoadFontfile«</a:documentation>
            <ref name="a_xmlid"/>
            <attribute name="fontface"/>
          </element>
        </optional>
        <optional>
          <element name="BoldItalic">
            <a:documentation docid="definefontfamily/bolditalic">The font face to be used when switching to bold and italic (&lt;B&gt;&lt;I&gt;...&lt;/I&gt;&lt;/B&gt;). The name must be an alias given by »LoadFontfile«</a:documentation>
            <ref name="a_xmlid"/>
            <attribute name="fontface"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>

  <define name="e_DefineTextformat">
    <element name="DefineTextformat">
      <ref name="a_xmlid"/>
      <attribute name="name"/>
      <optional><ref name="a_alignment"/></optional>
      <optional><attribute name="indentation"/></optional>
      <optional>
        <attribute name="rows">
          <a:documentation docid="definetextformat/rows">Number of rows for indentation or (if negative) number of rows not indented lines</a:documentation>
        </attribute></optional>
    </element>
  </define>

  <define name="e_Element">
    <element name="Element">
      <a:documentation docid="element">Create an XML-element that can be written to an external file (»SaveDataset«).</a:documentation>
      <ref name="a_xmlid"/>
      <attribute name="name"><data type="string"/></attribute>
      <a:documentation docid="element/name">Name of the element.</a:documentation>

      <oneOrMore>
        <interleave>
          <optional><ref name="e_Element"/></optional>
          <optional><ref name="e_Attribute"/></optional>
          <optional><ref name="e_CopyOf"/></optional>
        </interleave>
      </oneOrMore>
    </element>
  </define>

  <define name="e_ForAll">
    <element name="ForAll">
      <a:documentation docid="forall">Run the containing commands for all elements in the selection</a:documentation>
      <ref name="a_xmlid"/>
      <attribute name="select"/>
      <a:documentation docid="forall/select">The name of the sub elements</a:documentation>
      <ref name="t_Switchcontents"/>
    </element>
  </define>

  <define name="e_Switch">
    <element name="Switch">
      <a:documentation docid="switch">Contains a if-then-else clause. The child elements »Case« are executed until the tests are true. If none of the tests evaluate to true, the child element »Otherwise« gets executed.</a:documentation>
      <ref name="a_xmlid"/>
      <oneOrMore>
        <element name="Case">
          <a:documentation docid="switch/case">If the condition in the attribte ›test‹ evaluates to 'true', the contents of this element is executed and the processing continues after the »Switch« command.</a:documentation>
          <ref name="a_xmlid"/>
          <attribute name="test"><data type="string"/></attribute>
          <a:documentation docid="switch/test">The XPath-expression for the test.</a:documentation>
          <oneOrMore>
            <ref name="t_Switchcontents"/>
          </oneOrMore>
        </element>
      </oneOrMore>
      <optional>
        <element name="Otherwise">
          <a:documentation docid="switch/otherwise">Gets executed if no tests evaluate to true.</a:documentation>
          <ref name="a_xmlid"/>
          <oneOrMore>
            <ref name="t_Switchcontents"/>
          </oneOrMore>
        </element>
      </optional>
    </element>
  </define>

  <define name="e_Grid">
    <ref name="a_xmlid"/>
    <attribute name="width"/>
    <a:documentation docid="pagetype/grid/width">Width of a grid cell (length, e.g. 10mm)</a:documentation>
    <attribute name="height"/>
    <a:documentation docid="pagetype/grid/height">Height of a grid cell (lenght, e.g. 10mm)</a:documentation>
  </define>

  <define name="e_Group">
    <element name="Group">
      <attribute name="name"><data type="string"/></attribute>
      <ref name="a_xmlid"/>
      <optional>
        <element name="Grid">
          <a:documentation docid="grid/group">Define a group-local grid.</a:documentation>
          <ref name="e_Grid"/>
        </element>
      </optional>
      <element name="Contents">
        <ref name="a_xmlid"/>
        <oneOrMore>
          <ref name="t_Commands"/>
        </oneOrMore>
      </element>
    </element>
  </define>

  <define name="e_I">
    <element name="I">
      <a:documentation docid="i">Switch to italic font face.</a:documentation>
      <ref name="a_xmlid"/>
      <ref name="t_values"/>
    </element>
  </define>

  <define name="e_HSpace">
    <element name="HSpace">
      <a:documentation docid="hspace">Insert stretchable space</a:documentation>
      <empty/>
    </element>
  </define>

  <define name="e_CopyOf">
    <element name="Copy-of">
      <a:documentation docid="copyof">Inserts the given elements (currently no copy is performed despite the name).</a:documentation>
      <ref name="a_xmlid"/>
      <attribute name="select">
        <a:documentation docid="copyof/select">The XPath expression to determine the contents to be copied.</a:documentation>
      </attribute>
    </element>
  </define>

  <define name="e_Li">
    <element name="Li">
      <a:documentation docid="li">List item in an (un)ordered list</a:documentation>
      <oneOrMore>
        <ref name="t_textvalues"/>
      </oneOrMore>
    </element>
  </define>

  <define name="e_LoadDataset">
    <element name="LoadDataset">
      <a:documentation docid="loaddataset">Loads and executes a data XML file from the disk. It is fine if the given file does not exist (no error is raised).</a:documentation>
      <ref name="a_xmlid"/>
      <attribute name="name"><data type="string"/></attribute>
      <a:documentation docid="loaddataset/name">The name of the data XML file</a:documentation>
      <empty/>
    </element>
  </define>

  <define name="e_LoadFontfile">
    <element name="LoadFontfile">
      <a:documentation docid="loadfontfile">Loads a font file. Supported are Type1, TrueType and OpenType fonts.</a:documentation>
      <ref name="a_xmlid"/>
      <attribute name="name"><data type="string"/></attribute>
      <a:documentation docid="loadfontfile/name">The name of the font file, to be used by »DefineFontface«.</a:documentation>
      <attribute name="filename"><data type="string"/></attribute>
      <a:documentation docid="loadfontfile/filename">The filename without path. Example: »helvetica.ttf«</a:documentation>
      <optional>
        <attribute name="marginprotrusion">
          <a:documentation docid="loadfontfile/marginprotrusion">Margin protrusion (hyphen, comma and period stick into the right margin). Valid range is between 0 (no margin protrusion) and 100 (full).</a:documentation>
          <ref name="t_zerotohundred"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="space">
          <a:documentation docid="loadfontfile/space">The natural width of a space between two words (in percent of the font size). Default ist 25.</a:documentation>
          <ref name="t_zerotohundred"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="smallcaps">
          <a:documentation docid="smallcaps">Use small caps from the font file (only some OpenType / TrueType fonts)</a:documentation>
          <choice>
            <value>yes</value>
            <a:documentation docid="loadfontfile/smallcaps/yes">Use small caps</a:documentation>
            <value>no</value>
            <a:documentation docid="loadfontfile/smallcaps/no">Don't use small caps.</a:documentation>
          </choice>
        </attribute>
      </optional>
    </element>
  </define>

  <define name="e_Layout">
    <element name="Layout">
      <ref name="a_xmlid"/>
      <optional>
        <attribute name="version"/>
        <a:documentation docid="layout/version">Minimum publisher version required. If major or minor version differ, give a warning. Format: 1.6.12 (revision number can be left out).</a:documentation>
      </optional>
      <oneOrMore>
        <ref name="t_Toplevel"/>
        <optional><ref name="e_Include"/></optional>
      </oneOrMore>
    </element>
  </define>

  <define name="e_Include">
    <element name="Include">
      <ref name="a_xmlid"/>
      <oneOrMore><ref name="t_Toplevel"/></oneOrMore>
    </element>
  </define>

  <define name="e_EmptyLine">
    <element name="EmptyLine">
      <a:documentation docid="emptyline">The virtual cursor is placed on the second next free line.</a:documentation>
      <ref name="a_xmlid"/>
      <empty/>
    </element>
  </define>

  <define name="e_Rule">
    <element name="Rule">
      <a:documentation docid="rule">Draw a rule.</a:documentation>
      <ref name="a_xmlid"/>
      <attribute name="length"/>
      <a:documentation docid="rule/length">The length of the rule in grid cells (number) or as a dimension (e.g. 4cm)</a:documentation>
      <optional>
        <attribute name="color"/>
        <a:documentation docid="rule/color">The color of the rule (default: black)</a:documentation>
      </optional>
      <attribute name="direction">
        <a:documentation docid="rule/direction">The direction of the rule</a:documentation>
        <choice>
          <value>horizontal</value>
          <value>vertical</value>
        </choice>
      </attribute>
      <optional>
        <attribute name="rulewidth"/>
        <a:documentation docid="rule/thickness">The thickness of the rule in grid cells (number) or as a dimension (e.g. 4pt)</a:documentation>
      </optional>
    </element>
  </define>

  <define name="e_Message">
    <element name="Message">
      <a:documentation docid="message">Writes a message to the console and to the log file. The message itself can be given with the attribute ›select‹ or the child element »Value«.</a:documentation>
      <ref name="a_xmlid"/>
      <choice>
        <attribute name="select"><data type="string"/></attribute>
        <a:documentation docid="message/select">Message to be printed (XPath expression).</a:documentation>
        <oneOrMore>
          <ref name="e_Value"/>
        </oneOrMore>
      </choice>
    </element>
  </define>

  <define name="e_NextFrame">
    <element name="NextFrame">
      <a:documentation docid="nextframe">Switch to the next frame in the given positioning area. If no frame is available on the current page, a new page gets generated.</a:documentation>
      <ref name="a_xmlid"/>
      <attribute name="area">
        <a:documentation docid="nextframe/area">The area in which the next frame is selected.</a:documentation>
      </attribute>
    </element>
  </define>

  <define name="e_NewPage">
    <element name="NewPage">
      <a:documentation docid="newpage">Ships out the current page into the PDF file. As soon as new contents is placed, a new page gets created.</a:documentation>
      <ref name="a_xmlid"/>
      <empty/>
    </element>
  </define>

  <define name="e_NewRow">
    <element name="NextRow">
      <a:documentation docid="newrow">The virtual cursor is placed on the next free line.</a:documentation>
      <ref name="a_xmlid"/>
      <optional>
        <attribute name="row"/>
        <a:documentation docid="newrow/row">Number of the row for the virtual cursor. If not given, the publisher uses the next free row.</a:documentation>
      </optional>
      <optional>
        <attribute name="rows"/>
        <a:documentation docid="newrow/rows">Number of free rows. Defaults to 1.</a:documentation>
      </optional>
      <optional>
        <attribute name="area"/>
        <a:documentation docid="newrow/area">Name of the area in which the cursor is placed.</a:documentation>
      </optional>
      <empty/>
    </element>
  </define>

  <define name="e_Output">
    <element name="Output">
      <optional><attribute name="area"/></optional>
      <element name="Text">
        <oneOrMore>
          <ref name="e_Paragraph"/>
        </oneOrMore>
      </element>
    </element>
  </define>

  <define name="e_PlaceObject">
    <element name="PlaceObject">
      <a:documentation docid="placeobject">Puts an object (image, text,... ) onto the page or into a group.</a:documentation>
      <ref name="a_xmlid"/>
      <optional>
        <attribute name="column"/>
        <a:documentation docid="placeobject/column">The column in the grid where the object is placed (number). If no column is given the publisher takes
                the current column, or, if not enough space available, the first column in the next free row.</a:documentation>
      </optional>
      <optional>
        <ref name="a_allocate"/>
      </optional>
      <optional>
        <ref name="a_valign"/>
      </optional>
      <optional>
        <attribute name="hreference">
          <a:documentation docid="placeobject/hreference">The object is placed at the given column. The hreference (horizontal) determines the edge that is taken into account.</a:documentation>
          <choice>
            <value>left</value>
            <a:documentation docid="placeobject/hreference/left">The given column is the left border of the object to be placed.</a:documentation>
            <value>right</value>
            <a:documentation docid="placeobject/hreference/right">The given column is the right border of the object to be placed.</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="area">
          <a:documentation docid="placeobject/area">The positioning area in which the object should be placed. The given column and row is relative to the area. The default area is »Page«.</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="row">
          <a:documentation docid="placeobject/row">The row where the object is to be placed (optional, number). If not given, the system looks for the next free row.</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="frame">
          <a:documentation docid="placeobject/frame">Draw a frame around the object.</a:documentation>
          <choice>
            <value>without</value>
            <a:documentation docid="placeobject/frame/without">No frame</a:documentation>
            <value>solid</value>
            <a:documentation docid="placeobject/frame/solid">Draw a solid frame around the object</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="framecolor">
          <data type="string"/>
        </attribute>
        <a:documentation docid="placeobject/framecolor">Color of the frame that is drawn around the object. (text)</a:documentation>
      </optional>
      <optional>
        <attribute name="rulewidth">
          <data type="string"/>
        </attribute>
        <a:documentation docid="placeobject/rulewidth">Width of the frame that is drawn around the box. (length)</a:documentation>
      </optional>
      <optional>
        <attribute name="background">
          <a:documentation docid="placeobject/background">Background behind the object</a:documentation>
          <choice>
            <value>without</value>
            <a:documentation docid="placeobject/background/without">The object gets no special background</a:documentation>
            <value>full</value>
            <a:documentation docid="placeobject/background/full">A rectangular background gets placed behind the object</a:documentation>
          </choice>
        </attribute>
        <attribute name="backgroundcolor">
          <data type="string"/>
        </attribute>
        <a:documentation docid="placeobject/backgroundcolor">Color of the background behind the object. (text)</a:documentation>
      </optional>
      <optional>
        <attribute name="keepposition">
          <a:documentation docid="placeobject/keepposition"/>
          <choice>
            <value>yes</value>
            <a:documentation docid="placeobject/keepposition/yes"/>
            <value>no</value>
            <a:documentation docid="placeobject/keepposition/no"/>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="maxheight">
          <a:documentation docid="placeobject/maxheight">The maximum height of the objects (optional). Used for automatic table splitting.</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="page">
          <a:documentation docid="placeobject/page"/>
        </attribute>
      </optional>
      <choice>
        <attribute name="groupname">
          <a:documentation docid="placeobject/groupname">Name of the group to be placed. (text)</a:documentation>
        </attribute>
        <interleave>
          <optional>
            <ref name="e_Image"/>
          </optional>
          <optional>
            <ref name="e_Box"/>
          </optional>
          <optional>
            <ref name="e_Rule"/>
          </optional>
          <optional>
            <ref name="e_Textblock"/>
          </optional>
          <optional>
            <ref name="e_Barcode"/>
          </optional>
          <optional>
            <ref name="e_Table"/>
          </optional>
        </interleave>
      </choice>
    </element>
  </define>

  <define name="e_Ol">
    <element name="Ol">
      <a:documentation docid="ol">Enumerated list, like in HTML (1., 2.,..)</a:documentation>
      <oneOrMore>
        <ref name="e_Li"/>
      </oneOrMore>
    </element>
  </define>

  <define name="e_Options">
    <element name="Options">
      <ref name="a_xmlid"/>
      <optional>
        <attribute name="mainlanguage">
          <a:documentation docid="options/defaultlanguage">The default language of the printed text (used for hyphenation)</a:documentation>
          <ref name="t_languages"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="show-gridallocation">
          <a:documentation docid="options/showgridallocation">Determins if the grid allocation should be shown.</a:documentation>
          <choice>
            <value>yes</value>
            <a:documentation docid="options/showgridalllocation/yes">Used grid cells are colored</a:documentation>
            <value>no</value>
            <a:documentation docid="options/showgridallocation/no">Grid cells are not colored</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="show-grid">
          <a:documentation docid="options/showgrid">Determines if the grid is shown.</a:documentation>
          <choice>
            <value>yes</value>
            <a:documentation docid="options/showgrid/yes">Grid get drawn on the page No grid is drawn.</a:documentation>
            <value>no</value>
            <a:documentation docid="options/showgrid/yes">Grid get drawn on the page No grid is drawn.</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="show-hyphenation">
          <a:documentation docid="options/showhyphenation">Mark all possible hyphenation points. Use to trace language usage.</a:documentation>
          <choice>
            <value>yes</value>
            <a:documentation docid="options/showhyphenation/yes">Small marks are drawn on every possible hyphenation point</a:documentation>
            <value>no</value>
            <a:documentation docid="options/showhyphenation/no">Regular text without any marks</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="trace">
          <a:documentation docid="options/trace">Determines the level of trace messages.</a:documentation>
          <choice>
            <value>yes</value>
            <a:documentation docid="options/trace/yes">Detailed inforation</a:documentation>
            <value>no</value>
            <a:documentation docid="options/trace/no">Only the most important information are given</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="cutmarks">
          <a:documentation docid="options/cutmarks">Cutmarks</a:documentation>
          <choice>
            <value>yes</value>
            <a:documentation docid="options/cutmarks/yes">Cutmarks are shown</a:documentation>
            <value>no</value>
            <a:documentation docid="options/cutmarks/no">No cutmarks are put on the page</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="trim">
          <a:documentation docid="options/trim">The amount of the bleed (dimension, e.g 3mm). </a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="startpage">
          <a:documentation docid="options/startpage">The first page number. Default is 1.</a:documentation>
        </attribute>
      </optional>
    </element>
  </define>

  <define name="e_PositioningArea">
    <element name="PositioningArea">
      <a:documentation docid="positioningarea">Positioning areas contain positioning frames, that can be accessed with a name (attribute ›name‹). The
                frames are connected in the order of their definitions. That means if an object cannot be placed in a
                frame, the next frame will automatically chosen. If no next frame is available, a page break is
                inserted. </a:documentation>
      <ref name="a_xmlid"/>
      <attribute name="name">
        <a:documentation docid="positioningarea/name">The name of the positioning area</a:documentation>
      </attribute>
      <oneOrMore>
        <element name="PositioningFrame">
          <a:documentation docid="positioningframe">Positioning frames are rectengular areas, all four attributes must be given.</a:documentation>
          <ref name="a_xmlid"/>
          <attribute name="column"/>
          <attribute name="row"/>
          <attribute name="height"/>
          <attribute name="width"/>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="e_Margin">
    <element name="Margin">
      <ref name="a_xmlid"/>
      <attribute name="left"/>
      <attribute name="right"/>
      <attribute name="top"/>
      <attribute name="bottom"/>
    </element>
  </define>

  <define name="e_Loop">
    <element name="Loop">
      <a:documentation docid="loop">Repeat the contents of the element by the amount given in the attribute ‘select’.</a:documentation>
      <ref name="a_xmlid"/>
      <attribute name="select"/>
      <a:documentation docid="loop/select">The amount of repetitions in the loop.</a:documentation>
      <optional>
        <attribute name="variable"/>
        <a:documentation docid="loop/variable">This variable gets the loop value. If not set, the variable is _loopcounter.</a:documentation>
      </optional>
      <oneOrMore>
        <interleave>
          <ref name="t_Switchcontents"/>
        </interleave>
      </oneOrMore>
    </element>
  </define>

  <define name="e_FontFace">
    <element name="Fontface">
      <a:documentation docid="fontface">Switch to a different font family.</a:documentation>
      <ref name="a_xmlid"/>
      <attribute name="fontfamily"/>
      <ref name="t_values"/>
    </element>
  </define>

  <define name="e_Pageformat">
    <element name="Pageformat">
      <ref name="a_xmlid"/>
      <attribute name="width"/>
      <attribute name="height"/>
    </element>
  </define>

  <define name="e_SaveDataset">
    <element name="SaveDataset">
      <a:documentation docid="savedataset">Save an XML file under the given name. Load (and execute) the file with »LoadDataset«. The contents is a
                sequence, for example from the commands »Element« and »Attribute«.</a:documentation>
      <ref name="a_xmlid"/>
      <attribute name="filename"><data type="string"/></attribute>
      <a:documentation docid="savedataset/filename">Name of the data file</a:documentation>
      <attribute name="elementname"><data type="string"/></attribute>
      <a:documentation docid="savedataset/elementname">Name of the root element</a:documentation>
      <choice>
        <attribute name="select"><data type="string"/></attribute>
        <a:documentation docid="savedataset/select">Contents of the data file</a:documentation>
        <oneOrMore>
          <optional><ref name="e_Element"/></optional>
          <optional><ref name="e_SortSequence"/></optional>
          <optional><ref name="e_Sequence"/></optional>
          <optional><ref name="e_CopyOf"/></optional>
        </oneOrMore>
      </choice>
    </element>
  </define>

  <define name="e_Stylesheet">
    <element name="Stylesheet">
      <a:documentation docid="stylesheet">Insert a CSS stylesheet to change the appearance of the elements</a:documentation>
      <attribute name="filename">
        <a:documentation docid="stylesheet/filename">Filename of the stylesheet to insert</a:documentation>
      </attribute>
    </element>
  </define>

  <define name="e_Pagetype">
    <element name="Pagetype">
      <ref name="a_xmlid"/>
      <attribute name="name"/>
      <a:documentation docid="pagetype/name">Name of the page type. Not used currently. (text)</a:documentation>
      <attribute name="test"/>
      <a:documentation docid="pagetype/test">XPath expression that needs to resolve to true or false. If true, this page type gets used.</a:documentation>
      <ref name="e_Margin"/>
      <optional>
        <oneOrMore><ref name="e_PositioningArea"/></oneOrMore>
      </optional>
      <interleave>
        <optional>
          <element name="Grid">
            <a:documentation docid="pagetype/grid">Use a page specific grid.</a:documentation>
            <ref name="e_Grid"/>
          </element>
        </optional>
        <optional>
          <ref name="e_AtPageCreation"/>
        </optional>
        <optional>
          <ref name="e_AtPageShipout"/>
        </optional>
      </interleave>
    </element>
  </define>

  <define name="e_Sequence">
    <element name="Sequence">
      <a:documentation docid="sequence">Selects a subsequence of data from the XML.</a:documentation>
      <ref name="a_xmlid"/>
      <attribute name="select">
        <a:documentation docid="sequence/test">The name of the child elements for the selection.</a:documentation>
      </attribute>
    </element>
  </define>

  <define name="e_SetGrid">
    <element name="SetGrid">
      <ref name="a_xmlid"/>
      <attribute name="width"/>
      <attribute name="height"/>
    </element>
  </define>

  <define name="e_While">
    <element name="While">
      <a:documentation docid="while">Executes child elements until the condition (test) evaluates to false.</a:documentation>
      <ref name="a_xmlid"/>
      <attribute name="test"><data type="string"/></attribute>
      <a:documentation docid="while/test">XPath expression for the while loop.</a:documentation>
      <oneOrMore>
        <interleave>
          <ref name="t_Switchcontents"/>
        </interleave>
      </oneOrMore>
    </element>
  </define>

  <define name="e_SortSequence">
    <element name="SortSequence">
      <a:documentation docid="sortsequence">Sort the given sequence. The sequence should be stored in a variable because it's contents gets changed.</a:documentation>
      <ref name="a_xmlid"/>
      <attribute name="select">
        <a:documentation docid="sortsequence/select">The sequence (XML elements) that will be sorted. (XPath expression)</a:documentation>
      </attribute>
      <attribute name="criterium">
        <a:documentation docid="sortsequence/criterium">The attribute that is used as a key for the sort. (text)</a:documentation>
      </attribute>
      <optional>
        <attribute name="removeduplicates"/>
        <a:documentation docid="sortsequence/removeduplicates">Remove duplicates. Name of the attribute that should be tested.</a:documentation>
      </optional>
    </element>
  </define>

  <define name="e_Sup">
    <element name="Sup">
      <a:documentation docid="sup">Superscript text</a:documentation>
      <ref name="a_xmlid"/>
      <ref name="t_values"/>
    </element>
  </define>

  <define name="e_Sub">
    <element name="Sub">
      <a:documentation docid="sub">Subscript text</a:documentation>
      <ref name="a_xmlid"/>
      <ref name="t_values"/>
    </element>
  </define>

  <define name="e_Table">
    <element name="Table">
      <a:documentation docid="table">Create a table</a:documentation>
      <ref name="a_xmlid"/>
      <optional><attribute name="width"/></optional>
      <a:documentation docid="table/width">The width of the table in grid units. (number)</a:documentation>
      <optional>
        <attribute name="padding"/>
        <a:documentation docid="table/padding">Distance from the edge to the contents in a table cell. (length)</a:documentation>
      </optional>
      <optional>
        <attribute name="columndistance"/>
        <a:documentation docid="table/columndistance">Distance between two table columns. (length)</a:documentation>
      </optional>
      <optional>
        <attribute name="leading"/>
        <a:documentation docid="table/rowdistance">Distance between two rows. (length)</a:documentation>
      </optional>
      <optional>
        <attribute name="textformat"/>
        <a:documentation docid="table/textformat">Default textformat for all text in the table</a:documentation>
      </optional>
      <optional>
        <attribute name="eval"/>
        <a:documentation docid="table/eval">Executes the given XPath expression, discarding the output.</a:documentation>
      </optional>
      <optional>
        <attribute name="stretch">
          <a:documentation docid="table/stretch">Stretch the table to the given width if necessary. Tables could be narrower than the given width. This attribute determines what to do in this case.</a:documentation>
          <choice>
            <value>max</value>
            <a:documentation docid="table/stretch/max">Stretch the table to the given width if necessary.</a:documentation>
            <value>no</value>
            <a:documentation docid="table/stretch/no">Do not stretch the table even if it is narrower than the given width.</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="fontface">
          <a:documentation docid="table/fontface">Fontfamily to be used for the table. Must be defined with »DefineFontfamily«.</a:documentation>
        </attribute></optional>
      <oneOrMore>
        <interleave>
          <optional>
            <ref name="e_Tablehead"/>
          </optional>
          <optional>
            <element name="Tablefoot">
              <a:documentation docid="table/foot">Table foot that gets repeated on every page.</a:documentation>
              <ref name="a_xmlid"/>
              <optional>
                <attribute name="page">
                  <a:documentation docid="table/foot/page">The page selector for the table foot</a:documentation>
                  <choice>
                    <value>all</value>
                    <a:documentation docid="table/foot/page/all">This table foot appears on all pages (default)</a:documentation>
                    <value>last</value>
                    <a:documentation docid="table/foot/page/last">This table foot appears on the last page</a:documentation>
                  </choice>
                </attribute>
              </optional>
              <oneOrMore>
                <interleave>
                  <optional><ref name="e_Tablerule"/></optional>
                  <optional><ref name="e_CopyOf"/></optional>
                  <optional><ref name="e_Tr"/></optional>
                </interleave>
              </oneOrMore>
            </element>
          </optional>
          <optional><ref name="e_Columns"/></optional>
          <optional><ref name="e_Tr"/></optional>
          <optional><ref name="e_CopyOf"/></optional>
          <optional><ref name="e_Tablerule"/></optional>
          <optional><ref name="e_Message"/></optional>
          <optional><ref name="e_Switch"/></optional>
          <optional><ref name="e_Loop"/></optional>
          <optional><ref name="e_ForAll"/></optional>
        </interleave>
      </oneOrMore>
    </element>
  </define>

  <define name="e_Tablehead">
    <element name="Tablehead">
      <a:documentation docid="table/head">Table head that gets repeated on every page.</a:documentation>
      <ref name="a_xmlid"/>
      <optional>
        <attribute name="page">
          <a:documentation docid="table/head/page">The page selector for the table head.</a:documentation>
          <choice>
            <value>all</value>
            <a:documentation docid="table/head/page/all">This table head appears on all pages (default)</a:documentation>
            <value>first</value>
            <a:documentation docid="table/head/page/first">This table head appears on the first page</a:documentation>
            <value>even</value>
            <value>odd</value>
          </choice>
        </attribute>
      </optional>
      <oneOrMore>
        <interleave>
          <optional><ref name="e_Tablerule"/></optional>
          <optional><ref name="e_CopyOf"/></optional>
          <optional><ref name="e_Tr"/></optional>
        </interleave>
      </oneOrMore>
    </element>
  </define>

  <define name="e_Tablerule">
    <element name="Tablerule">
      <a:documentation docid="tablerule">Create a horizontal rule between two rows.</a:documentation>
      <ref name="a_xmlid"/>
      <optional>
        <attribute name="rulewidth"/>
        <a:documentation docid="tablerule/rulewidth">The thickness of the horizontal rule. Example: 3pt</a:documentation>
      </optional>
      <optional>
        <attribute name="color">
          <a:documentation docid="tablerule/color">Color of the rule.</a:documentation>
        </attribute>
      </optional>
    </element>
  </define>

  <define name="e_Td">
    <element name="Td">
      <ref name="a_xmlid"/>
      <ref name="a_classid"/>
      <optional>
        <attribute name="colspan">
          <a:documentation docid="td/colspan">The number of columns the cell spans. Default: 1</a:documentation>
          <!-- this is an integer but it can also be a string like {...}  -->
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="rowspan">
          <a:documentation docid="td/rowspan">The number of rows the table cell spans. Default: 1</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="align">
          <a:documentation docid="td/align">Horizontal alignment</a:documentation>
          <choice>
            <value>left</value>
            <a:documentation docid="td/align/left">Left aligned (ragged right)</a:documentation>
            <value>center</value>
            <a:documentation docid="td/align/center">Centered</a:documentation>
            <value>right</value>
            <a:documentation docid="td/align/right">Right aligned (ragged left).</a:documentation>
            <!-- it can also be a string like {...}  -->
            <data type="string"/>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="backgroundcolor">
          <a:documentation docid="td/backgroundcolor">Background color of the table cell.</a:documentation>
        </attribute>
      </optional>
      <optional>
        <ref name="a_valign"/>
      </optional>
      <optional>
        <attribute name="border-left"/>
        <a:documentation docid="td/borderleft">Width of the left frame</a:documentation>
      </optional>
      <optional>
        <attribute name="border-right"/>
        <a:documentation docid="td/borderright">Width of the right frame</a:documentation>
      </optional>
      <optional>
        <attribute name="border-top"/>
        <a:documentation docid="td/bordertop">Width of the top frame</a:documentation>
      </optional>
      <optional>
        <attribute name="border-bottom"/>
        <a:documentation docid="td/borderbottom">Width of the bottom frame</a:documentation>
      </optional>
      <optional>
        <attribute name="border-left-color"/>
        <a:documentation docid="td/borderleftcolor">Color of the left frame</a:documentation>
      </optional>
      <optional>
        <attribute name="border-right-color"/>
        <a:documentation docid="td/borderrightcolor">Color of the right frame</a:documentation>
      </optional>
      <optional>
        <attribute name="border-top-color"/>
        <a:documentation docid="td/bordertopcolor">Color of the top frame</a:documentation>
      </optional>
      <optional>
        <attribute name="border-bottom-color"/>
        <a:documentation docid="td/borderbottomcolor">Color of the bottom frame</a:documentation>
      </optional>
      <optional>
        <attribute name="padding"/>
        <a:documentation docid="td/padding">Shorthand for the padding-* attributes</a:documentation>
      </optional>
      <optional>
        <attribute name="padding-left"/>
        <a:documentation docid="td/paddingleft">Left inner distance between the frame and the contents of the cell. (length)</a:documentation>
      </optional>
      <optional>
        <attribute name="padding-right"/>
        <a:documentation docid="td/paddingright">Right inner distance between the frame and the contents of the cell. (length)</a:documentation>
      </optional>
      <optional>
        <attribute name="padding-top"/>
        <a:documentation docid="td/paddingtop">Top inner distance between the frame and the contents of the cell. (length)</a:documentation>
      </optional>
      <optional>
        <attribute name="padding-bottom"/>
        <a:documentation docid="td/paddingbottom">Bottom inner distance between the frame and the contents of the cell. (length)</a:documentation>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="e_Paragraph"/>
          <ref name="e_Table"/>
          <ref name="e_Image"/>
          <ref name="e_CopyOf"/>
          <ref name="e_Switch"/>
          <ref name="e_ForAll"/>
          <ref name="e_Loop"/>
          <ref name="e_Barcode"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="e_Tr">
    <element name="Tr">
      <a:documentation docid="tr">Create a table row</a:documentation>
      <ref name="a_xmlid"/>
      <optional>
        <attribute name="top-distance"/>
        <a:documentation docid="tr/topdistance">Amount of spacing above the row, unless at the top of the table</a:documentation>
      </optional>
      <optional>
        <attribute name="break-below">
          <choice>
            <value>no</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="data">
          <a:documentation docid="tr/data">Save dynamic data, retrieve with $_last_tr_data Data attached to a table row. Can be accessed in the tablehead and tablefoot.</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="backgroundcolor">
          <a:documentation docid="tr/backgroundcolor">Background color of th table row. (text)</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="minheight">
          <a:documentation docid="tr/minheight">Minimal height of the table row in grid cells</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="align">
          <a:documentation docid="tr/align">Determines the horizontal alignment of all cells of this row.</a:documentation>
          <choice>
            <value>left</value>
            <a:documentation docid="td/align/left">Left aligned (ragged right)</a:documentation>
            <value>center</value>
            <a:documentation docid="td/align/center">Centered</a:documentation>
            <value>right</value>
            <a:documentation docid="td/align/right">Right aligned (ragged left).</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <ref name="a_valign"/>
      </optional>
      <oneOrMore>
        <optional>
          <ref name="e_Message"/>
        </optional>
        <optional>
          <ref name="e_Td"/>
        </optional>
        <optional>
          <ref name="e_CopyOf"/>
        </optional>
        <optional>
          <ref name="e_Switch"/>
        </optional>
        <optional>
          <ref name="e_ForAll"/>
        </optional>
        <optional><ref name="e_Loop"/></optional>
      </oneOrMore>
    </element>
  </define>

  <define name="e_Hyphenation">
    <element name="Hyphenation">
      <a:documentation docid="hyphenation">Gives hyphenation correction for the automatic hyphenation algorithm. Example: per-spec-tive</a:documentation>
      <ref name="a_xmlid"/>
      <text/>
    </element>
  </define>

  <define name="e_Columns">
    <element name="Columns">
      <a:documentation docid="columns">Contains »Column« elements. The number of »Column« elements must coincide with the table.</a:documentation>
      <ref name="a_xmlid"/>
      <oneOrMore>
        <element name="Column">
          <a:documentation docid="column">Determines the Properties of a table column.</a:documentation>
          <ref name="a_xmlid"/>
          <optional>
            <attribute name="width"/>
            <a:documentation docid="column/width">Valid input are length values (e.g 12mm) or *-multipliers (e.g. 3*). The *-multipliers are spread proportionally across the remaining width of the table.</a:documentation>
          </optional>
          <optional>
            <attribute name="backgroundcolor"/>
            <a:documentation docid="column/backgroundcolor">Color of the table column</a:documentation>
          </optional>
          <optional>
            <attribute name="align">
              <a:documentation docid="column/align">Horizontal alignment of all cells in this column.</a:documentation>
            <choice>
              <value>left</value>
              <a:documentation docid="td/align/left">Left aligned (ragged right)</a:documentation>
              <value>center</value>
              <a:documentation docid="td/align/center">Centered</a:documentation>
              <value>right</value>
              <a:documentation docid="td/align/right">Right aligned (ragged left).</a:documentation>
            </choice>
            </attribute>
          </optional>
          <optional>
            <ref name="a_valign"/>
          </optional>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="e_Barcode">
    <element name="Barcode">
      <a:documentation docid="barcode">Insert 1d or 2d barcode</a:documentation>
      <attribute name="select">
        <a:documentation docid="barcode/select">The contents that should be encoded in the barcode.</a:documentation>
      </attribute>
      <optional>
        <attribute name="fontface">
          <a:documentation docid="barcode/fontface">The fontface to be used if text is written beneath the barcode.</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="height">
          <a:documentation docid="barcode/height">Height of the barcode (number or length)</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="width">
          <a:documentation docid="barcode/width">Width of the barcode (number or length)</a:documentation>
        </attribute>
      </optional>
      <choice>
        <group>
          <attribute name="type">
            <a:documentation docid="barcode/type">Determines the type of the barcode</a:documentation>
            <value>EAN13</value>
            <a:documentation docid="barcode/type/ean13">European article number</a:documentation>
          </attribute>
          <optional>
            <attribute name="showtext">
              <a:documentation docid="barcode/ean13/showtext">Show the digits of the barcode in plain text</a:documentation>
              <choice>
                <value>yes</value>
                <a:documentation docid="barcode/ean13/showtext/yes">Show digits beneath barcode</a:documentation>
                <value>no</value>
                <a:documentation docid="barcode/ean13/showtext/no">Only show barcode, not text</a:documentation>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="overshoot">
              <a:documentation docid="barcode/overshoot">Draw line extensions (0-100)</a:documentation>
            </attribute>
          </optional>
        </group>
        <group>
          <attribute name="type">
            <a:documentation docid="barcode/type">Determines the type of the barcode</a:documentation>
            <value>Code128</value>
            <a:documentation docid="barcode/type/code128">Code 128 for text and digits</a:documentation>
          </attribute>
          <optional>
            <attribute name="showtext">
              <a:documentation docid="barcode/code128/showtext">Show the text of the barcode</a:documentation>
              <choice>
                <value>yes</value>
                <a:documentation docid="barcode/code128/showtext/yes">Show text beneath barcode</a:documentation>
                <value>no</value>
                <a:documentation docid="barcode/code128/showtext/no">Only show barcode, not text</a:documentation>
              </choice>
            </attribute>
          </optional>
        </group>
        <group>
          <attribute name="type">
            <a:documentation docid="barcode/type">Determines the type of the barcode</a:documentation>
            <value>QRCode</value>
            <a:documentation docid="barcode/type/qrcode">QRCode for text and digits</a:documentation>
          </attribute>
        </group>
      </choice>
      <empty/>
    </element>
  </define>

  <define name="e_Textblock">
    <element name="Textblock">
      <a:documentation docid="textblock">Create a rectengular area with text. The text can contain several paragraphs denoted as »Paragraph«.</a:documentation>
      <ref name="a_xmlid"/>
      <oneOrMore>
        <choice>
          <ref name="e_Switch"/>
          <ref name="e_Paragraph"/>
          <ref name="e_Ol"/>
          <ref name="e_Ul"/>
          <ref name="e_CopyOf"/>
          <ref name="e_Action"/>
          <ref name="e_Bookmark"/>
          <ref name="e_Value"/>
          <ref name="e_ForAll"/>
        </choice>
      </oneOrMore>
      <optional>
        <attribute name="width"/>
      </optional>
      <optional><attribute name="textformat"/></optional>
      <optional>
        <attribute name="fontface"/>
        <a:documentation docid="textblock/fontface">Determine the default fontfamily of the text block. (text)</a:documentation>
      </optional>
      <optional>
        <attribute name="color"/>
        <a:documentation docid="textblock/color">Default color of the textblock. (text)</a:documentation>
      </optional>
      <optional>
        <attribute name="angle"/>
        <a:documentation docid="textblock/angle">Rotate the text by the angle given (counterclockwise). Example: angle="45"</a:documentation>
      </optional>
      <optional>
        <attribute name="columns"/>
        <a:documentation docid="textblock/columns">The number of columns.</a:documentation>
      </optional>
      <optional>
        <attribute name="columndistance"/>
        <a:documentation docid="textblock/columndistance">The distance between two columns. The value must be either a lenght (e.g. 3mm) or a number of grid cells.</a:documentation>
      </optional>
    </element>
  </define>

  <define name="e_Value">
    <element name="Value">
      <a:documentation docid="value">Insert a textual representation of the value (XPath expression).</a:documentation>
      <ref name="a_xmlid"/>
      <choice>
        <attribute name="select">
          <a:documentation docid="value/select">XPath expression to determine the contents.</a:documentation>
        </attribute>
        <interleave>
          <zeroOrMore>
            <text/>
          </zeroOrMore>
          <zeroOrMore>
            <element name="br">
              <empty/>
            </element>
          </zeroOrMore>
        </interleave>
      </choice>
    </element>
  </define>

  <define name="e_U">
    <element name="U">
      <a:documentation docid="u">Turn on underlining.</a:documentation>
      <ref name="a_xmlid"/>
      <ref name="t_values"/>
    </element>
  </define>

  <define name="e_Ul">
    <element name="Ul">
      <a:documentation docid="ul">Itemize list (with bullet points, just like HTML)</a:documentation>
      <oneOrMore>
        <choice>
          <ref name="e_Li"/>
          <ref name="e_ForAll"/>
        </choice>
      </oneOrMore>
    </element>
  </define>

  <define name="e_URL">
    <element name="URL">
      <a:documentation docid="url">Marks up a URL.</a:documentation>
      <ref name="a_xmlid"/>
      <ref name="t_values"/>
    </element>
  </define>

  <define name="e_SetVariable">
    <element name="SetVariable">
      <a:documentation docid="setvariable">Sets a variable to a given value. The contents is either determined by the attribute »select« as an
                XPath expression or the contents of the element itself.</a:documentation>
      <ref name="a_xmlid"/>
      <optional>
        <attribute name="trace">
          <choice>
            <value>yes</value>
            <value>no</value>
          </choice>
        </attribute>
        <a:documentation docid="setvariable/trace">Inserts internal information of the »Setvariable« command in the logfile.</a:documentation>
      </optional>
      <attribute name="variable"/>
      <a:documentation docid="setvariable/variable">Name of the variable that gets the contents. (text)</a:documentation>
      <choice>
        <attribute name="select"/>
        <a:documentation docid="setvariable/select">XPath-Expression for the variable contents. Otherwise the contents of the command »SetVariable« gets taken as the contents of the variable.</a:documentation>
        <oneOrMore>
          <interleave>
            <optional><ref name="e_Paragraph"/></optional>
            <optional><ref name="e_Value"/></optional>
            <optional><ref name="e_CopyOf"/></optional>
            <optional><ref name="e_Sequence"/></optional>
            <optional><ref name="e_Element"/></optional>
            <optional><ref name="e_Attribute"/></optional>
            <optional><ref name="e_Switch"/></optional>
            <optional><ref name="e_Loop"/></optional>
            <optional><ref name="e_ForAll"/></optional>
            <optional><ref name="e_Tr"/></optional>
            <optional><ref name="e_Td"/></optional>
            <optional><ref name="e_Columns"/></optional>
            <optional><ref name="e_Tablerule"/></optional>
            <optional><ref name="e_SortSequence"/></optional>
            <optional><ref name="e_Tablehead"/></optional>
          </interleave>
        </oneOrMore>
      </choice>
    </element>
  </define>

</grammar>