schema/layoutschema-en.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--This file is generated from commands.xml by cmd2rng.xsl. Don't edit it!-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:sd="urn:speedata.de:2011/publisher/documentation/functions"
         xmlns:sddoc="urn:speedata.de:2011/publisher/documentation"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         ns="urn:speedata.de:2009/publisher/en">
   <start>
      <ref name="e_Layout"/>
   </start>
   <define name="e_A">
      <element name="A">
         <a:documentation>Insert Hyperlink to a URL.</a:documentation>
         <attribute name="href">
            <a:documentation>The destination of the hyperlink (URI). Example: http://www.speedata.de</a:documentation>
         </attribute>
         <optional>
            <ref name="e_Value"/>
         </optional>
      </element>
   </define>
   <define name="e_Action">
      <element name="Action">
         <a:documentation>Associates an action with a text. Once the text is placed on the page, the associated action will be executed. The action
      can be compared to an invisible character. When the publisher outputs the character, the corresponding instructions will be run.</a:documentation>
         <optional>
            <ref name="e_AddToList"/>
         </optional>
         <oneOrMore>
            <ref name="e_Mark"/>
         </oneOrMore>
      </element>
   </define>
   <define name="e_AddToList">
      <element name="AddToList">
         <a:documentation/>
         <attribute name="select">
            <a:documentation/>
         </attribute>
         <attribute name="list">
            <a:documentation/>
         </attribute>
         <attribute name="key">
            <a:documentation/>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="e_AtPageShipout">
      <element name="AtPageShipout">
         <a:documentation>The enclosed instructions will be executed when the page is placed into the PDF file.</a:documentation>
         <optional>
            <ref name="e_LoadDataset"/>
         </optional>
         <optional>
            <ref name="e_SaveDataset"/>
         </optional>
         <optional>
            <ref name="e_PlaceObject"/>
         </optional>
         <optional>
            <ref name="e_Switch"/>
         </optional>
         <optional>
            <ref name="e_While"/>
         </optional>
         <optional>
            <ref name="e_ProcessNode"/>
         </optional>
         <optional>
            <ref name="e_Message"/>
         </optional>
         <optional>
            <ref name="e_NextFrame"/>
         </optional>
         <optional>
            <ref name="e_NewPage"/>
         </optional>
         <optional>
            <ref name="e_NextRow"/>
         </optional>
         <optional>
            <ref name="e_EmptyLine"/>
         </optional>
         <optional>
            <ref name="e_Group"/>
         </optional>
         <optional>
            <ref name="e_SortSequence"/>
         </optional>
         <optional>
            <ref name="e_Hyphenation"/>
         </optional>
         <optional>
            <ref name="e_SetVariable"/>
         </optional>
      </element>
   </define>
   <define name="e_AtPageCreation">
      <element name="AtPageCreation">
         <a:documentation>The contents of the element AtPageCreation are executed the first time the page is accessed.</a:documentation>
         <oneOrMore>
            <optional>
               <ref name="e_DefineColor"/>
            </optional>
            <optional>
               <ref name="e_EmptyLine"/>
            </optional>
            <optional>
               <ref name="e_ForAll"/>
            </optional>
            <optional>
               <ref name="e_Group"/>
            </optional>
            <optional>
               <ref name="e_Hyphenation"/>
            </optional>
            <optional>
               <ref name="e_LoadDataset"/>
            </optional>
            <optional>
               <ref name="e_Loop"/>
            </optional>
            <optional>
               <ref name="e_Message"/>
            </optional>
            <optional>
               <ref name="e_NewPage"/>
            </optional>
            <optional>
               <ref name="e_NextRow"/>
            </optional>
            <optional>
               <ref name="e_NextFrame"/>
            </optional>
            <optional>
               <ref name="e_Output"/>
            </optional>
            <optional>
               <ref name="e_PlaceObject"/>
            </optional>
            <optional>
               <ref name="e_ProcessNode"/>
            </optional>
            <optional>
               <ref name="e_SaveDataset"/>
            </optional>
            <optional>
               <ref name="e_SetVariable"/>
            </optional>
            <optional>
               <ref name="e_SortSequence"/>
            </optional>
            <optional>
               <ref name="e_Switch"/>
            </optional>
            <optional>
               <ref name="e_While"/>
            </optional>
            <optional>
               <ref name="e_InsertPages"/>
            </optional>
         </oneOrMore>

      </element>
   </define>
   <define name="e_Attribute">
      <element name="Attribute">
         <a:documentation>Create a data structure that can be saved to the harddrive with SaveDataset.</a:documentation>
         <attribute name="name">
            <a:documentation>Name of the attribute that is created.</a:documentation>
         </attribute>
         <attribute name="select">
            <a:documentation>The contents of the attribute</a:documentation>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="e_B">
      <element name="B">
         <a:documentation>Switch to fontface »bold«</a:documentation>
         <zeroOrMore>
            <choice>
               <ref name="e_Action"/>
               <ref name="e_A"/>
               <ref name="e_I"/>
               <ref name="e_B"/>
               <ref name="e_Br"/>
               <ref name="e_HSpace"/>
               <ref name="e_U"/>
               <ref name="e_Fontface"/>
               <ref name="e_Image"/>
               <ref name="e_Sub"/>
               <ref name="e_Sup"/>
               <ref name="e_URL"/>
               <ref name="e_Value"/>
               <ref name="e_Switch"/>
               <ref name="e_Loop"/>
               <ref name="e_ForAll"/>
            </choice>
         </zeroOrMore>
      </element>
   </define>
   <define name="e_Barcode">
      <element name="Barcode">
         <a:documentation>Print a 1d or 2d barcode. To be used in PlaceObject.</a:documentation>
         <attribute name="select">
            <a:documentation>The data to be encoded in the barcode.</a:documentation>
         </attribute>
         <optional>
            <attribute name="fontface">
               <a:documentation>Name of the fontface of the text that can be placed beneath the barcode. Not used in all codes.</a:documentation>
            </attribute>
         </optional>
         <attribute name="type">
            <a:documentation>Type of the barcode. One of EAN13, Code128 or QRCode.</a:documentation>
            <choice>
               <value>QRCode</value>
               <a:documentation xmlns="">Create an »optimal« QR code in terms of error correction and size.</a:documentation>
               <value>Code128</value>
               <a:documentation xmlns="">Generate a code 128 barcode for numbers and text.</a:documentation>
               <value>EAN13</value>
               <a:documentation xmlns="">Create an EAN13 barcode for 13 digits.</a:documentation>
            </choice>
         </attribute>
         <optional>
            <attribute name="width">
               <a:documentation>Width of the barcode</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="height">
               <a:documentation>Height of the barcode.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="showtext">
               <a:documentation>Should the text be written under the barcode?</a:documentation>
               <choice>
                  <value>yes</value>
                  <value>no</value>
                  <text/>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="e_Bold">
      <element name="Bold">
         <a:documentation>Name of the font face that should be used when switching to »bold«.</a:documentation>
         <attribute name="fontface">
            <a:documentation>Name of the fontface for bold.</a:documentation>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="e_BoldItalic">
      <element name="BoldItalic">
         <a:documentation>Name of the font face that should be used when switching to »bold italic«. </a:documentation>
         <attribute name="fontface">
            <a:documentation>Name of the fontface for bold italic.</a:documentation>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="e_Bookmark">
      <element name="Bookmark">
         <a:documentation>Create a bookmark for the PDF viewer (e.g. Adobe Reader). When the user clicks on a bookmark, the PDF viewer jumps to that place in the document.</a:documentation>
         <attribute name="select">
            <a:documentation>Title of the bookmark</a:documentation>
         </attribute>
         <attribute name="level">
            <a:documentation>1 is the top level, 2 is the next level, etc.</a:documentation>
         </attribute>
         <optional>
            <attribute name="open">
               <a:documentation>If yes, the child elements are shown. If no, the child elements are hidden.</a:documentation>
               <choice>
                  <value>yes</value>
                  <value>no</value>
                  <text/>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="e_Box">
      <element name="Box">
         <a:documentation>Create a rectangular colored area. The area must fit the grid cells.</a:documentation>
         <attribute name="width">
            <a:documentation>Width of the box in grid cells or in absolute values.</a:documentation>
         </attribute>
         <attribute name="height">
            <a:documentation>Height of the box in grid cells.</a:documentation>
         </attribute>
         <attribute name="backgroundcolor">
            <a:documentation>Color of the box.</a:documentation>
         </attribute>
         <optional>
            <attribute name="bleed">
               <a:documentation>Lets the box increase its size by the amount of trim given in the options. Useful for thumb indexes. The contents of the attribute is either »left«, »right«, »top« or »bottom« or any combination such as »top,right«.</a:documentation>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="e_Br">
      <element name="Br">
         <a:documentation>Insert a newline</a:documentation>
         <empty/>
      </element>
   </define>
   <define name="e_Case">
      <element name="Case">
         <a:documentation/>
         <attribute name="test">
            <a:documentation/>
         </attribute>
         <oneOrMore>
            <optional>
               <ref name="e_Action"/>
            </optional>
            <optional>
               <ref name="e_Barcode"/>
            </optional>
            <optional>
               <ref name="e_Column"/>
            </optional>
            <optional>
               <ref name="e_Copy-of"/>
            </optional>
            <optional>
               <ref name="e_DefineColor"/>
            </optional>
            <optional>
               <ref name="e_EmptyLine"/>
            </optional>
            <optional>
               <ref name="e_Fontface"/>
            </optional>
            <optional>
               <ref name="e_ForAll"/>
            </optional>
            <optional>
               <ref name="e_Group"/>
            </optional>
            <optional>
               <ref name="e_HSpace"/>
            </optional>
            <optional>
               <ref name="e_Hyphenation"/>
            </optional>
            <optional>
               <ref name="e_Image"/>
            </optional>
            <optional>
               <ref name="e_InsertPages"/>
            </optional>
            <optional>
               <ref name="e_Li"/>
            </optional>
            <optional>
               <ref name="e_LoadDataset"/>
            </optional>
            <optional>
               <ref name="e_Loop"/>
            </optional>
            <optional>
               <ref name="e_Message"/>
            </optional>
            <optional>
               <ref name="e_NewPage"/>
            </optional>
            <optional>
               <ref name="e_NextFrame"/>
            </optional>
            <optional>
               <ref name="e_NextRow"/>
            </optional>
            <optional>
               <ref name="e_Output"/>
            </optional>
            <optional>
               <ref name="e_Paragraph"/>
            </optional>
            <optional>
               <ref name="e_PlaceObject"/>
            </optional>
            <optional>
               <ref name="e_ProcessNode"/>
            </optional>
            <optional>
               <ref name="e_SaveDataset"/>
            </optional>
            <optional>
               <ref name="e_SavePages"/>
            </optional>
            <optional>
               <ref name="e_SetVariable"/>
            </optional>
            <optional>
               <ref name="e_SortSequence"/>
            </optional>
            <optional>
               <ref name="e_Sub"/>
            </optional>
            <optional>
               <ref name="e_Sup"/>
            </optional>
            <optional>
               <ref name="e_Switch"/>
            </optional>
            <optional>
               <ref name="e_Tablerule"/>
            </optional>
            <optional>
               <ref name="e_Td"/>
            </optional>
            <optional>
               <ref name="e_Tr"/>
            </optional>
            <optional>
               <ref name="e_Value"/>
            </optional>
            <optional>
               <ref name="e_While"/>
            </optional>
         </oneOrMore>
      </element>
   </define>
   <define name="e_Contents">
      <element name="Contents">
         <a:documentation/>
         <oneOrMore>
            <optional>
               <ref name="e_DefineColor"/>
            </optional>
            <optional>
               <ref name="e_EmptyLine"/>
            </optional>
            <optional>
               <ref name="e_ForAll"/>
            </optional>
            <optional>
               <ref name="e_Group"/>
            </optional>
            <optional>
               <ref name="e_Hyphenation"/>
            </optional>
            <optional>
               <ref name="e_LoadDataset"/>
            </optional>
            <optional>
               <ref name="e_Loop"/>
            </optional>
            <optional>
               <ref name="e_Message"/>
            </optional>
            <optional>
               <ref name="e_NewPage"/>
            </optional>
            <optional>
               <ref name="e_NextRow"/>
            </optional>
            <optional>
               <ref name="e_NextFrame"/>
            </optional>
            <optional>
               <ref name="e_Output"/>
            </optional>
            <optional>
               <ref name="e_PlaceObject"/>
            </optional>
            <optional>
               <ref name="e_ProcessNode"/>
            </optional>
            <optional>
               <ref name="e_SaveDataset"/>
            </optional>
            <optional>
               <ref name="e_SetVariable"/>
            </optional>
            <optional>
               <ref name="e_SortSequence"/>
            </optional>
            <optional>
               <ref name="e_Switch"/>
            </optional>
            <optional>
               <ref name="e_While"/>
            </optional>
            <optional>
               <ref name="e_InsertPages"/>
            </optional>
         </oneOrMore>
      </element>
   </define>
   <define name="e_Column">
      <element name="Column">
         <a:documentation/>
         <optional>
            <attribute name="width">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="align">
               <a:documentation>The horizontal alignment of the table cells in this column. Can be overridden in a cell (Td).</a:documentation>
               <choice>
                  <value>left</value>
                  <a:documentation xmlns="">The table cells are left aligned.</a:documentation>
                  <value>center</value>
                  <a:documentation xmlns="">The table cells are horizontally centerd.</a:documentation>
                  <value>right</value>
                  <a:documentation xmlns="">The table cells are right aligned.</a:documentation>
               </choice>
            </attribute>
         </optional>
         <optional>
            <attribute name="valign">
               <a:documentation>The vertical alignment of the cells in this column. Can be overridden in a cell (Td).</a:documentation>
               <choice>
                  <value>top</value>
                  <a:documentation xmlns="">The table cells are top aligned.</a:documentation>
                  <value>middle</value>
                  <a:documentation xmlns="">The table cells are vertically centered.</a:documentation>
                  <value>bottom</value>
                  <a:documentation xmlns="">The table cells are aligned at the bottom.</a:documentation>
               </choice>
            </attribute>
         </optional>
         <optional>
            <attribute name="backgroundcolor">
               <a:documentation>All cells in this column have this background color.</a:documentation>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="e_Columns">
      <element name="Columns">
         <a:documentation/>
         <oneOrMore>
            <choice>
               <ref name="e_Loop"/>
               <ref name="e_Column"/>
            </choice>
         </oneOrMore>
      </element>
   </define>
   <define name="e_Copy-of">
      <element name="Copy-of">
         <a:documentation/>
         <attribute name="select">
            <a:documentation>The selection (most likely a variable) that is to be copied.</a:documentation>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="e_DefineColor">
      <element name="DefineColor">
         <a:documentation>Colors defined with DefineColors can be referenced later by their name.</a:documentation>
         <optional>
            <attribute name="model">
               <a:documentation>Color model to be used for the color. Currently “rgb”, “cmyk” and “gray” are supported. More on request.</a:documentation>
               <choice>
                  <value>cmyk</value>
                  <a:documentation xmlns="">CMYK (cyan, magenta, yellow, key/black)</a:documentation>
                  <value>rgb</value>
                  <a:documentation xmlns="">RGB (red, green, blue)</a:documentation>
                  <value>gray</value>
                  <a:documentation xmlns="">Gray (0=Black)</a:documentation>
               </choice>
            </attribute>
         </optional>
         <optional>
            <attribute name="name">
               <a:documentation>The name of the color to be defined.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="r">
               <a:documentation>Red part with RGB</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="g">
               <a:documentation>Green part with RGB / gray part when using the model gray</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="b">
               <a:documentation>Blue part with RGB</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="c">
               <a:documentation>Cyan part with CMYK</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="m">
               <a:documentation>Magenta part with CMYK</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="y">
               <a:documentation>Yellow part with CMYK</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="k">
               <a:documentation>Black part with CMYK</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="value">
               <a:documentation/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="e_DefineFontfamily">
      <element name="DefineFontfamily">
         <a:documentation/>
         <attribute name="name">
            <a:documentation/>
         </attribute>
         <attribute name="fontsize">
            <a:documentation/>
         </attribute>
         <attribute name="leading">
            <a:documentation/>
         </attribute>
         <optional>
            <ref name="e_Regular"/>
         </optional>
         <optional>
            <ref name="e_Italic"/>
         </optional>
         <optional>
            <ref name="e_Bold"/>
         </optional>
         <optional>
            <ref name="e_BoldItalic"/>
         </optional>
      </element>
   </define>
   <define name="e_DefineTextformat">
      <element name="DefineTextformat">
         <a:documentation>Define text formatting instructions. A textformat is used to align and indent text and create margins and rules before and after the text.</a:documentation>
         <attribute name="name">
            <a:documentation>Name of the textformat that is used later in the layout.</a:documentation>
         </attribute>
         <optional>
            <attribute name="alignment">
               <a:documentation>Determines the formatting of the text.</a:documentation>
               <choice>
                  <value>justified</value>
                  <a:documentation xmlns="">Textblock has a rectangular shape.</a:documentation>
                  <value>leftaligned</value>
                  <a:documentation xmlns="">The text is ragged at the right margin.</a:documentation>
                  <value>rightaligned</value>
                  <a:documentation xmlns="">The text is ragged right at the left margin.</a:documentation>
                  <value>centered</value>
                  <a:documentation xmlns="">The text is ragged at the left and the right margin.</a:documentation>
               </choice>
            </attribute>
         </optional>
         <optional>
            <attribute name="indentation">
               <a:documentation>The amount of indentation.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="rows">
               <a:documentation>The number of rows with indentation given in the attribute indentation. If the number is negative, this determiens the number of rows that are not indented.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="border-top">
               <a:documentation>The thickness of the rule above the text.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="border-bottom">
               <a:documentation>The thickness of the rule below the text.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="margin-bottom">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="break-below">
               <a:documentation>(Dis-)Allow break below the text.</a:documentation>
               <choice>
                  <value>yes</value>
                  <value>no</value>
                  <text/>
               </choice>
            </attribute>
         </optional>
         <optional>
            <attribute name="padding-top">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="margin-top">
               <a:documentation/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="e_Element">
      <element name="Element">
         <a:documentation/>
         <attribute name="name">
            <a:documentation/>
         </attribute>
         <oneOrMore>
            <interleave>
               <optional>
                  <ref name="e_Element"/>
               </optional>
               <optional>
                  <ref name="e_Attribute"/>
               </optional>
               <optional>
                  <ref name="e_Copy-of"/>
               </optional>
            </interleave>
         </oneOrMore>
      </element>
   </define>
   <define name="e_EmptyLine">
      <element name="EmptyLine">
         <a:documentation/>
         <empty/>
      </element>
   </define>
   <define name="e_Fontface">
      <element name="Fontface">
         <a:documentation/>
         <attribute name="fontfamily">
            <a:documentation/>
         </attribute>
         <zeroOrMore>
            <choice>
               <ref name="e_Action"/>
               <ref name="e_A"/>
               <ref name="e_I"/>
               <ref name="e_B"/>
               <ref name="e_Br"/>
               <ref name="e_HSpace"/>
               <ref name="e_U"/>
               <ref name="e_Fontface"/>
               <ref name="e_Image"/>
               <ref name="e_Sub"/>
               <ref name="e_Sup"/>
               <ref name="e_URL"/>
               <ref name="e_Value"/>
               <ref name="e_Switch"/>
               <ref name="e_Loop"/>
               <ref name="e_ForAll"/>
            </choice>
         </zeroOrMore>
      </element>
   </define>
   <define name="e_ForAll">
      <element name="ForAll">
         <a:documentation>Executes the given commands for all elements in the data XML file that match the contents of the attribute select.</a:documentation>
         <attribute name="select">
            <a:documentation>Selects the child elements from the data XML</a:documentation>
         </attribute>
         <oneOrMore>
            <interleave>
               <optional>
                  <ref name="e_Action"/>
               </optional>
               <optional>
                  <ref name="e_Barcode"/>
               </optional>
               <optional>
                  <ref name="e_Column"/>
               </optional>
               <optional>
                  <ref name="e_Copy-of"/>
               </optional>
               <optional>
                  <ref name="e_DefineColor"/>
               </optional>
               <optional>
                  <ref name="e_EmptyLine"/>
               </optional>
               <optional>
                  <ref name="e_Fontface"/>
               </optional>
               <optional>
                  <ref name="e_ForAll"/>
               </optional>
               <optional>
                  <ref name="e_Group"/>
               </optional>
               <optional>
                  <ref name="e_HSpace"/>
               </optional>
               <optional>
                  <ref name="e_Hyphenation"/>
               </optional>
               <optional>
                  <ref name="e_Image"/>
               </optional>
               <optional>
                  <ref name="e_InsertPages"/>
               </optional>
               <optional>
                  <ref name="e_Li"/>
               </optional>
               <optional>
                  <ref name="e_LoadDataset"/>
               </optional>
               <optional>
                  <ref name="e_Loop"/>
               </optional>
               <optional>
                  <ref name="e_Message"/>
               </optional>
               <optional>
                  <ref name="e_NewPage"/>
               </optional>
               <optional>
                  <ref name="e_NextFrame"/>
               </optional>
               <optional>
                  <ref name="e_NextRow"/>
               </optional>
               <optional>
                  <ref name="e_Output"/>
               </optional>
               <optional>
                  <ref name="e_Paragraph"/>
               </optional>
               <optional>
                  <ref name="e_PlaceObject"/>
               </optional>
               <optional>
                  <ref name="e_ProcessNode"/>
               </optional>
               <optional>
                  <ref name="e_SaveDataset"/>
               </optional>
               <optional>
                  <ref name="e_SavePages"/>
               </optional>
               <optional>
                  <ref name="e_SetVariable"/>
               </optional>
               <optional>
                  <ref name="e_SortSequence"/>
               </optional>
               <optional>
                  <ref name="e_Sub"/>
               </optional>
               <optional>
                  <ref name="e_Sup"/>
               </optional>
               <optional>
                  <ref name="e_Switch"/>
               </optional>
               <optional>
                  <ref name="e_Tablerule"/>
               </optional>
               <optional>
                  <ref name="e_Td"/>
               </optional>
               <optional>
                  <ref name="e_Tr"/>
               </optional>
               <optional>
                  <ref name="e_Value"/>
               </optional>
               <optional>
                  <ref name="e_While"/>
               </optional>
            </interleave>
         </oneOrMore>
      </element>
   </define>
   <define name="e_Grid">
      <element name="Grid">
         <a:documentation/>
         <attribute name="width">
            <a:documentation/>
         </attribute>
         <attribute name="height">
            <a:documentation/>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="e_Group">
      <element name="Group">
         <a:documentation>Create a virtual page that behaves like a real page but is not placed into the PDF.</a:documentation>
         <attribute name="name">
            <a:documentation>Name of the group that is created.</a:documentation>
         </attribute>
         <optional>
            <ref name="e_Contents"/>
         </optional>
         <optional>
            <ref name="e_Grid"/>
         </optional>
      </element>
   </define>
   <define name="e_Hyphenation">
      <element name="Hyphenation">
         <a:documentation/>
         <empty/>
      </element>
   </define>
   <define name="e_HSpace">
      <element name="HSpace">
         <a:documentation>Create a horizontal stretching space. The space will take up no width  as a minimum but is able to stretch up to infinity. Useful in single line contexts.In normal text there will surprising little stretching involved due to the global paragraph optimization alorithm.
        You will see that all other word spaces will have the minimum width and the excessive whitespace is accumulated at the strechable space.</a:documentation>
         <empty/>
      </element>
   </define>
   <define name="e_I">
      <element name="I">
         <a:documentation/>
         <optional>
            <ref name="e_B"/>
         </optional>
         <optional>
            <ref name="e_Image"/>
         </optional>
         <optional>
            <ref name="e_Switch"/>
         </optional>
         <optional>
            <ref name="e_I"/>
         </optional>
         <optional>
            <ref name="e_Fontface"/>
         </optional>
         <optional>
            <ref name="e_Sub"/>
         </optional>
         <optional>
            <ref name="e_Sup"/>
         </optional>
      </element>
   </define>
   <define name="e_Include">
      <element name="Include">
         <a:documentation>Includes other layout files.</a:documentation>
         <optional>
            <ref name="e_Record"/>
         </optional>
         <optional>
            <ref name="e_SetVariable"/>
         </optional>
         <optional>
            <ref name="e_Hyphenation"/>
         </optional>
         <optional>
            <ref name="e_SetGrid"/>
         </optional>
         <optional>
            <ref name="e_Pagetype"/>
         </optional>
         <optional>
            <ref name="e_Options"/>
         </optional>
         <optional>
            <ref name="e_LoadFontfile"/>
         </optional>
         <optional>
            <ref name="e_DefineColor"/>
         </optional>
         <optional>
            <ref name="e_DefineFontfamily"/>
         </optional>
         <optional>
            <ref name="e_Pageformat"/>
         </optional>
         <optional>
            <ref name="e_DefineTextformat"/>
         </optional>
      </element>
   </define>
   <define name="e_InsertPages">
      <element name="InsertPages">
         <a:documentation/>
         <attribute name="name">
            <a:documentation/>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="e_Image">
      <element name="Image">
         <a:documentation>Includes an external Graphic. Allowed graphic formats are PDF (.pdf), PNG (.png) and JPEG (.jpg).</a:documentation>
         <optional>
            <attribute name="width">
               <a:documentation>Image width. One of 'auto' (default, take image width), '100%' (whole area width), length (such as '3cm') or number (in grid cells).</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="height">
               <a:documentation>Image height. One of 'auto' (default, take image width), length (such as '3cm') or number (in grid cells).</a:documentation>
            </attribute>
         </optional>
         <attribute name="file">
            <a:documentation>Filename of the image. Can be a file in the search path or a URI for absolute paths (e.g. file:///path/to/image.pdf).</a:documentation>
         </attribute>
         <optional>
            <attribute name="page">
               <a:documentation>The page number from the PDF. Default is 1 (include the first page).</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="naturalsize">
               <a:documentation>The PDF box that represents the visible area. Default is “cropbox”.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="maxwidth">
               <a:documentation>The maximum width of the image. Only used when clip="no". Value is a number (grid cells), a length or the value »100%« for full width image.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="maxheight">
               <a:documentation>The maximum height of the image. Only used when clip="no". Value is a number (grid cells) or a length.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="maxsize">
               <a:documentation>The PDF box that represents the maximum width. Default is “cropbox”.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="clip">
               <a:documentation/>
               <choice>
                  <value>yes</value>
                  <value>no</value>
                  <text/>
               </choice>
            </attribute>
         </optional>
         <optional>
            <attribute name="minwidth">
               <a:documentation>The nimimum width of the image. Only used when clip="no". Value is a number (grid cells), a length or the value »100%« for full width image.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="minheight">
               <a:documentation>The minimum height of the image. Only used when clip="no". Value is a number (grid cells) or a length.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="dpiwarn">
               <a:documentation/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="e_Italic">
      <element name="Italic">
         <a:documentation/>
         <attribute name="fontface">
            <a:documentation/>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="e_LoadDataset">
      <element name="LoadDataset">
         <a:documentation/>
         <attribute name="name">
            <a:documentation/>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="e_LoadFontfile">
      <element name="LoadFontfile">
         <a:documentation/>
         <attribute name="name">
            <a:documentation/>
         </attribute>
         <attribute name="filename">
            <a:documentation/>
         </attribute>
         <optional>
            <attribute name="space">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="marginprotrusion">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="smallcaps">
               <a:documentation>Use small caps glyphs when the font supplies them.</a:documentation>
               <choice>
                  <value>yes</value>
                  <value>no</value>
                  <text/>
               </choice>
            </attribute>
         </optional>
         <optional>
            <attribute name="oldstylefigures">
               <a:documentation>Use oldstyle figures if the font includes them. (OpenType feature »onum«)</a:documentation>
               <choice>
                  <value>yes</value>
                  <value>no</value>
                  <text/>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="e_Layout">
      <element name="Layout">
         <a:documentation>This command is the root element in the Layout instructions.</a:documentation>
         <optional>
            <attribute name="version">
               <a:documentation>Minimum publisher version required. If major or minor version differ, give a warning. Format: 1.6.12 (revision number can be left out).</a:documentation>
            </attribute>
         </optional>
         <oneOrMore>
            <optional>
               <ref name="e_Record"/>
            </optional>
            <optional>
               <ref name="e_LoadFontfile"/>
            </optional>
            <optional>
               <ref name="e_DefineColor"/>
            </optional>
            <optional>
               <ref name="e_DefineFontfamily"/>
            </optional>
            <optional>
               <ref name="e_DefineTextformat"/>
            </optional>
            <optional>
               <ref name="e_Pageformat"/>
            </optional>
            <optional>
               <ref name="e_Options"/>
            </optional>
            <optional>
               <ref name="e_Pagetype"/>
            </optional>
            <optional>
               <ref name="e_SetGrid"/>
            </optional>
            <optional>
               <ref name="e_Hyphenation"/>
            </optional>
            <optional>
               <ref name="e_SetVariable"/>
            </optional>
            <optional>
               <ref name="e_Stylesheet"/>
            </optional>
            <optional>
               <ref name="e_Include"/>
            </optional>
         </oneOrMore>
      </element>
   </define>
   <define name="e_Li">
      <element name="Li">
         <a:documentation>List item in an ordered or unordered list.</a:documentation>
         <optional>
            <ref name="e_I"/>
         </optional>
         <optional>
            <ref name="e_B"/>
         </optional>
         <optional>
            <ref name="e_Br"/>
         </optional>
         <optional>
            <ref name="e_HSpace"/>
         </optional>
         <optional>
            <ref name="e_U"/>
         </optional>
         <optional>
            <ref name="e_Sub"/>
         </optional>
         <optional>
            <ref name="e_Sup"/>
         </optional>
         <optional>
            <ref name="e_URL"/>
         </optional>
         <optional>
            <ref name="e_Value"/>
         </optional>
         <optional>
            <ref name="e_Switch"/>
         </optional>
      </element>
   </define>
   <define name="e_Loop">
      <element name="Loop">
         <a:documentation>Repeat the contents of this element several times.</a:documentation>
         <attribute name="select">
            <a:documentation>The number of loops. Must be a number or castable as a number.</a:documentation>
         </attribute>
         <optional>
            <attribute name="variable">
               <a:documentation>If given, store the current loop value in this variable. If omitted, the loop value is stored in the variable _loopcounter.</a:documentation>
            </attribute>
         </optional>
         <oneOrMore>
            <interleave>
               <optional>
                  <ref name="e_Element"/>
               </optional>
               <optional>
                  <ref name="e_Action"/>
               </optional>
               <optional>
                  <ref name="e_Barcode"/>
               </optional>
               <optional>
                  <ref name="e_Column"/>
               </optional>
               <optional>
                  <ref name="e_Copy-of"/>
               </optional>
               <optional>
                  <ref name="e_DefineColor"/>
               </optional>
               <optional>
                  <ref name="e_EmptyLine"/>
               </optional>
               <optional>
                  <ref name="e_Fontface"/>
               </optional>
               <optional>
                  <ref name="e_ForAll"/>
               </optional>
               <optional>
                  <ref name="e_Group"/>
               </optional>
               <optional>
                  <ref name="e_HSpace"/>
               </optional>
               <optional>
                  <ref name="e_Hyphenation"/>
               </optional>
               <optional>
                  <ref name="e_Image"/>
               </optional>
               <optional>
                  <ref name="e_InsertPages"/>
               </optional>
               <optional>
                  <ref name="e_Li"/>
               </optional>
               <optional>
                  <ref name="e_LoadDataset"/>
               </optional>
               <optional>
                  <ref name="e_Loop"/>
               </optional>
               <optional>
                  <ref name="e_Message"/>
               </optional>
               <optional>
                  <ref name="e_NewPage"/>
               </optional>
               <optional>
                  <ref name="e_NextFrame"/>
               </optional>
               <optional>
                  <ref name="e_NextRow"/>
               </optional>
               <optional>
                  <ref name="e_Output"/>
               </optional>
               <optional>
                  <ref name="e_Paragraph"/>
               </optional>
               <optional>
                  <ref name="e_PlaceObject"/>
               </optional>
               <optional>
                  <ref name="e_ProcessNode"/>
               </optional>
               <optional>
                  <ref name="e_SaveDataset"/>
               </optional>
               <optional>
                  <ref name="e_SavePages"/>
               </optional>
               <optional>
                  <ref name="e_SetVariable"/>
               </optional>
               <optional>
                  <ref name="e_SortSequence"/>
               </optional>
               <optional>
                  <ref name="e_Sub"/>
               </optional>
               <optional>
                  <ref name="e_Sup"/>
               </optional>
               <optional>
                  <ref name="e_Switch"/>
               </optional>
               <optional>
                  <ref name="e_Tablerule"/>
               </optional>
               <optional>
                  <ref name="e_Td"/>
               </optional>
               <optional>
                  <ref name="e_Tr"/>
               </optional>
               <optional>
                  <ref name="e_Value"/>
               </optional>
               <optional>
                  <ref name="e_While"/>
               </optional>
            </interleave>
         </oneOrMore>
      </element>
   </define>
   <define name="e_Makeindex">
      <element name="Makeindex">
         <a:documentation>Sort and split a list of elements to make an index.</a:documentation>
         <attribute name="section">
            <a:documentation>Create an XML-element with this name for every section (letter) in the index.</a:documentation>
         </attribute>
         <attribute name="select">
            <a:documentation>The xpath expression ($variable) that holds the element structure for the index.</a:documentation>
         </attribute>
         <attribute name="sortkey">
            <a:documentation>The name of the attribute holding the indexentry (that should be sorted).</a:documentation>
         </attribute>
         <attribute name="pattern">
            <a:documentation/>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="e_Margin">
      <element name="Margin">
         <a:documentation/>
         <attribute name="left">
            <a:documentation/>
         </attribute>
         <attribute name="right">
            <a:documentation/>
         </attribute>
         <attribute name="top">
            <a:documentation/>
         </attribute>
         <attribute name="bottom">
            <a:documentation/>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="e_Mark">
      <element name="Mark">
         <a:documentation>Sets an invisible mark into the output. This is helpful when you want to know on which page the mark is placed on.</a:documentation>
         <attribute name="select">
            <a:documentation>The name of the mark to be set.</a:documentation>
         </attribute>
         <optional>
            <attribute name="append">
               <a:documentation>When yes, append the current page to the previous values of the mark. Useful to get page ranges in an index. (Default is no.)</a:documentation>
               <choice>
                  <value>yes</value>
                  <value>no</value>
                  <text/>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="e_Message">
      <element name="Message">
         <a:documentation/>
         <optional>
            <attribute name="select">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="error">
               <a:documentation/>
               <choice>
                  <value>yes</value>
                  <value>no</value>
                  <text/>
               </choice>
            </attribute>
         </optional>
         <optional>
            <ref name="e_Value"/>
         </optional>
      </element>
   </define>
   <define name="e_NewPage">
      <element name="NewPage">
         <a:documentation>Finishes the current page and creates a new one (only if new material for the page is available).</a:documentation>
         <optional>
            <attribute name="pagetype">
               <a:documentation>The name of the next page type that should be used.</a:documentation>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="e_NextFrame">
      <element name="NextFrame">
         <a:documentation/>
         <attribute name="area">
            <a:documentation/>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="e_NextRow">
      <element name="NextRow">
         <a:documentation/>
         <optional>
            <attribute name="area">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="row">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="rows">
               <a:documentation/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="e_Ol">
      <element name="Ol">
         <a:documentation>Create an ordered list, just like in HTML</a:documentation>
         <optional>
            <ref name="e_Li"/>
         </optional>
      </element>
   </define>
   <define name="e_Options">
      <element name="Options">
         <a:documentation>Set publisher specific options</a:documentation>
         <optional>
            <attribute name="cutmarks">
               <a:documentation>Cut marks / crop marks will be placed in the PDF. The distance
          of the marks from the imaginary center is determined by the attribute trim,
          but is at least 5mm. The length of the cut marks is 1cm. The default of this attribute
          is no, that means no cut marks will be displayed.
        </a:documentation>
               <choice>
                  <value>yes</value>
                  <value>no</value>
                  <text/>
               </choice>
            </attribute>
         </optional>
         <optional>
            <attribute name="trim">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="mainlanguage">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="trace">
               <a:documentation/>
               <choice>
                  <value>yes</value>
                  <value>no</value>
                  <text/>
               </choice>
            </attribute>
         </optional>
         <optional>
            <attribute name="startpage">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="show-grid">
               <a:documentation/>
               <choice>
                  <value>yes</value>
                  <value>no</value>
                  <text/>
               </choice>
            </attribute>
         </optional>
         <optional>
            <attribute name="show-gridallocation">
               <a:documentation/>
               <choice>
                  <value>yes</value>
                  <value>no</value>
                  <text/>
               </choice>
            </attribute>
         </optional>
         <optional>
            <attribute name="show-hyphenation">
               <a:documentation/>
               <choice>
                  <value>yes</value>
                  <value>no</value>
                  <text/>
               </choice>
            </attribute>
         </optional>
         <optional>
            <attribute name="resetmarks">
               <a:documentation>Yes: ignore the marks file from previous run.</a:documentation>
               <choice>
                  <value>yes</value>
                  <value>no</value>
                  <text/>
               </choice>
            </attribute>
         </optional>
         <optional>
            <attribute name="ignoreeol">
               <a:documentation>Ignore newlines in data-xml</a:documentation>
               <choice>
                  <value>yes</value>
                  <value>no</value>
                  <text/>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="e_Otherwise">
      <element name="Otherwise">
         <a:documentation/>
         <oneOrMore>
            <optional>
               <ref name="e_Action"/>
            </optional>
            <optional>
               <ref name="e_Barcode"/>
            </optional>
            <optional>
               <ref name="e_Column"/>
            </optional>
            <optional>
               <ref name="e_Copy-of"/>
            </optional>
            <optional>
               <ref name="e_DefineColor"/>
            </optional>
            <optional>
               <ref name="e_EmptyLine"/>
            </optional>
            <optional>
               <ref name="e_Fontface"/>
            </optional>
            <optional>
               <ref name="e_ForAll"/>
            </optional>
            <optional>
               <ref name="e_Group"/>
            </optional>
            <optional>
               <ref name="e_HSpace"/>
            </optional>
            <optional>
               <ref name="e_Hyphenation"/>
            </optional>
            <optional>
               <ref name="e_Image"/>
            </optional>
            <optional>
               <ref name="e_InsertPages"/>
            </optional>
            <optional>
               <ref name="e_Li"/>
            </optional>
            <optional>
               <ref name="e_LoadDataset"/>
            </optional>
            <optional>
               <ref name="e_Loop"/>
            </optional>
            <optional>
               <ref name="e_Message"/>
            </optional>
            <optional>
               <ref name="e_NewPage"/>
            </optional>
            <optional>
               <ref name="e_NextFrame"/>
            </optional>
            <optional>
               <ref name="e_NextRow"/>
            </optional>
            <optional>
               <ref name="e_Output"/>
            </optional>
            <optional>
               <ref name="e_Paragraph"/>
            </optional>
            <optional>
               <ref name="e_PlaceObject"/>
            </optional>
            <optional>
               <ref name="e_ProcessNode"/>
            </optional>
            <optional>
               <ref name="e_SaveDataset"/>
            </optional>
            <optional>
               <ref name="e_SavePages"/>
            </optional>
            <optional>
               <ref name="e_SetVariable"/>
            </optional>
            <optional>
               <ref name="e_SortSequence"/>
            </optional>
            <optional>
               <ref name="e_Sub"/>
            </optional>
            <optional>
               <ref name="e_Sup"/>
            </optional>
            <optional>
               <ref name="e_Switch"/>
            </optional>
            <optional>
               <ref name="e_Tablerule"/>
            </optional>
            <optional>
               <ref name="e_Td"/>
            </optional>
            <optional>
               <ref name="e_Tr"/>
            </optional>
            <optional>
               <ref name="e_Value"/>
            </optional>
            <optional>
               <ref name="e_While"/>
            </optional>
         </oneOrMore>
      </element>
   </define>
   <define name="e_Output">
      <element name="Output">
         <a:documentation/>
         <optional>
            <attribute name="area">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <ref name="e_Text"/>
         </optional>
      </element>
   </define>
   <define name="e_Paragraph">
      <element name="Paragraph">
         <a:documentation>Insert a paragraph of text. The width of the paragraph is inherited from the surrounding element.</a:documentation>
         <optional>
            <attribute name="color">
               <a:documentation>Color of the paragraph. Must be defined with DefineColor before use.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="textformat">
               <a:documentation>Name of the textformat that is applied to the paragraph. If none is specified the textformat text is used.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="fontface">
               <a:documentation>The name of the fontface for the paragraph. The default is »text« (lowercase t).</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="language">
               <a:documentation>Name of the language for hyphenation.</a:documentation>
               <choice>
                  <value>German</value>
                  <a:documentation xmlns="">Use German language for hyphenation.</a:documentation>
                  <value>Englisch (Great Britan)</value>
                  <a:documentation xmlns="">Use English hyphenation patterns</a:documentation>
                  <value>French</value>
                  <a:documentation xmlns="">French hyphenation patterns</a:documentation>
               </choice>
            </attribute>
         </optional>
         <zeroOrMore>
            <choice>
               <ref name="e_Action"/>
               <ref name="e_A"/>
               <ref name="e_I"/>
               <ref name="e_B"/>
               <ref name="e_Br"/>
               <ref name="e_HSpace"/>
               <ref name="e_U"/>
               <ref name="e_Fontface"/>
               <ref name="e_Image"/>
               <ref name="e_Sub"/>
               <ref name="e_Sup"/>
               <ref name="e_URL"/>
               <ref name="e_Value"/>
               <ref name="e_Switch"/>
               <ref name="e_Loop"/>
               <ref name="e_ForAll"/>
            </choice>
         </zeroOrMore>
      </element>
   </define>
   <define name="e_Pageformat">
      <element name="Pageformat">
         <a:documentation>The size of the PDF pages. Defaults to 210mm width and 297mm height (A4)</a:documentation>
         <attribute name="width">
            <a:documentation>Width of the PDF pages.</a:documentation>
         </attribute>
         <attribute name="height">
            <a:documentation>The height of the PDF pages.</a:documentation>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="e_Pagetype">
      <element name="Pagetype">
         <a:documentation/>
         <attribute name="test">
            <a:documentation/>
         </attribute>
         <attribute name="name">
            <a:documentation/>
         </attribute>
         <optional>
            <ref name="e_Margin"/>
         </optional>
         <optional>
            <oneOrMore>
               <ref name="e_PositioningArea"/>
            </oneOrMore>
         </optional>
         <interleave>
            <optional>
               <ref name="e_Grid"/>
            </optional>
            <optional>
               <ref name="e_AtPageCreation"/>
            </optional>
            <optional>
               <ref name="e_AtPageShipout"/>
            </optional>
         </interleave>
      </element>
   </define>
   <define name="e_PlaceObject">
      <element name="PlaceObject">
         <a:documentation>Outputs a rectangular object (image, table, box or textblock).</a:documentation>
         <optional>
            <attribute name="allocate">
               <a:documentation>Determines if the area of the object is marked as »allocated«. With allocate="no", the cursor position is not changed.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="area">
               <a:documentation>Name of the (positioning) area, the ojbect is placed in. If no area is given, the object is placed on the main area, the page (this is the area that contains all grid cells).</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="groupname">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="frame">
               <a:documentation>Draw a solid frame around the object.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="framecolor">
               <a:documentation>The color of the frame around the object. Only makes sense in combination with the attribute 'frame'.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="background">
               <a:documentation>Fill the background of the object (full grid cells) with a color, given by backgroundcolor.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="backgroundcolor">
               <a:documentation>Color of the background if ›background‹ is set to ›full‹.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="rulewidth">
               <a:documentation>The thickness of the frame that is drawn around the object. Only makes sense in combination with the attribute 'frame'.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="column">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="row">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="maxheight">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="valign">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="hreference">
               <a:documentation>Determines the placement of the object relative to the given column. If 'left' (which is the default), the given column is the left border of the object. If 'right', the column determines the right edge of the object.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="vreference">
               <a:documentation>Determines the placement of the object relative to the given row. If 'top' (which is the default), the given row is the top border of the object. If 'bottom', the column determines the bottom edge of the object.</a:documentation>
            </attribute>
         </optional>
         <oneOrMore>
            <interleave>
               <optional>
                  <ref name="e_Image"/>
               </optional>
               <optional>
                  <ref name="e_Box"/>
               </optional>
               <optional>
                  <ref name="e_Rule"/>
               </optional>
               <optional>
                  <ref name="e_Textblock"/>
               </optional>
               <optional>
                  <ref name="e_Barcode"/>
               </optional>
               <optional>
                  <ref name="e_Table"/>
               </optional>
            </interleave>
         </oneOrMore>
      </element>
   </define>
   <define name="e_PositioningArea">
      <element name="PositioningArea">
         <a:documentation/>
         <attribute name="name">
            <a:documentation/>
         </attribute>
         <oneOrMore>
            <ref name="e_PositioningFrame"/>
         </oneOrMore>
      </element>
   </define>
   <define name="e_PositioningFrame">
      <element name="PositioningFrame">
         <a:documentation/>
         <attribute name="width">
            <a:documentation/>
         </attribute>
         <attribute name="height">
            <a:documentation/>
         </attribute>
         <attribute name="row">
            <a:documentation/>
         </attribute>
         <attribute name="column">
            <a:documentation/>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="e_ProcessNode">
      <element name="ProcessNode">
         <a:documentation>Executes all given nodes. The elements, that are to be executed, are given with the attribute selection.</a:documentation>
         <attribute name="select">
            <a:documentation>Selection of child elements, that are to be processed.</a:documentation>
         </attribute>
         <optional>
            <attribute name="mode">
               <a:documentation>Name of the mode. This must match the mode at the corresponding Record element. With this it is possible to have different rules for the same element.</a:documentation>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="e_Record">
      <element name="Record">
         <a:documentation/>
         <attribute name="element">
            <a:documentation>The name of the element the record matches.</a:documentation>
         </attribute>
         <optional>
            <attribute name="mode">
               <a:documentation>Name of the mode that matches the mode in ProcessNode.</a:documentation>
            </attribute>
         </optional>
         <oneOrMore>
            <optional>
               <ref name="e_DefineColor"/>
            </optional>
            <optional>
               <ref name="e_EmptyLine"/>
            </optional>
            <optional>
               <ref name="e_ForAll"/>
            </optional>
            <optional>
               <ref name="e_Group"/>
            </optional>
            <optional>
               <ref name="e_Hyphenation"/>
            </optional>
            <optional>
               <ref name="e_LoadDataset"/>
            </optional>
            <optional>
               <ref name="e_Loop"/>
            </optional>
            <optional>
               <ref name="e_Message"/>
            </optional>
            <optional>
               <ref name="e_NewPage"/>
            </optional>
            <optional>
               <ref name="e_NextRow"/>
            </optional>
            <optional>
               <ref name="e_NextFrame"/>
            </optional>
            <optional>
               <ref name="e_Output"/>
            </optional>
            <optional>
               <ref name="e_PlaceObject"/>
            </optional>
            <optional>
               <ref name="e_ProcessNode"/>
            </optional>
            <optional>
               <ref name="e_SaveDataset"/>
            </optional>
            <optional>
               <ref name="e_SetVariable"/>
            </optional>
            <optional>
               <ref name="e_SortSequence"/>
            </optional>
            <optional>
               <ref name="e_Switch"/>
            </optional>
            <optional>
               <ref name="e_While"/>
            </optional>
            <optional>
               <ref name="e_InsertPages"/>
            </optional>
         </oneOrMore>
      </element>
   </define>
   <define name="e_Regular">
      <element name="Regular">
         <a:documentation/>
         <optional>
            <attribute name="fontface">
               <a:documentation/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="e_Rule">
      <element name="Rule">
         <a:documentation/>
         <attribute name="direction">
            <a:documentation/>
         </attribute>
         <optional>
            <attribute name="rulewidth">
               <a:documentation/>
            </attribute>
         </optional>
         <attribute name="length">
            <a:documentation/>
         </attribute>
         <optional>
            <attribute name="color">
               <a:documentation/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="e_SaveDataset">
      <element name="SaveDataset">
         <a:documentation/>
         <attribute name="filename">
            <a:documentation>Name of the file. Example: toc</a:documentation>
         </attribute>
         <attribute name="elementname">
            <a:documentation>Name of the root element that surrounds the elements given by the child elements.</a:documentation>
         </attribute>
         <optional>
            <attribute name="select">
               <a:documentation>Alternative to giving the data structure in the child elements.</a:documentation>
            </attribute>
         </optional>
         <oneOrMore>
            <optional>
               <ref name="e_Loop"/>
            </optional>
            <optional>
               <ref name="e_Element"/>
            </optional>
            <optional>
               <ref name="e_Makeindex"/>
            </optional>
            <optional>
               <ref name="e_SortSequence"/>
            </optional>
            <optional>
               <ref name="e_Sequence"/>
            </optional>
            <optional>
               <ref name="e_Copy-of"/>
            </optional>
         </oneOrMore>
      </element>
   </define>
   <define name="e_SavePages">
      <element name="SavePages">
         <a:documentation/>
         <attribute name="name">
            <a:documentation/>
         </attribute>
         <oneOrMore>
            <interleave>
               <optional>
                  <ref name="e_DefineColor"/>
               </optional>
               <optional>
                  <ref name="e_EmptyLine"/>
               </optional>
               <optional>
                  <ref name="e_ForAll"/>
               </optional>
               <optional>
                  <ref name="e_Group"/>
               </optional>
               <optional>
                  <ref name="e_Hyphenation"/>
               </optional>
               <optional>
                  <ref name="e_LoadDataset"/>
               </optional>
               <optional>
                  <ref name="e_Loop"/>
               </optional>
               <optional>
                  <ref name="e_Message"/>
               </optional>
               <optional>
                  <ref name="e_NewPage"/>
               </optional>
               <optional>
                  <ref name="e_NextRow"/>
               </optional>
               <optional>
                  <ref name="e_NextFrame"/>
               </optional>
               <optional>
                  <ref name="e_Output"/>
               </optional>
               <optional>
                  <ref name="e_PlaceObject"/>
               </optional>
               <optional>
                  <ref name="e_ProcessNode"/>
               </optional>
               <optional>
                  <ref name="e_SaveDataset"/>
               </optional>
               <optional>
                  <ref name="e_SetVariable"/>
               </optional>
               <optional>
                  <ref name="e_SortSequence"/>
               </optional>
               <optional>
                  <ref name="e_Switch"/>
               </optional>
               <optional>
                  <ref name="e_While"/>
               </optional>
               <optional>
                  <ref name="e_InsertPages"/>
               </optional>
            </interleave>
         </oneOrMore>
      </element>
   </define>
   <define name="e_SetGrid">
      <element name="SetGrid">
         <a:documentation/>
         <attribute name="width">
            <a:documentation/>
         </attribute>
         <attribute name="height">
            <a:documentation/>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="e_SetVariable">
      <element name="SetVariable">
         <a:documentation/>
         <attribute name="variable">
            <a:documentation/>
         </attribute>
         <optional>
            <attribute name="select">
               <a:documentation/>
            </attribute>
         </optional>
         <oneOrMore>
            <interleave>
               <optional>
                  <ref name="e_Paragraph"/>
               </optional>
               <optional>
                  <ref name="e_Value"/>
               </optional>
               <optional>
                  <ref name="e_Copy-of"/>
               </optional>
               <optional>
                  <ref name="e_Sequence"/>
               </optional>
               <optional>
                  <ref name="e_Element"/>
               </optional>
               <optional>
                  <ref name="e_Attribute"/>
               </optional>
               <optional>
                  <ref name="e_Switch"/>
               </optional>
               <optional>
                  <ref name="e_Loop"/>
               </optional>
               <optional>
                  <ref name="e_ForAll"/>
               </optional>
               <optional>
                  <ref name="e_Tr"/>
               </optional>
               <optional>
                  <ref name="e_Td"/>
               </optional>
               <optional>
                  <ref name="e_Columns"/>
               </optional>
               <optional>
                  <ref name="e_Tablerule"/>
               </optional>
               <optional>
                  <ref name="e_SortSequence"/>
               </optional>
               <optional>
                  <ref name="e_Tablehead"/>
               </optional>
            </interleave>
         </oneOrMore>
      </element>
   </define>
   <define name="e_Sequence">
      <element name="Sequence">
         <a:documentation/>
         <empty/>
      </element>
   </define>
   <define name="e_SortSequence">
      <element name="SortSequence">
         <a:documentation/>
         <attribute name="select">
            <a:documentation/>
         </attribute>
         <optional>
            <attribute name="removeduplicates">
               <a:documentation/>
            </attribute>
         </optional>
         <attribute name="criterium">
            <a:documentation/>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="e_Sub">
      <element name="Sub">
         <a:documentation/>
         <optional>
            <ref name="e_Value"/>
         </optional>
      </element>
   </define>
   <define name="e_Sup">
      <element name="Sup">
         <a:documentation/>
         <optional>
            <ref name="e_Value"/>
         </optional>
      </element>
   </define>
   <define name="e_Switch">
      <element name="Switch">
         <a:documentation/>
         <oneOrMore>
            <ref name="e_Case"/>
         </oneOrMore>
         <optional>
            <ref name="e_Otherwise"/>
         </optional>
      </element>
   </define>
   <define name="e_Stylesheet">
      <element name="Stylesheet">
         <a:documentation>Load a CSS file</a:documentation>
         <attribute name="filename">
            <a:documentation>The filename of the CSS stylesheet including the file extension.</a:documentation>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="e_Table">
      <element name="Table">
         <a:documentation>Create a table that is similar to the HTML table model.</a:documentation>
         <optional>
            <attribute name="eval">
               <a:documentation>Evaluates the given XPath expression and discards its output.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="stretch">
               <a:documentation>If the table contents is narrow and stretch has the value no, the table only uses the minimal width. If the table
          contents is wider than the value width or stretch has the value max, the table's width is the size given in the width attribute.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="width">
               <a:documentation>The maximum width of the table (in grid cells or absolute values). Defaults to the available space.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="padding">
               <a:documentation>The distance between the table border and the table contents.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="fontface">
               <a:documentation>Name of the font family for the table. If not given, the font face ‘text’ is used.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="columndistance">
               <a:documentation>Distance between two table columns.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="textformat">
               <a:documentation>The name of the textformat to be applied to all texts. Default is ‘text’.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="leading">
               <a:documentation>The distance between two rows.</a:documentation>
            </attribute>
         </optional>
         <oneOrMore>
            <interleave>
               <optional>
                  <ref name="e_Tablehead"/>
               </optional>
               <optional>
                  <ref name="e_Tablefoot"/>
               </optional>
               <optional>
                  <ref name="e_Columns"/>
               </optional>
               <optional>
                  <ref name="e_Tr"/>
               </optional>
               <optional>
                  <ref name="e_Copy-of"/>
               </optional>
               <optional>
                  <ref name="e_Tablerule"/>
               </optional>
               <optional>
                  <ref name="e_Message"/>
               </optional>
               <optional>
                  <ref name="e_Switch"/>
               </optional>
               <optional>
                  <ref name="e_Loop"/>
               </optional>
               <optional>
                  <ref name="e_ForAll"/>
               </optional>
            </interleave>
         </oneOrMore>
         <optional>
            <ref name="e_Copy-of"/>
         </optional>
         <optional>
            <ref name="e_Columns"/>
         </optional>
         <optional>
            <ref name="e_ForAll"/>
         </optional>
         <optional>
            <ref name="e_Switch"/>
         </optional>
         <optional>
            <ref name="e_Tr"/>
         </optional>
         <optional>
            <ref name="e_Tablerule"/>
         </optional>
         <optional>
            <ref name="e_Tablefoot"/>
         </optional>
         <optional>
            <ref name="e_Tablehead"/>
         </optional>
      </element>
   </define>
   <define name="e_Tablefoot">
      <element name="Tablefoot">
         <a:documentation/>
         <optional>
            <attribute name="page">
               <a:documentation>This command is only valid for the given pages. The default is to place the foot on all pages.</a:documentation>
            </attribute>
         </optional>
         <oneOrMore>
            <interleave>
               <optional>
                  <ref name="e_Tablerule"/>
               </optional>
               <optional>
                  <ref name="e_Copy-of"/>
               </optional>
               <optional>
                  <ref name="e_Tr"/>
               </optional>
            </interleave>
         </oneOrMore>    
      </element>
   </define>
   <define name="e_Tablehead">
      <element name="Tablehead">
         <a:documentation/>
         <oneOrMore>
            <interleave>
               <optional>
                  <ref name="e_Tablerule"/>
               </optional>
               <optional>
                  <ref name="e_Copy-of"/>
               </optional>
               <optional>
                  <ref name="e_Tr"/>
               </optional>
            </interleave>
         </oneOrMore>
      </element>
   </define>
   <define name="e_Td">
      <element name="Td">
         <a:documentation/>
         <optional>
            <attribute name="backgroundcolor">
               <a:documentation>The name of the background color (if the cell should get a background).</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="border-left">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="border-right">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="border-top">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="border-bottom">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="border-left-color">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="border-right-color">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="border-top-color">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="border-bottom-color">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="colspan">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="rowspan">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="align">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="valign">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="padding">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="padding-top">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="padding-bottom">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="padding-left">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="padding-right">
               <a:documentation/>
            </attribute>
         </optional>
         <zeroOrMore>
            <choice>
               <ref name="e_Paragraph"/>
               <ref name="e_Table"/>
               <ref name="e_Image"/>
               <ref name="e_Copy-of"/>
               <ref name="e_Switch"/>
               <ref name="e_ForAll"/>
               <ref name="e_Loop"/>
               <ref name="e_Barcode"/>
            </choice>
         </zeroOrMore>
      </element>
   </define>
   <define name="e_Tablerule">
      <element name="Tablerule">
         <a:documentation/>
         <optional>
            <attribute name="rulewidth">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="color">
               <a:documentation/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="e_Textblock">
      <element name="Textblock">
         <a:documentation/>
         <optional>
            <attribute name="angle">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="color">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="width">
               <a:documentation>Number of columns for the text. If not given, the surrounding element determines the width of the element.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="fontface">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="textformat">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="columns">
               <a:documentation/>
            </attribute>
         </optional>
         <optional>
            <attribute name="columndistance">
               <a:documentation/>
            </attribute>
         </optional>
         <oneOrMore>
            <choice>
               <ref name="e_Switch"/>
               <ref name="e_Paragraph"/>
               <ref name="e_Ol"/>
               <ref name="e_Ul"/>
               <ref name="e_Copy-of"/>
               <ref name="e_Action"/>
               <ref name="e_Bookmark"/>
               <ref name="e_Value"/>
               <ref name="e_ForAll"/>
            </choice>
         </oneOrMore>
      </element>
   </define>
   <define name="e_Text">
      <element name="Text">
         <a:documentation/>
         <oneOrMore>
            <choice>
               <ref name="e_Switch"/>
               <ref name="e_Paragraph"/>
               <ref name="e_Ol"/>
               <ref name="e_Ul"/>
               <ref name="e_Copy-of"/>
               <ref name="e_Action"/>
               <ref name="e_Bookmark"/>
               <ref name="e_Value"/>
               <ref name="e_ForAll"/>
            </choice>
         </oneOrMore>
      </element>
   </define>
   <define name="e_Tr">
      <element name="Tr">
         <a:documentation>Tablerow</a:documentation>
         <optional>
            <attribute name="align">
               <a:documentation>Horizontal alignment of the table cells in this row.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="valign">
               <a:documentation>Vertical aligment of the table cells in this row.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="minheight">
               <a:documentation>Minimum rowheight in grid cells.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="backgroundcolor">
               <a:documentation>Background color of each cell in this row.</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="break-below">
               <a:documentation/>
               <choice>
                  <value>yes</value>
                  <value>no</value>
                  <text/>
               </choice>
            </attribute>
         </optional>
         <oneOrMore>
            <optional>
               <ref name="e_Message"/>
            </optional>
            <optional>
               <ref name="e_Td"/>
            </optional>
            <optional>
               <ref name="e_Copy-of"/>
            </optional>
            <optional>
               <ref name="e_Switch"/>
            </optional>
            <optional>
               <ref name="e_ForAll"/>
            </optional>
            <optional>
               <ref name="e_Loop"/>
            </optional>
         </oneOrMore>
      </element>
   </define>
   <define name="e_U">
      <element name="U">
         <a:documentation/>
         <optional>
            <ref name="e_B"/>
         </optional>
         <optional>
            <ref name="e_Image"/>
         </optional>
         <optional>
            <ref name="e_Switch"/>
         </optional>
         <optional>
            <ref name="e_I"/>
         </optional>
         <optional>
            <ref name="e_Fontface"/>
         </optional>
         <optional>
            <ref name="e_Sub"/>
         </optional>
         <optional>
            <ref name="e_Sup"/>
         </optional>
         <optional>
            <ref name="e_U"/>
         </optional>
         <optional>
            <ref name="e_URL"/>
         </optional>
         <optional>
            <ref name="e_Value"/>
         </optional>
      </element>
   </define>
   <define name="e_Ul">
      <element name="Ul">
         <a:documentation>Create an unordered list, just like in HTML</a:documentation>
         <optional>
            <ref name="e_Li"/>
         </optional>
      </element>
   </define>
   <define name="e_URL">
      <element name="URL">
         <a:documentation/>
         <optional>
            <ref name="e_B"/>
         </optional>
         <optional>
            <ref name="e_Image"/>
         </optional>
         <optional>
            <ref name="e_Switch"/>
         </optional>
         <optional>
            <ref name="e_I"/>
         </optional>
         <optional>
            <ref name="e_Fontface"/>
         </optional>
         <optional>
            <ref name="e_Sub"/>
         </optional>
         <optional>
            <ref name="e_Sup"/>
         </optional>
         <optional>
            <ref name="e_U"/>
         </optional>
         <optional>
            <ref name="e_URL"/>
         </optional>
         <optional>
            <ref name="e_Value"/>
         </optional>
      </element>
   </define>
   <define name="e_Value">
      <element name="Value">
         <a:documentation>Contains a text value that is passed to the surrounding element.</a:documentation>
         <optional>
            <attribute name="select">
               <a:documentation>Value to be passed to the outer element.</a:documentation>
            </attribute>
         </optional>
         <text/>
         <text/>
         <optional>
            <ref name="e_Br"/>
         </optional>
      </element>
   </define>
   <define name="e_While">
      <element name="While">
         <a:documentation/>
         <attribute name="test">
            <a:documentation/>
         </attribute>
         <oneOrMore>
            <interleave>
               <optional>
                  <ref name="e_Action"/>
               </optional>
               <optional>
                  <ref name="e_Barcode"/>
               </optional>
               <optional>
                  <ref name="e_Column"/>
               </optional>
               <optional>
                  <ref name="e_Copy-of"/>
               </optional>
               <optional>
                  <ref name="e_DefineColor"/>
               </optional>
               <optional>
                  <ref name="e_EmptyLine"/>
               </optional>
               <optional>
                  <ref name="e_Fontface"/>
               </optional>
               <optional>
                  <ref name="e_ForAll"/>
               </optional>
               <optional>
                  <ref name="e_Group"/>
               </optional>
               <optional>
                  <ref name="e_HSpace"/>
               </optional>
               <optional>
                  <ref name="e_Hyphenation"/>
               </optional>
               <optional>
                  <ref name="e_Image"/>
               </optional>
               <optional>
                  <ref name="e_InsertPages"/>
               </optional>
               <optional>
                  <ref name="e_Li"/>
               </optional>
               <optional>
                  <ref name="e_LoadDataset"/>
               </optional>
               <optional>
                  <ref name="e_Loop"/>
               </optional>
               <optional>
                  <ref name="e_Message"/>
               </optional>
               <optional>
                  <ref name="e_NewPage"/>
               </optional>
               <optional>
                  <ref name="e_NextFrame"/>
               </optional>
               <optional>
                  <ref name="e_NextRow"/>
               </optional>
               <optional>
                  <ref name="e_Output"/>
               </optional>
               <optional>
                  <ref name="e_Paragraph"/>
               </optional>
               <optional>
                  <ref name="e_PlaceObject"/>
               </optional>
               <optional>
                  <ref name="e_ProcessNode"/>
               </optional>
               <optional>
                  <ref name="e_SaveDataset"/>
               </optional>
               <optional>
                  <ref name="e_SavePages"/>
               </optional>
               <optional>
                  <ref name="e_SetVariable"/>
               </optional>
               <optional>
                  <ref name="e_SortSequence"/>
               </optional>
               <optional>
                  <ref name="e_Sub"/>
               </optional>
               <optional>
                  <ref name="e_Sup"/>
               </optional>
               <optional>
                  <ref name="e_Switch"/>
               </optional>
               <optional>
                  <ref name="e_Tablerule"/>
               </optional>
               <optional>
                  <ref name="e_Td"/>
               </optional>
               <optional>
                  <ref name="e_Tr"/>
               </optional>
               <optional>
                  <ref name="e_Value"/>
               </optional>
               <optional>
                  <ref name="e_While"/>
               </optional>
            </interleave>
         </oneOrMore>
      </element>
   </define>
</grammar>
