schema/layoutschema-de.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- Do not edit this file! See the file readme.txt in the schema/ directory -->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="urn:speedata.de:2009/publisher/de">
  <start>
    <ref name="e_Layout"/>
  </start>
  
  <define name="t_zerotohundred">
    <data type="nonNegativeInteger">
      <param name="pattern">(100|[0-9]?[0-9])</param>
    </data>
  </define>

  <define name="a_id">
    <optional>
      <attribute name="xml:id"><data type="ID"/></attribute>
      <a:documentation docid="xmlid">Frei benuztbarer eindeutiger Marker</a:documentation>
    </optional>
  </define>

  <define name="t_Toplevel">
    <optional><ref name="e_Dataset"/></optional>
    <optional><ref name="e_LoadFontfile"/></optional>
    <optional><ref name="e_DefineColor"/></optional>
    <optional><ref name="e_DefineFontfamily"/></optional>
    <optional><ref name="e_DefineTextformat"/></optional>
    <optional><ref name="e_Pageformat"/></optional>
    <optional><ref name="e_Options"/></optional>
    <optional><ref name="e_Pagetype"/></optional>
    <optional><ref name="e_SetGrid"/></optional>
    <optional><ref name="e_Hyphenation"/></optional>
    <optional><ref name="e_SetVariable"/></optional>
    <optional><ref name="e_Stylesheet"/></optional>
  </define>

  <define name="t_Switchcontents">
    <ref name="t_Commands"/>
    <optional><ref name="e_Tablerule"/></optional>
    <optional><ref name="e_Tr"/></optional>
    <optional><ref name="e_Td"/></optional>
    <optional><ref name="e_Value"/></optional>
    <optional><ref name="e_Image"/></optional>
    <optional><ref name="e_Paragraph"/></optional>
    <optional><ref name="e_Sup"/></optional>
    <optional><ref name="e_Sub"/></optional>
  </define>

  <define name="t_Commands">
    <optional><ref name="e_DefineColor"/></optional>
    <optional><ref name="e_LoadDataset"/></optional>
    <optional><ref name="e_SaveDataset"/></optional>
    <optional><ref name="e_PlaceObject"/></optional>
    <optional><ref name="e_Switch"/></optional>
    <optional><ref name="e_While"/></optional>
    <optional><ref name="e_ProcessRecord"/></optional>
    <optional><ref name="e_ProcessNode"/></optional>
    <optional><ref name="e_Message"/></optional>
    <optional><ref name="e_NextFrame"/></optional>
    <optional><ref name="e_NewPage"/></optional>
    <optional><ref name="e_NewRow"/></optional>
    <optional><ref name="e_EmptyLine"/></optional>
    <optional><ref name="e_Group"/></optional>
    <optional><ref name="e_SortSequence"/></optional>
    <optional><ref name="e_Hyphenation"/></optional>
    <optional><ref name="e_SetVariable"/></optional>
  </define>

  <define name="t_values">
    <oneOrMore>
      <optional>
        <ref name="t_textvalues"/>
      </optional>
    </oneOrMore>
  </define>

  <define name="t_textvalues">
    <choice>
      <ref name="e_I"/>
      <ref name="e_B"/>
      <ref name="e_U"/>
      <ref name="e_FontFace"/>
      <ref name="e_Image"/>
      <ref name="e_Sub"/>
      <ref name="e_Sup"/>
      <ref name="e_URL"/>
      <ref name="e_Value"/>
      <ref name="e_Switch"/>
    </choice>
  </define>

  <define name="t_PDFBOX">
    <choice>
      <value>artbox</value>
      <value>bleedbox</value>
      <value>cropbox</value>
      <value>mediabox</value>
      <value>trimbox</value>
    </choice>
  </define>

  <define name="t_languages">
    <choice>
      <value>Deutsch</value>
      <value>Englisch (Großbritannien)</value>
      <value>Französisch</value>
    </choice>
  </define>

  <define name="a_alignment">
    <attribute name="ausrichtung">
      <a:documentation docid="alignment">Bestimmt den Rand der Zeilen</a:documentation>
      <choice>
        <value>blocksatz</value>
        <a:documentation docid="alignment/justification">Alle Zeilen haben dieselbe Breite</a:documentation>
        <value>linksbündig</value>
        <a:documentation docid="alignment/leftaligned">Alle Zeilen haben einen festen linken Rand</a:documentation>
        <value>rechtsbündig</value>
        <a:documentation docid="alignment/rightaligned">Alle Zeilen haben einen festen rechten Rand</a:documentation>
        <value>zentriert</value>
        <a:documentation docid="alignment/centered">Alle Zeilen haben einen Flatterrand rechts und links</a:documentation>
      </choice>
    </attribute>
  </define>

  <define name="a_valign">
    <attribute name="valign">
      <a:documentation docid="valign">Vertikale Ausrichtung</a:documentation>
      <choice>
        <value>top</value>
        <a:documentation docid="valign/top">Oben ausgeben</a:documentation>
        <value>middle</value>
        <a:documentation docid="valign/middle">Vertikal zentriert ausgeben</a:documentation>
        <value>bottom</value>
        <a:documentation docid="valign/bottom">Unten ausgeben</a:documentation>
      </choice>
    </attribute>
  </define>

  <define name="a_allocate">
    <attribute name="belegen">
      <a:documentation docid="allocate">Gibt an, ob das Objekt den Platz auf der Seite (im Raster) belegen soll. Dadurch ist der Platz für
                andere Objekte gesperrt.</a:documentation>
      <choice>
        <value>ja</value>
        <a:documentation docid="allocate/yes">Das Objekt nimmt den Platz im Raster fest ein und kann nicht von anderen Objekten überlagert
                werden.</a:documentation>
        <value>nein</value>
        <a:documentation docid="allocate/no">Das Objekt nimmt keinen Platz im Raster ein und kann von anderen Objekten überlagert werden.</a:documentation>
        <value>auto</value>
        <a:documentation docid="allocate/auto">Die Form des Objekts wird beim Belegen der Rasterzellen beachtet.</a:documentation>
      </choice>
    </attribute>
  </define>

  <define name="e_Paragraph">
    <element name="Absatz">
      <ref name="t_values"/>
      <ref name="a_id"/>
      <optional>
        <attribute name="sprache">
          <ref name="t_languages"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="textformat"/>
      </optional>
      <a:documentation docid="paragraph/textformat">Name des Textformats (optional).</a:documentation>
      <optional>
        <attribute name="farbe"/>
        <a:documentation docid="paragraph/color">Bestimmt die Farbe des Absatzes (Text)</a:documentation>
      </optional>
      <optional>
        <attribute name="schriftart"/>
        <a:documentation docid="paragraph/fontface">Bestimmt die Schriftart für den Absatz. (Text)</a:documentation>
      </optional>
    </element>
  </define>

  <define name="e_Action">
    <element name="Aktion">
      <a:documentation docid="action">Assoziiert eine Anweisung (Aktion) mit dem umgebenden Text.</a:documentation>
      <ref name="a_id"/>
      <element name="ZurListeHinzufügen">
        <a:documentation docid="action/addtolist">Fügt ein Schlüssel/Wert-Paar zu einer Variablen hinzu.</a:documentation>
        <ref name="a_id"/>
        <attribute name="liste"/>
        <a:documentation docid="action/list">Liste (Variable) zu der der Inhalt hinzugefügt werden soll. Diese Variable muss noch nicht
                existieren.</a:documentation>
        <attribute name="schlüssel"/>
        <a:documentation docid="action/key">Name des Schlüssels, unter dem der Wert in ›auswahl‹ gespeichert wird.</a:documentation>
        <attribute name="auswahl"/>
        <a:documentation docid="action/select">Wert, der gepeichert wird (XPath-Ausdruck)</a:documentation>
      </element>
    </element>
  </define>

  <define name="e_Attribute">
    <element name="Attribut">
      <a:documentation docid="attribute">Erzeugt ein Attribut, das in ein »Element« geschachtelt werden kann.</a:documentation>
      <ref name="a_id"/>
      <attribute name="name"><data type="string"/></attribute>
      <a:documentation docid="attribute/name">Name des zu erzeugenden Attributs. (Text)</a:documentation>
      <attribute name="auswahl"><data type="string"/></attribute>
      <a:documentation docid="attribute/select">Inhalt des Attributs als XPath-Ausdruck. Zeichenketten müssen in Anführungszeichen stehen!</a:documentation>
    </element>
  </define>

  <define name="e_B">
    <element name="B">
      <a:documentation docid="b">Schaltet auf den Schnitt »Fett« um</a:documentation>
      <ref name="a_id"/>
      <ref name="t_values"/>
    </element>
  </define>

  <define name="e_ProcessRecord">
    <element name="BearbeiteDatensatz">
      <a:documentation docid="processrecord">Führt eine Regel aus mit dem Inhalt einer Liste (im Attribut ›auswahl‹).</a:documentation>
      <ref name="a_id"/>
      <attribute name="auswahl"/>
      <a:documentation docid="processrecord/select">Bestimmt die Liste, die per »Datensatz« aufgerufen bearbeitet werden soll.</a:documentation>
      <attribute name="umfang"/>
      <a:documentation docid="processrecord/limit">Schränkt die Anzahl der Knoten ein, die verarbeitet werden.</a:documentation>
    </element>
  </define>

  <define name="e_ProcessNode">
    <element name="BearbeiteKnoten">
      <a:documentation docid="processnode">Ruft alle Kindelemente eines bestimmten Namens auf. Gegenstück ist »Datensatz«</a:documentation>
      <ref name="a_id"/>
      <attribute name="auswahl"/>
      <a:documentation docid="processnode/select">Bestimmt die Datensätze, die ausgeführt werden sollen.</a:documentation>
      <optional>
        <attribute name="modus"/>
        <a:documentation docid="processnode/mode">Wird ein Modus angegeben, werden nur »Datensatz« Elemente ausgeführt, die diesem Modus entsprechen.
                (Text)</a:documentation>
      </optional>
    </element>
  </define>

  <define name="e_AtPageShipout">
    <element name="BeiSeitenAusgabe">
      <a:documentation docid="atpageshipout">Wenn eine Seite ausgegeben wird, werden die Kindelemente ausgeführt.</a:documentation>
      <ref name="a_id"/>
      <oneOrMore>
        <ref name="t_Commands"/>
      </oneOrMore>
    </element>
  </define>

  <define name="e_AtPageCreation">
    <element name="BeiSeitenErzeugung">
      <a:documentation docid="atpagecreation">Wenn eine Seite erzeugt wird, werden die Kindelemente ausgeführt.</a:documentation>
      <ref name="a_id"/>
      <oneOrMore>
        <ref name="t_Commands"/>
      </oneOrMore>
    </element>
  </define>

  <define name="e_Image">
    <element name="Bild">
      <a:documentation docid="image">Bindet eine externe Grafik ein.</a:documentation>
      <ref name="a_id"/>
      <attribute name="datei">
        <a:documentation docid="image/file">Dateiname der Bilddatei. (Text)</a:documentation>
        <data type="string"/>
      </attribute>
      <attribute name="breite">
        <a:documentation docid="image/width">Breite des Bildes in Rasterzellen oder in absoluten Maßangaben.</a:documentation>
      </attribute>
      <optional>
        <attribute name="höhe">
          <a:documentation docid="image/height">Gibt die maximale Höhe des Bildes an in Rasterzellen oder in absoluten Maßangaben (z.B. 210mm).</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="seite">
          <a:documentation docid="image/page">Bindet die angegebene Seite aus einer PDF-Datei ein. Voreinstellung: 1</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="natürliche-größe">
          <a:documentation docid="image/natural-height">Die natürliche Größe des Bildes. Voreinstellung ist die »cropbox«.</a:documentation>
          <ref name="t_PDFBOX"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="maximale-größe">
          <a:documentation docid="image/maxheight">Die maximale Größe des Bildes. Voreinstellung ist die »cropbox«. </a:documentation>
          <ref name="t_PDFBOX"/>
        </attribute>
      </optional>
    </element>
  </define>

  <define name="e_Box">
    <element name="Box">
      <a:documentation docid="box">Erzeugt einen rechteckigen farbigen Bereich.</a:documentation>
      <ref name="a_id"/>
      <attribute name="breite"/>
      <a:documentation docid="box/width">Breite der Box in Rasterzellen</a:documentation>
      <attribute name="höhe"/>
      <a:documentation docid="box/height">Höhe der Box (in Rasterzellen)</a:documentation>
      <attribute name="hintergrundfarbe"/>
      <a:documentation docid="box/backgroundcolor">Farbe der Box</a:documentation>
      <optional>
        <attribute name="beschnitt">
          <choice>
            <value>oben,rechts</value>
            <value>unten,rechts</value>
            <value>rechts</value>
          </choice>
        </attribute>
      </optional>
    </element>
  </define>

  <define name="e_Bookmark">
    <element name="Lesezeichen">
      <a:documentation docid="bookmark">PDF Lesezeichen erstellen</a:documentation>
      <ref name="a_id"/>
      <attribute name="ebene"/>
      <a:documentation docid="bookmark/level">Die Ebene des Lesezeichens. 1 = oberste Stufe, 2 zweitoberste Stufe ...</a:documentation>
      <attribute name="auswahl"/>
      <a:documentation docid="bookmark/select">Der Titel des Lesezeichens als XPath-Ausdruck</a:documentation>
      <optional>
        <attribute name="offen">
          <a:documentation docid="bookmark/open">Die Lesezeichenhierarchie wie sie im PDF viewer angezeigt wird</a:documentation>
          <choice>
            <value>ja</value>
            <a:documentation docid="bookmark/open/yes">Unterebenen sichtbar</a:documentation>
            <value>nein</value>
            <a:documentation docid="bookmark/open/no">Unterebenen versteckt</a:documentation>
          </choice>
        </attribute>
      </optional>
    </element>
  </define>

  <define name="e_Dataset">
    <element name="Datensatz">
      <a:documentation docid="record">Führt für jedes angegebene Element (im Attribut ›element‹) die Anweisungen in den Kindelementen aus.</a:documentation>
      <ref name="a_id"/>
      <oneOrMore>
        <ref name="t_Commands"/>
      </oneOrMore>
      <attribute name="element"/>
      <a:documentation docid="record/element">Jedes dieser Elemente wird mit den Anweisungen ausgeführt.</a:documentation>
      <optional>
        <attribute name="modus"/>
        <a:documentation docid="record/mode">Wird ein Datensatz zusammen mit einem Modus definiert, dann wird er nur dann ausgeführt, wenn »BearbeiteKnoten« ebenfalls mit diesem Modus aufgerufen wurde.</a:documentation>
      </optional>
    </element>
  </define>

  <define name="e_DefineColor">
     <element name="DefiniereFarbe">
       <a:documentation docid="definecolor">Definiert eine Farbe mit dem Namen aus dem Attribut »name«. Es gibt zwei zulässige Modelle, »rgb« und »cmyk«. Die Wertangaben liegen zwischen 0 und 100.</a:documentation>
       <ref name="a_id"/>
       <attribute name="name"><data type="string"/></attribute>
       <choice>
         <group>
           <attribute name="modell">
             <a:documentation docid="definecolor/model">Es gibt zwei zulässige Modelle: ›cmyk‹ und ›rgb‹.</a:documentation><value>rgb</value></attribute>
           <attribute name="r">
             <a:documentation docid="definecolor/r">Wert für Rot (zwischen 0 und 100)</a:documentation>
           </attribute>
           <attribute name="g">
             <a:documentation docid="definecolor/g">Wert für Grün (zwischen 0 und 100)</a:documentation>
           </attribute>
           <attribute name="b">
             <a:documentation docid="definecolor/b">Wert für Blau (zwischen 0 und 100)</a:documentation>
           </attribute>
         </group>
         <group>
           <attribute name="modell"><value>cmyk</value></attribute>
           <attribute name="c">
             <a:documentation docid="definecolor/c">Wert für Türkis (cyan, zwischen 0 und 100)</a:documentation>
           </attribute>
           <attribute name="m">
             <a:documentation docid="definecolor/m">Wert für Magenta (zwischen 0 und 100)</a:documentation>
           </attribute>
           <attribute name="y">
             <a:documentation docid="definecolor/y">Wert für Gelb (yellow, zwischen 0 und 100)</a:documentation>
           </attribute>
           <attribute name="k">
             <a:documentation docid="definecolor/k">Wert für Schwarz (key, zwischen 0 und 100)</a:documentation>
           </attribute>
         </group>
       </choice>
     </element>
    </define>

  <define name="e_DefineFontfamily">
    <element name="DefiniereSchriftfamilie">
      <a:documentation docid="definefontfamily">Definiert eine Schriftfamilie bestehend aus den Schnitten »Normal«, »Kursiv«, »Fett« und »Fett Kursiv«.
                Die Familien werden benötigt, wenn innerhalb eines Textes auf einen anderen Schnitt umgeschaltet wird.
                Die Schriftarten müssen vorher mit »LadeSchriftdatei« geladen werden. Die Familie mit dem Namen »Text«
                wird immer dann verwendet, wenn keine bei Textausgabe (Element »Absatz«, ...) keine Schriftfamilie
                angegeben wird.</a:documentation>
      <ref name="a_id"/>
      <attribute name="name"/>
      <attribute name="schriftgröße"><data type="double"/></attribute>
      <a:documentation docid="definefontfamily/fontsize">Schriftgröße in Punkt (0-...)</a:documentation>
      <attribute name="zeilenabstand"><data type="double"/></attribute>
      <a:documentation docid="definefontfamily/rowdistance">Zeilenabstand in Punkt (0-...)</a:documentation>
      <interleave>
        <element name="Normal">
          <a:documentation docid="definefontfamily/regular">Wählt die Schriftart für den »normalen« Schriftschnitt aus</a:documentation>
          <ref name="a_id"/>
          <attribute name="schriftart"/>
        </element>
        <optional>
          <element name="Fett">
            <a:documentation docid="definefontfamily/bold">Schriftart, wenn innerhalb eines Textes auf »Fett« (&lt;b&gt;...&lt;/b&gt;) umgeschaltet wird.</a:documentation>
            <ref name="a_id"/>
            <attribute name="schriftart"/>
          </element>
        </optional>
        <optional>
          <element name="Kursiv">
            <a:documentation docid="definefontfamily/italic">Schriftart, wenn innerhalb eines Textes auf »Kursiv« (&lt;i&gt;...&lt;/i&gt;) umgeschaltet wird.</a:documentation>
            <ref name="a_id"/>
            <attribute name="schriftart"/>
          </element>
        </optional>
        <optional>
          <element name="FettKursiv">
            <a:documentation docid="definefontfamily/bolditalic">Schriftart, wenn innerhalb eines Textes auf »Fett« und »Kursiv«
                (&lt;b&gt;&lt;i&gt;...&lt;/i&gt;&lt;/b&gt;) umgeschaltet wird.</a:documentation>
            <ref name="a_id"/>
            <attribute name="schriftart"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>

  <define name="e_DefineTextformat">
    <element name="DefiniereTextformat">
      <ref name="a_id"/>
      <attribute name="name"/>
      <optional><ref name="a_alignment"/></optional>
      <optional><attribute name="einrückung"/></optional>
      <optional>
        <attribute name="zeilen">
          <a:documentation docid="definetextformat/rows">Anzahl der Zeilen mit Einzug oder (wenn negativ) Anzahl der nicht eingezogenen Zeilen</a:documentation>
        </attribute></optional>
    </element>
  </define>

  <define name="e_Element">
    <element name="Element">
      <a:documentation docid="element">Erzeugt ein XML-Element, das in eine Datei geschrieben werden kann (»SpeichereDatensatzdatei«).</a:documentation>
      <ref name="a_id"/>
      <attribute name="name"><data type="string"/></attribute>
      <a:documentation docid="element/name">Name des Elements.</a:documentation>
      
      <oneOrMore>
        <interleave>
          <optional><ref name="e_Element"/></optional>
          <optional><ref name="e_Attribute"/></optional>
          <optional><ref name="e_CopyOf"/></optional>
        </interleave>
      </oneOrMore>
    </element>
  </define>

  <define name="e_Switch">
    <element name="Fallunterscheidung">
      <a:documentation docid="switch">Enthält eine Wenn-Dann-Abfrage. Die Kindelemente »Fall« werden ausgeführt, wenn die Bedingung erfüllt
                ist. Wenn keine Bedingung erfüllt ist, wird das Element »Sonst« ausgeführt, sofern es vorhanden
                ist.</a:documentation>
      <ref name="a_id"/>
      <oneOrMore>
        <element name="Fall">
          <a:documentation docid="switch/case">Wenn die Bedingung im Attribut ›bedingung‹ zutrifft, wird der Inhalt dieses Elements ausgeführt und die Verarbeitung hinter der Fallunterscheidung fortgesetzt.</a:documentation>
          <ref name="a_id"/>
          <attribute name="bedingung"><data type="string"/></attribute>
          <a:documentation docid="switch/test">Enthält einen XPath-Ausdruck für die Bedingung</a:documentation>
          <oneOrMore>
            <ref name="t_Switchcontents"/>
          </oneOrMore>
        </element>
      </oneOrMore>
      <optional>
        <element name="Sonst">
          <a:documentation docid="switch/otherwise">Wird ausgeführt, falls keine Bedingung zutrifft</a:documentation>
          <ref name="a_id"/>
          <oneOrMore>
            <ref name="t_Switchcontents"/>
          </oneOrMore>
        </element>
      </optional>
    </element>
  </define>

  <define name="e_Group">
    <element name="Gruppe">
      <attribute name="name"><data type="string"/></attribute>
      <ref name="a_id"/>
      <element name="Inhalt">
        <ref name="a_id"/>
        <oneOrMore>
          <ref name="t_Commands"/>
        </oneOrMore>
      </element>
    </element>
  </define>

  <define name="e_I">
    <element name="I">
      <a:documentation docid="i">Schaltet auf Kursiv um</a:documentation>
      <ref name="a_id"/>
      <ref name="t_values"/>
    </element>
  </define>

  <define name="e_CopyOf">
    <element name="Kopie-von">
      <a:documentation docid="copyof">Fügt eine Menge von Elementen ein.</a:documentation>
      <ref name="a_id"/>
      <attribute name="auswahl">
        <a:documentation docid="copyof/select">XPath Ausdruck um den Inhalt zu ermitteln.</a:documentation>
      </attribute>
    </element>
  </define>

  <define name="e_LoadDataset">
    <element name="LadeDatensatzdatei">
      <a:documentation docid="loaddataset">Lädt eine zuvor gespeicherte Datensatzdatei. Existiert die angegebene Datei nicht, wird dieser Befehl
                übersprungen.</a:documentation>
      <ref name="a_id"/>
      <attribute name="name"><data type="string"/></attribute>
      <a:documentation docid="loaddataset/name">Name der Datensatzdatei.</a:documentation>
      <empty/>
    </element>
  </define>

  <define name="e_LoadFontfile">
    <element name="LadeSchriftdatei">
      <a:documentation docid="loadfontfile">Lädt eine Schriftdatei. Erlaubt sind Type1, TrueType und OpenType Schriftarten.</a:documentation>
      <ref name="a_id"/>
      <attribute name="name"><data type="string"/></attribute>
      <a:documentation docid="loadfontfile/name">Der Name, unter dem die Schriftart später angesprochen werden kann.</a:documentation>
      <attribute name="dateiname"><data type="string"/></attribute>
      <a:documentation docid="loadfontfile/filename">Der Dateiname ohne Pfadangabe. Beispiel: »helvetica.ttf«</a:documentation>
      <optional>
        <attribute name="randausgleich">
          <a:documentation docid="loadfontfile/marginprotrusion">Optischer Randausgleich (Trennstrich, Komma und Punkt ragen in den Rand). Erlaubt sind Werte zwischen 0 (kein Randausgleich) und 100 (vollständig).</a:documentation>
          <ref name="t_zerotohundred"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="leerraum">
          <a:documentation docid="loadfontfile/space">Natürliche Breite des Leeraums zwischen den Wörtern (in Prozent der Schriftgröße). Voreingestellt ist 25.</a:documentation>
          <ref name="t_zerotohundred"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="kapitälchen">
          <a:documentation docid="smallcaps">Kapitälchen aus der Schriftdatei benutzen (nur manche OpenType/TrueType Schriftarten)</a:documentation>
          <choice>
            <value>ja</value>
            <a:documentation docid="loadfontfile/smallcaps/yes">Kapitälchen aktivieren</a:documentation>
            <value>nein</value>
            <a:documentation docid="loadfontfile/smallcaps/no">Keine Kapitälchen</a:documentation>
          </choice>
        </attribute>
      </optional>
    </element>
  </define>

  <define name="e_Layout">
    <element name="Layout">
      <ref name="a_id"/>
      <oneOrMore>
        <ref name="t_Toplevel"/>
        <optional><ref name="e_Include"/></optional>
      </oneOrMore>
    </element>
  </define>

  <define name="e_Include">
    <element name="Include">
      <ref name="a_id"/>
      <oneOrMore><ref name="t_Toplevel"/></oneOrMore>
    </element>
  </define>

  <define name="e_EmptyLine">
    <element name="Leerzeile">
      <a:documentation docid="emptyline">Der virtuelle Cursor wird auf die übernächste freie Zeile gesetzt.</a:documentation>
      <ref name="a_id"/>
      <empty/>
    </element>
  </define>

  <define name="e_Rule">
    <element name="Linie">
      <a:documentation docid="rule">Zeichnet eine Linie</a:documentation>
      <ref name="a_id"/>
      <attribute name="länge"/>
      <a:documentation docid="rule/length">Länge der Linie in Rasterzellen (Zahl) oder als Maß (z.B. 4cm)</a:documentation>
      <attribute name="farbe"/>
      <a:documentation docid="rule/color">Die Farbe der Linie</a:documentation>
      <attribute name="richtung">
        <a:documentation docid="rule/direction">Ausrichtung der Linie</a:documentation>
        <choice>
          <value>horizontal</value>
          <value>vertikal</value>
        </choice>
      </attribute>
      <optional>
        <attribute name="linienstärke"/>
        <a:documentation docid="rule/thickness">Dicke der Linie in Rasterzellen (Zahl) oder als Maß (z.B. 4pt)</a:documentation>
      </optional>
    </element>
  </define>

  <define name="e_Message">
    <element name="Nachricht">
      <a:documentation docid="message">Erzeugt eine Meldung auf der Konsole und im Protokoll. Die Nachricht wird durch das Attribut ›auswahl‹ oder durch Kindelemente »Wert« angegeben.</a:documentation>
      <ref name="a_id"/>
      <choice>
        <attribute name="auswahl"><data type="string"/></attribute>
        <a:documentation docid="message/select">Nachricht, die ausgegeben werden soll (als XPath-Ausdruck)</a:documentation>
        <oneOrMore>
          <ref name="e_Value"/>
        </oneOrMore>
      </choice>
    </element>
  </define>

  <define name="e_NextFrame">
    <element name="NächsterRahmen">
      <a:documentation docid="nextframe">Wechselt auf den nächsten Rahmen im angegebenen Platzierungsbereich. Ist kein Rahmen mehr auf der Seite vorhanden, wird eine neue Seite erzeugt.</a:documentation>
      <ref name="a_id"/>
      <attribute name="bereich">
        <a:documentation docid="nextframe/area">Innheralb dieses Bereichs wird auf den nächsten Rahmen gewechselt.</a:documentation>
      </attribute>
    </element>
  </define>

  <define name="e_NewPage">
    <element name="NeueSeite">
      <a:documentation docid="newpage">Beendet die Ausgabe auf der aktuellen Seite und erzeugt eine neue Seite. Diese wird nur angelegt, wenn später Text o.ä. ausgegeben wird.</a:documentation>
      <ref name="a_id"/>
      <empty/>
    </element>
  </define>

  <define name="e_NewRow">
    <element name="NeueZeile">
      <a:documentation docid="newrow">Der virtuelle Cursor wird auf die nächste freie Zeile gesetzt.</a:documentation>
      <ref name="a_id"/>
      <optional>
        <attribute name="zeile"/>
        <a:documentation docid="newrow/row">Zeile für den virtuellen Cursor (Zahl). Wenn nicht angegeben, nimmt der Publisher die nächste freie Zeile.</a:documentation>
      </optional>
      <optional>
        <attribute name="zeilen"/>
        <a:documentation docid="newrow/rows">Anzahl der Zeilen, die frei gehalten werden sollen. Vorgabe: 1.</a:documentation>
      </optional>
      <optional>
        <attribute name="bereich"/>
        <a:documentation docid="newrow/area">Name des Bereichs, in dem der Cursor versetzt wird.</a:documentation>
      </optional>
      <empty/>
    </element>
  </define>

  <define name="e_PlaceObject">
    <element name="ObjektAusgeben">
      <a:documentation docid="placeobject">Gibt ein Objekt (Bild,..) aus.</a:documentation>
      <ref name="a_id"/>
      <optional>
        <attribute name="spalte"/>
        <a:documentation docid="placeobject/column">Spalte in der das Objekt ausgegeben werden soll (Zahl). Wird keine Spalte angegeben, so nimmt der
                Publisher die aktuelle Spalte, bzw. wenn das Objekt zu breit ist, die nächste freie Zeile.</a:documentation>
      </optional>
      <optional>
        <ref name="a_allocate"/>
      </optional>
      <optional>
        <ref name="a_valign"/>
      </optional>
      <optional>
        <attribute name="hreferenz">
          <a:documentation docid="placeobject/hreference">Das Objekt wird an der gewählten Spalte platziert. Mit hreferenz (horizontal) kann man die Kante bestimmen, die für die Platzierung gewählt wird.</a:documentation>
          <choice>
            <value>links</value>
            <a:documentation docid="placeobject/hreference/left">Die Spalte gibt die linke Kante des Objekts an.</a:documentation>
            <value>rechts</value>
            <a:documentation docid="placeobject/hreference/right">Die Spalte gibt die rechte Kante des Objekts an.</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="bereich">
          <a:documentation docid="placeobject/area">Der Platzierungsbereich, in dem das Objekt ausgegeben werden soll. Die Angabe von Zeile und Spalte
                bezieht sich auf den angegebenen Platzierungsbereich. Der voreingestellte Platzierungsbereich ist
                »Seite«.</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="zeile">
          <a:documentation docid="placeobject/row">Zeile, in der das Objekt ausgegeben werden soll (optional, Zahl). Wird die Zeile nicht mit angegeben, so
                sucht sich das System selbständig eine freie Zeile</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="rahmen">
          <a:documentation docid="placeobject/frame">Rahmen um das Objekt</a:documentation>
          <choice>
            <value>ohne</value>
            <a:documentation docid="placeobject/frame/without">Das Objekt wird nicht umrahmt</a:documentation>
            <value>durchgezogen</value>
            <a:documentation docid="placeobject/frame/solid">Erzeugt einen durchgezogenen Rahmen um das Objekt</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="rahmenfarbe">
          <data type="string"/>
        </attribute>
        <a:documentation docid="placeobject/framecolor">Farbe des Rahmens, der gezeichnet werden soll. (Text)</a:documentation>
      </optional>
      <optional>
        <attribute name="linienstärke">
          <data type="string"/>
        </attribute>
        <a:documentation docid="placeobject/rulewidth">Dicke der Rahmenlinie die gezeichnet wird.</a:documentation>
      </optional>
      <optional>
        <attribute name="hintergrund">
          <a:documentation docid="placeobject/background">Fläche hinter dem Objekt</a:documentation>
          <choice>
            <value>ohne</value>
            <a:documentation docid="placeobject/background/without">Das Objekt erhält keinen Hintergrund</a:documentation>
            <value>vollständig</value>
            <a:documentation docid="placeobject/background/full">Ein rechteckiger Hintergrund wird hinter das Objekt gelegt</a:documentation>
          </choice>
        </attribute>
        <attribute name="hintergrundfarbe">
          <data type="string"/>
        </attribute>
        <a:documentation docid="placeobject/backgroundcolor">Farbe des Hintergrunds, der gezeichnet werden soll. (Text)</a:documentation>
      </optional>
      <optional>
        <attribute name="maxhöhe">
          <a:documentation docid="placeobject/maxheight">Gibt die maximale Höhe der auszugebenden Objekte an. Wird für automatischen Tabellenumbruch benötigt</a:documentation>
        </attribute>
      </optional>
      <choice>
        <attribute name="gruppenname">
          <a:documentation docid="placeobject/groupname">Name der Gruppe, die ausgegeben werden soll (Text).</a:documentation>
        </attribute>
        <interleave>
          <optional>
            <ref name="e_Image"/>
          </optional>
          <optional>
            <ref name="e_Box"/>
          </optional>
          <optional>
            <ref name="e_Rule"/>
          </optional>
          <optional>
            <ref name="e_Textblock"/>
          </optional>
          <optional>
            <ref name="e_Barcode"/>
          </optional>
          <optional>
            <ref name="e_Table"/>
          </optional>
        </interleave>
      </choice>
    </element>
  </define>

  <define name="e_Options">
    <element name="Optionen">
      <ref name="a_id"/>
      <optional>
        <attribute name="hauptsprache">
          <a:documentation docid="options/defaultlanguage">Die voreingestellte Sprache für die Textausgabe (für Silbentrennung)</a:documentation>
          <ref name="t_languages"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="zeige_rasterbelegung">
          <a:documentation docid="options/showgridallocation">Bestimmt, ob die Rasterbelegung angezeigt wird.</a:documentation>
          <choice>
            <value>ja</value>
            <a:documentation docid="options/showgridalllocation/yes">Rasterbelegung wird farblich markiert</a:documentation>
            <value>nein</value>
            <a:documentation docid="options/showgridallocation/no">Rasterbelegung wird nicht markiert</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="zeichne_raster">
          <a:documentation docid="options/showgrid">Bestimmt, ob das zugrunde liegende Raster gezeichnet wird.</a:documentation>
          <choice>
            <value>ja</value>
            <a:documentation docid="options/showgrid/yes">Raster wird gezeichnet Raster wird nicht gezeichnet</a:documentation>
            <value>nein</value>
            <a:documentation docid="options/showgrid/yes">Raster wird gezeichnet Raster wird nicht gezeichnet</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="zeige_silbentrennung">
          <a:documentation docid="options/showhyphenation">Zeichnet kleine Markierungen an den Stellen, an denen Wörter getrennt werden können.</a:documentation>
          <choice>
            <value>ja</value>
            <a:documentation docid="options/showhyphenation/yes">Kleine Markierungen werden an Trennstellen gezeigt</a:documentation>
            <value>nein</value>
            <a:documentation docid="options/showhyphenation/no">Normaler Text ohne Markierungen</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="trace">
          <a:documentation docid="options/trace">Gibt detaillierte Informationen auf der Konsole (und im Log) aus.</a:documentation>
          <choice>
            <value>ja</value>
            <a:documentation docid="options/trace/yes">Detaillierte Informationen</a:documentation>
            <value>nein</value>
            <a:documentation docid="options/trace/no">Nur die wichtigsten Informationen werden ausgegeben</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="beschnittmarken">
          <a:documentation docid="options/cutmarks">Erzeugt Schnittmarken</a:documentation>
          <choice>
            <value>ja</value>
            <a:documentation docid="options/cutmarks/yes">Schnittmarken werden angezeigt</a:documentation>
            <value>nein</value>
            <a:documentation docid="options/cutmarks/no">Schnittmarken werden nicht angezeigt</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="beschnittzugabe">
          <a:documentation docid="options/trim">Größe der Beschnittzugabe (»bleed«, Längenangabe mit Einheit, bspw. 3mm)</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="startseite">
          <a:documentation docid="options/startpage">Gibt die Startseite an. Voreinstellung ist 1</a:documentation>
        </attribute>
      </optional>
    </element>
  </define>

  <define name="e_PositioningArea">
    <element name="Platzierungsbereich">
      <a:documentation docid="positioningarea">Platzierungsbereiche enthalten Platzierungsrahmen, die unter einem Namen angesprochen werden (Attribut
                »name«). Die Rahmen sind in der Reihenfolge ihrer Definition miteinander verbunden. D.h. kann ein Objekt
                nicht mehr im Rahmen n dargestellt werden, wird Rahmen n+1 ausgewählt (bzw. auf der nächsten Seite der
                erste Rahmen, wenn es keinen Rahmen n+1 gibt).</a:documentation>
      <ref name="a_id"/>
      <attribute name="name">
        <a:documentation docid="positioningarea/name">Der Name des Platzierungsbereichs.</a:documentation>
      </attribute>
      <oneOrMore>
        <element name="Platzierungsrahmen">
          <a:documentation docid="positioningframe">Platzierungsrahmen sind rechteckig, daher müssen alle vier Attribute angegeben werden.</a:documentation>
          <ref name="a_id"/>
          <attribute name="spalte"/>
          <attribute name="zeile"/>
          <attribute name="höhe"/>
          <attribute name="breite"/>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="e_Margin">
    <element name="Rand">
      <ref name="a_id"/>
      <attribute name="links"/>
      <attribute name="rechts"/>
      <attribute name="oben"/>
      <attribute name="unten"/>
    </element>
  </define>

  <define name="e_FontFace">
    <element name="Schriftart">
      <a:documentation docid="fontface">Schaltet auf eine andere Schriftfamilie um</a:documentation>
      <ref name="a_id"/>
      <attribute name="schriftfamilie"/>
      <ref name="t_values"/>
    </element>
  </define>

  <define name="e_Pageformat">
    <element name="Seitenformat">
      <ref name="a_id"/>
      <attribute name="breite"/>
      <attribute name="höhe"/>
    </element>
  </define>

  <define name="e_SaveDataset">
    <element name="SpeichereDatensatzdatei">
      <a:documentation docid="savedataset">Speichert eine Datei unter dem angegebenen Namen. Die Datei kann mit »LadeDatensatzdatei« wieder geladen
                (und ausgeführt) werden. Der Inhalt ist eine Sequenz, z.B. aus den Befehlen »Element« und »Attribut«
                oder »Sequenz«.</a:documentation>
      <ref name="a_id"/>
      <attribute name="dateiname"><data type="string"/></attribute>
      <a:documentation docid="savedataset/filename">Name der Datensatzdatei</a:documentation>
      <attribute name="elementname"><data type="string"/></attribute>
      <a:documentation docid="savedataset/elementname">Name des Wurzelelements</a:documentation>
      <choice>
        <attribute name="auswahl"><data type="string"/></attribute>
        <a:documentation docid="savedataset/select">Inhalt der Datensatzdatei</a:documentation>
        <oneOrMore>
          <optional><ref name="e_Element"/></optional>
          <optional><ref name="e_SortSequence"/></optional>
          <optional><ref name="e_Sequence"/></optional>
          <optional><ref name="e_CopyOf"/></optional>
        </oneOrMore>
      </choice>
    </element>
  </define>

  <define name="e_Stylesheet">
    <element name="Stylesheet">
      <a:documentation docid="stylesheet">CSS Stylesheet einbinden um das Aussehen der Elemente zu verändern</a:documentation>
      <attribute name="dateiname">
        <a:documentation docid="stylesheet/filename">Dateiname des Stylesheets</a:documentation>
      </attribute>
    </element>
  </define>

  <define name="e_Pagetype">
    <element name="Seitentyp">
      <ref name="a_id"/>
      <attribute name="name"/>
      <a:documentation docid="pagetype/name">Name der Seite. Derzeit wird der Name nicht weiter benutzt. Beliebig.</a:documentation>
      <attribute name="bedingung"/>
      <a:documentation docid="pagetype/test">XPath-Audruck, der »wahr« oder »falsch« zurückgibt. Bestimmt, ob diese Seite als Seitentyp gewählt wird</a:documentation>
      <ref name="e_Margin"/>
      <optional><ref name="e_PositioningArea"/></optional>
      <interleave>
        <optional>
          <element name="Raster">
            <a:documentation docid="pagetype/grid">Bestimmt ein seitentspezifisches Raster</a:documentation>
            <ref name="a_id"/>
            <attribute name="breite"/>
            <a:documentation docid="pagetype/grid/width">Breite einer Rasterzelle (Maßeinheit), z.B. 10mm</a:documentation>
            <attribute name="höhe"/>
            <a:documentation docid="pagetype/grid/height">Höhe einer Rasterzelle (Maßeinheit), z.B. 10mm</a:documentation>
          </element>
        </optional>
        <optional>
          <ref name="e_AtPageCreation"/>
        </optional>
        <optional>
          <ref name="e_AtPageShipout"/>
        </optional>
      </interleave>
    </element>
  </define>

  <define name="e_Sequence">
    <element name="Sequenz">
      <a:documentation docid="sequence">Wählt Daten aus der Datendatei aus.</a:documentation>
      <ref name="a_id"/>
      <attribute name="auswahl">
        <a:documentation docid="sequence/test">Name der Kindelemente für die Sequenz.</a:documentation>
      </attribute>
    </element>
  </define>

  <define name="e_SetGrid">
    <element name="SetzeRaster">
      <ref name="a_id"/>
      <attribute name="breite"/>
      <attribute name="höhe"/>
    </element>
  </define>

  <define name="e_While">
    <element name="Solange">
      <a:documentation docid="while">Führt die Kindelemente solange aus, wie die Bedingung ›wahr‹ ist.</a:documentation>
      <ref name="a_id"/>
      <attribute name="bedingung"><data type="string"/></attribute>
      <a:documentation docid="while/test">XPath-Ausdruck für die Bedingung</a:documentation>
      <oneOrMore>
        <interleave>
          <ref name="t_Switchcontents"/>
        </interleave>
      </oneOrMore>
    </element>
  </define>

  <define name="e_SortSequence">
    <element name="SortiereSequenz">
      <a:documentation docid="sortsequence">Sortiert die angegebene Sequenz. Die zu sortierende Sequenz sollte in einer Variablen gespeichert sein, da der Inhalt verändert wird.</a:documentation>
      <ref name="a_id"/>
      <attribute name="auswahl">
        <a:documentation docid="sortsequence/select">Bestimmt die Sequenz (XML-Elemente), die sortiert werden soll. (XPath-Ausdruck)</a:documentation>
      </attribute>
      <attribute name="kriterium">
        <a:documentation docid="sortsequence/criterium">Das Attribut, nachdem sortiert werden soll.</a:documentation>
      </attribute>
      <optional>
        <attribute name="duplikatelöschen"/>
        <a:documentation docid="sortsequence/removeduplicates">Entfernt Duplikate. Name des Attributs, auf das geprüft werden soll.</a:documentation>
      </optional>
    </element>
  </define>

  <define name="e_Sup">
    <element name="Sup">
      <a:documentation docid="sup">Hochgestellter Text</a:documentation>
      <ref name="a_id"/>
      <ref name="t_values"/>
    </element>
  </define>

  <define name="e_Sub">
    <element name="Sub">
      <a:documentation docid="sub">Tiefgestellter Text</a:documentation>
      <ref name="a_id"/>
      <ref name="t_values"/>
    </element>
  </define>

  <define name="e_Table">
    <element name="Tabelle">
      <a:documentation docid="table">Erzeugt eine Tabelle</a:documentation>
      <ref name="a_id"/>
      <attribute name="breite"/>
      <a:documentation docid="table/width">Die Breite der Tabelle im Raster. (Zahl)</a:documentation>
      <optional>
        <attribute name="padding"/>
        <a:documentation docid="table/padding">Abstand innerhalb einer Zelle (Maßangabe)</a:documentation>
      </optional>
      <optional>
        <attribute name="spaltenabstand"/>
        <a:documentation docid="table/columndistance">Abstand zwischen zwei Spalten (Maßangabe)</a:documentation>
      </optional>
      <optional>
        <attribute name="zeilenabstand"/>
        <a:documentation docid="table/rowdistance">Abstand zwischen zwei Zeilen (Maßangabe)</a:documentation>
      </optional>
      <optional>
        <attribute name="textformat"/>
        <a:documentation docid="table/textformat">Textformat für die Tabelle, falls die Zellen kein eigenes angegeben haben</a:documentation>
      </optional>
      <optional>
        <attribute name="dehnen">
          <a:documentation docid="table/stretch">Bei kurzen Inhalten könnte die Tabelle schmaler sein als die angegebene Breite. Dieses Attribut gibt an,
                ob die Tabelle ggf. auf die angegebene Breite gedehnt wird.</a:documentation>
          <choice>
            <value>max</value>
            <a:documentation docid="table/stretch/max">Die Tabelle wird auf die angegebene Breite gedehent, wenn der Inhalt eine schmalere Tabelle erzeugen würde.</a:documentation>
            <value>nein</value>
            <a:documentation docid="table/stretch/no">Die Tabelle wird nicht gedehnt.</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="schriftart">
          <a:documentation docid="table/fontface">Schriftart, die vorher mit »DefiniereSchriftfamilie« definiert wurde, wird als Standardschriftart für
                die Tabelle benutzt (Instanz: ›Normal‹)</a:documentation>
        </attribute></optional>
      <oneOrMore>
        <interleave>
          <optional>
            <element name="Tabellenkopf">
              <a:documentation docid="table/head">Wird auf jeder Seite wiederholt.</a:documentation>
              <ref name="a_id"/>
              <optional>
                <attribute name="seite">
                  <a:documentation docid="table/head/page">Seitenauswahl für den Tabellenkopf</a:documentation>
                  <choice>
                    <value>alle</value>
                    <a:documentation docid="table/head/page/all">Dieser Tabellenkopf erscheint auf allen Seiten (default)</a:documentation>
                    <value>erste</value>
                    <a:documentation docid="table/head/page/first">Dieser Tabellenkopf erscheint auf der ersten Seite</a:documentation>
                  </choice>
                </attribute>
              </optional>
              <oneOrMore>
                <interleave>
                  <optional><ref name="e_Tablerule"/></optional>
                  <optional><ref name="e_CopyOf"/></optional>
                  <optional><ref name="e_Tr"/></optional>
                </interleave>
              </oneOrMore>
            </element>
          </optional>
          <optional>
            <element name="Tabellenfuß">
              <a:documentation docid="table/foot">Wird auf jeder Seite wiederholt.</a:documentation>
              <ref name="a_id"/>
              <optional>
                <attribute name="seite">
                  <a:documentation docid="table/foot/page">Seitenauswahl für den Tabellenfuß</a:documentation>
                  <choice>
                    <value>alle</value>
                    <a:documentation docid="table/foot/page/all">Dieser Tabellenfuß erscheint auf allen Seiten (default)</a:documentation>
                    <value>letzte</value>
                    <a:documentation docid="table/foot/page/last">Dieser Tabellenfuß erscheint auf der letzten Seite</a:documentation>
                  </choice>
                </attribute>
              </optional>
              <oneOrMore>
                <interleave>
                  <optional><ref name="e_Tablerule"/></optional>
                  <optional><ref name="e_CopyOf"/></optional>
                  <optional><ref name="e_Tr"/></optional>
                </interleave>
              </oneOrMore>
            </element>
          </optional>
          <optional><ref name="e_Columns"/></optional>
          <optional><ref name="e_Tr"/></optional>
          <optional><ref name="e_CopyOf"/></optional>
          <optional><ref name="e_Tablerule"/></optional>
          <optional><ref name="e_Message"/></optional>
          <optional><ref name="e_Switch"/></optional>
        </interleave>
      </oneOrMore>
    </element>
  </define>

  <define name="e_Tablerule">
    <element name="Tlinie">
      <a:documentation docid="tablerule">Erzeugt eine durchgehende horizontale Linie in der Tabelle</a:documentation>
      <ref name="a_id"/>
      <optional>
        <attribute name="linienstärke"/>
        <a:documentation docid="tablerule/rulewidth">Gibt die »Dicke« der Linie an. Beispiel: linienstärke="3pt"</a:documentation>
      </optional>
      <optional>
        <attribute name="farbe">
          <a:documentation docid="tablerule/color">Farbe der Linie.</a:documentation>
        </attribute>
      </optional>
    </element>
  </define>

  <define name="e_Td">
    <element name="Td">
      <ref name="a_id"/>
      <optional>
        <attribute name="colspan">
          <a:documentation docid="td/colspan">Gibt an, über wie viele Spalten sich der Inhalt erstreckt. Voreinstellung: 1</a:documentation>
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="rowspan">
          <a:documentation docid="td/rowspan">Gibt an, über wie viele Zeilen sich der Inhalt erstreckt. Voreinstellung: 1</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="align">
          <a:documentation docid="td/align">Horizontale Ausrichtung</a:documentation>
          <choice>
            <value>left</value>
            <a:documentation docid="td/align/left">Linksbündig ausgeben</a:documentation>
            <value>center</value>
            <a:documentation docid="td/align/center">Zentriert ausgeben</a:documentation>
            <value>right</value>
            <a:documentation docid="td/align/right">Rechtsbündig ausgeben</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="hintergrundfarbe">
          <a:documentation docid="td/backgroundcolor">Farbe der Tabellenzelle</a:documentation>
        </attribute>
      </optional>
      <optional>
        <ref name="a_valign"/>
      </optional>
      <optional>
        <attribute name="border-left"/>
        <a:documentation docid="td/borderleft">Breite des linken Rahmens</a:documentation>
      </optional>
      <optional>
        <attribute name="border-right"/>
        <a:documentation docid="td/borderright">Breite des rechten Rahmens</a:documentation>
      </optional>
      <optional>
        <attribute name="border-top"/>
        <a:documentation docid="td/bordertop">Breite des oberen Rahmens</a:documentation>
      </optional>
      <optional>
        <attribute name="border-bottom"/>
        <a:documentation docid="td/borderbottom">Breite des unteren Rahmens</a:documentation>
      </optional>
      <optional>
        <attribute name="border-left-color"/>
        <a:documentation docid="td/borderleftcolor">Farbe des linken Rahmens</a:documentation>
      </optional>
      <optional>
        <attribute name="border-right-color"/>
        <a:documentation docid="td/borderrightcolor">Farbe des rechten Rahmens</a:documentation>
      </optional>
      <optional>
        <attribute name="border-top-color"/>
        <a:documentation docid="td/bordertopcolor">Farbe des oberen Rahmens</a:documentation>
      </optional>
      <optional>
        <attribute name="border-bottom-color"/>
        <a:documentation docid="td/borderbottomcolor">Farbe des unteren Rahmens</a:documentation>
      </optional>
      <optional>
        <attribute name="padding"/>
        <a:documentation docid="td/padding">Kurzform für die Angabe von ›padding-*‹</a:documentation>
      </optional>
      <optional>
        <attribute name="padding-left"/>
        <a:documentation docid="td/paddingleft">Bestimmt den Innenrand links (Maßangabe)</a:documentation>
      </optional>
      <optional>
        <attribute name="padding-right"/>
        <a:documentation docid="td/paddingright">Bestimmt den Innenrand rechts (Maßangabe)</a:documentation>
      </optional>
      <optional>
        <attribute name="padding-top"/>
        <a:documentation docid="td/paddingtop">Bestimmt den Innenrand oben (Maßangabe)</a:documentation>
      </optional>
      <optional>
        <attribute name="padding-bottom"/>
        <a:documentation docid="td/paddingbottom">Bestimmt den Innenrand unten (Maßangabe)</a:documentation>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="e_Paragraph"/>
          <ref name="e_Table"/>
          <ref name="e_Image"/>
          <ref name="e_CopyOf"/>
          <ref name="e_Switch"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="e_Tr">
    <element name="Tr">
      <a:documentation docid="tr">Erzeugt eine Tabellenzeile</a:documentation>
      <ref name="a_id"/>
      <optional>
        <attribute name="abstand-oben"/>
        <a:documentation docid="tr/topdistance">Abstand oberhalb der Zeile, wenn sie nicht die erste in der Tabelle ist</a:documentation>
      </optional>
      <optional>
        <attribute name="umbruch-unten">
          <choice>
            <value>nein</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="hintergrundfarbe">
          <a:documentation docid="tr/backgroundcolor">Farbe des Zeilenhintergrundes. (Text)</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="minhöhe">
          <a:documentation docid="tr/minheight">Minimale Höhe in Rasterzellen</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="align">
          <a:documentation docid="tr/align">Bestimmt die horizonatale Ausrichtung für alle Zellen dieser Zeile</a:documentation>
          <choice>
            <value>left</value>
            <a:documentation docid="td/align/left">Linksbündig ausgeben</a:documentation>
            <value>center</value>
            <a:documentation docid="td/align/center">Zentriert ausgeben</a:documentation>
            <value>right</value>
            <a:documentation docid="td/align/right">Rechtsbündig ausgeben</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <ref name="a_valign"/>
      </optional>
      <oneOrMore>
        <optional>
          <ref name="e_Message"/>
        </optional>
        <optional>
          <ref name="e_Td"/>
        </optional>
        <optional>
          <ref name="e_CopyOf"/>
        </optional>
        <optional>
          <ref name="e_Switch"/>
        </optional>
      </oneOrMore>
    </element>
  </define>

  <define name="e_Hyphenation">
    <element name="Trennvorschlag">
      <a:documentation docid="hyphenation">Korrigiert fehlerhafte automatische Silbentrennung. Beispiel: Au-to-bahn</a:documentation>
      <ref name="a_id"/>
      <text/>
    </element>
  </define>

  <define name="e_Columns">
    <element name="Spalten">
      <a:documentation docid="columns">Fasst »Spalte«-Elemente zusammen. Die Anzahl der »Spalte« Elemente muss mit der Anzahl der Tabellenzellen übereinstimmen.</a:documentation>
      <ref name="a_id"/>
      <oneOrMore>
        <element name="Spalte">
          <a:documentation docid="column">Bestimmt die Eigenschaften einer Spalte hinsichtlich Breite, Farbe und Ausrichtung</a:documentation>
          <ref name="a_id"/>
          <optional>
            <attribute name="breite"/>
            <a:documentation docid="column/width">Erlaubt sind absolute Angaben (z.B. 12mm) oder *-Angaben (z.B. 3*). Die *-Angaben werden auf die „Restbreite“ aufgeteilt.</a:documentation>
          </optional>
          <optional>
            <attribute name="hintergrundfarbe"/>
            <a:documentation docid="column/backgroundcolor">Bestimmt die Farbe der Spalte</a:documentation>
          </optional>
          <optional>
            <attribute name="align">
              <a:documentation docid="column/align">Bestimmt die horizonatale Ausrichtung für alle Zellen dieser Spalte</a:documentation>
            <choice>
              <value>left</value>
              <a:documentation docid="td/align/left">Linksbündig ausgeben</a:documentation>
              <value>center</value>
              <a:documentation docid="td/align/center">Zentriert ausgeben</a:documentation>
              <value>right</value>
              <a:documentation docid="td/align/right">Rechtsbündig ausgeben</a:documentation>
            </choice>
            </attribute>
          </optional>
          <optional>
            <ref name="a_valign"/>
          </optional>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="e_Barcode">
    <element name="Strichcode">
      <a:documentation docid="barcode">Erzeugt einen ein- oder zweidimensionalen Strichcode (Barcode)</a:documentation>
      <attribute name="auswahl">
        <a:documentation docid="barcode/select">Der Inhalt der als Strichcode erscheinen soll.</a:documentation>
      </attribute>
      <optional>
        <attribute name="schriftart">
          <a:documentation docid="barcode/fontface">Die Schriftart für den Text unterhalb des Strichcodes.</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="höhe">
          <a:documentation docid="barcode/height">Höhe des Strichcodes (Zahl oder Maßangabe).</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="breite">
          <a:documentation docid="barcode/width">Breite des Strichcodes (Zahl oder Maßangabe)</a:documentation>
        </attribute>
      </optional>
      <choice>
        <group>
          <attribute name="typ">
            <a:documentation docid="barcode/type">Bestimmt den Typ des Strichcodes</a:documentation>
            <value>EAN13</value>
            <a:documentation docid="barcode/type/ean13">Europäische Artikelnummerierung</a:documentation>
          </attribute>
          <optional>
            <attribute name="zeigetext">
              <a:documentation docid="barcode/ean13/showtext">Zeige Ziffern unterhalb des Strichcodes</a:documentation>
              <choice>
                <value>ja</value>
                <a:documentation docid="barcode/ean13/showtext/yes">Zeige Ziffern unterhalb des Codes</a:documentation>
                <value>nein</value>
                <a:documentation docid="barcode/ean13/showtext/no">Zeige nur den Strichcode, keinen Text</a:documentation>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="übersteigen">
              <a:documentation docid="barcode/overshoot">Zeichne verlängerte Linien (0-100)</a:documentation>
            </attribute>
          </optional>
        </group>
        <group>
          <attribute name="typ">
            <a:documentation docid="barcode/type">Bestimmt den Typ des Strichcodes</a:documentation>
            <value>Code128</value>
            <a:documentation docid="barcode/type/code128">Code 128 für Text und Ziffern</a:documentation>
          </attribute>
          <optional>
            <attribute name="zeigetext">
              <a:documentation docid="barcode/code128/showtext">Zeige Text unterhalb des Strichcodes</a:documentation>
              <choice>
                <value>ja</value>
                <a:documentation docid="barcode/code128/showtext/yes">Zeige Text unterhalb des Codes</a:documentation>
                <value>nein</value>
                <a:documentation docid="barcode/code128/showtext/no">Zeige nur den Strichcode, keinen Text</a:documentation>
              </choice>
            </attribute>
          </optional>
        </group>
      </choice>
      <empty/>
    </element>
  </define>

  <define name="e_Textblock">
    <element name="Textblock">
      <a:documentation docid="textblock">Erstellt einen rechteckigen Bereich mit Text. Der Text kann aus mehreren Absätzen bestehen und wird mit »Absatz« gekennzeichnet.</a:documentation>
      <ref name="a_id"/>
      <attribute name="breite"/>
      <oneOrMore>
        <choice>
          <ref name="e_Paragraph"/>
          <ref name="e_CopyOf"/>
          <ref name="e_Action"/>
          <ref name="e_Bookmark"/>
        </choice>
      </oneOrMore>
      <optional><attribute name="textformat"/></optional>
      <optional>
        <attribute name="schriftart"/>
        <a:documentation docid="textblock/fontface">Bestimmt die Schriftart für den Textblock, wenn die Absätze keine Schriftart angegeben haben. (Text)</a:documentation>
      </optional>
      <optional>
        <attribute name="farbe"/>
        <a:documentation docid="textblock/color">Bestimmt die Farbe des Textblocks. Kann in den Absätzen überschrieben werden. (Text)</a:documentation>
      </optional>
      <optional>
        <attribute name="winkel"/>
        <a:documentation docid="textblock/angle">Dreht den Text um den angegebenen Winkel (gegen den Uhrzeigersinn). Beispiel: winkel="45"</a:documentation>
      </optional>
      <optional>
        <attribute name="spalten"/>
        <a:documentation docid="textblock/columns">Anzahl der Spalten</a:documentation>
      </optional>
      <optional>
        <attribute name="spaltenabstand"/>
        <a:documentation docid="textblock/columndistance">Abstand zwischen den Spalten. Entweder eine Maßangabe (z.B. 3mm) oder eine Zahl (Anzahl in Rasterzellen)</a:documentation>
      </optional>
    </element>
  </define>

  <define name="e_Value">
    <element name="Wert">
      <a:documentation docid="value">Fügt die textuelle Reprästentation des Wertes (XPath-Ausdruck) ein.</a:documentation>
      <ref name="a_id"/>
      <choice>
        <attribute name="auswahl">
          <a:documentation docid="value/select">XPath Ausdruck um den Inhalt zu ermitteln.</a:documentation>
        </attribute>
        <text/>
      </choice>
    </element>
  </define>

  <define name="e_U">
    <element name="U">
      <a:documentation docid="u">Schaltet »Unterstreichen« ein</a:documentation>
      <ref name="a_id"/>
      <ref name="t_values"/>
    </element>
  </define>

  <define name="e_URL">
    <element name="URL">
      <a:documentation docid="url">Umbricht eine angegebene URL besser.</a:documentation>
      <ref name="a_id"/>
      <ref name="t_values"/>
    </element>
  </define>

  <define name="e_SetVariable">
    <element name="Zuweisung">
      <a:documentation docid="setvariable">Weist einer Variablen einen Inhalt zu. Der Inhalt wird entweder über das Attribut auswahl oder über den
                Inhalt des Elements bestimmt.</a:documentation>
      <ref name="a_id"/>
      <optional>
        <attribute name="trace">
          <choice>
            <value>ja</value>
            <value>nein</value>
          </choice>
        </attribute>
        <a:documentation docid="setvariable/trace">Gibt die interne Information über die Zuweisung in der Logdatei aus.</a:documentation>
      </optional>
      <attribute name="variable"/>
      <a:documentation docid="setvariable/variable">Name der Variablen, der etwas zugewiesen werden soll (Text).</a:documentation>
      <choice>
        <attribute name="auswahl"/>
        <a:documentation docid="setvariable/select">XPath-Ausdruck für den Inhalt der Variablen. Alternativ dazu: der Inhalt des Elements Zuweisung.</a:documentation>
        <oneOrMore>
          <interleave>
            <optional><ref name="e_Paragraph"/></optional>
            <optional><ref name="e_Value"/></optional>
            <optional><ref name="e_CopyOf"/></optional>
            <optional><ref name="e_Sequence"/></optional>
            <optional><ref name="e_Element"/></optional>
            <optional><ref name="e_Attribute"/></optional>
            <optional><ref name="e_Switch"/></optional>
            <optional><ref name="e_Tr"/></optional>
            <optional><ref name="e_Td"/></optional>
            <optional><ref name="e_Columns"/></optional>
            <optional><ref name="e_Tablerule"/></optional>
            <optional><ref name="e_SortSequence"/></optional>
          </interleave>
        </oneOrMore>
      </choice>
    </element>
  </define>
  
</grammar>