schema/layoutschema.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar 
  xmlns="http://relaxng.org/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  ns="urn:speedata.de:2009/publisher/de">
  <start>
    <ref name="e_Layout"/>
  </start>
  
  <define name="t_nullbishundert">
    <data type="nonNegativeInteger">
      <param name="pattern">(100|[0-9]?[0-9])</param>
    </data>
  </define>

  <define name="t_Toplevel">
    <optional><ref name="e_Datensatz"/></optional>
    <optional><ref name="e_LadeSchriftdatei"/></optional>
    <optional><ref name="e_DefiniereFarbe"/></optional>
    <optional><ref name="e_DefiniereSchriftfamilie"/></optional>
    <optional><ref name="e_DefiniereTextformat"/></optional>
    <optional><ref name="e_Seitenformat"/></optional>
    <optional><ref name="e_Optionen"/></optional>
    <optional><ref name="e_Seitentyp"/></optional>
    <optional><ref name="e_SetzeRaster"/></optional>
    <optional><ref name="e_Trennvorschlag"></ref></optional>
    <optional><ref name="e_Zuweisung"/></optional>
  </define>

  <define name="t_Fallinhalt">
    <ref name="t_Anweisungen"/>
    <optional><ref name="e_Td"/></optional>
    <optional><ref name="e_Wert"/></optional>
    <optional><ref name="e_Bild"/></optional>
    <optional><ref name="e_Absatz"/></optional>
    <optional><ref name="e_Sup"/></optional>
    <optional><ref name="e_Sub"/></optional>
  </define>

  <define name="t_Anweisungen">
    <optional><ref name="e_LadeDatensatzdatei"/></optional>
    <optional><ref name="e_SpeichereDatensatzdatei"/></optional>
    <optional><ref name="e_ObjektAusgeben"/></optional>
    <optional><ref name="e_Fallunterscheidung" /></optional>
    <optional><ref name="e_Solange"/></optional>
    <optional><ref name="e_BearbeiteDatensatz"/></optional>
    <optional><ref name="e_BearbeiteKnoten"/></optional>
    <optional><ref name="e_Nachricht"/></optional>
    <optional><ref name="e_NächsterRahmen"/></optional>
    <optional><ref name="e_NeueSeite" /></optional>
    <optional><ref name="e_NeueZeile"/></optional>
    <optional><ref name="e_Leerzeile"/></optional>
    <optional><ref name="e_Gruppe" /></optional>
    <optional><ref name="e_SortiereSequenz"/></optional>
    <optional><ref name="e_Trennvorschlag"/></optional>
    <optional><ref name="e_Zuweisung"/></optional>
  </define>

  <define name="t_Werte">
    <oneOrMore>
      <optional>
        <ref name="t_Textwerte"/>
      </optional>
    </oneOrMore>
  </define>

  <define name="t_Textwerte">
    <choice>
      <ref name="e_I"/>
      <ref name="e_B"/>
      <ref name="e_U"/>
      <ref name="e_Schriftart"/>
      <ref name="e_Bild"/>
      <ref name="e_Sub"/>
      <ref name="e_Sup"/>
      <ref name="e_URL"/>
      <ref name="e_Wert"/>
      <ref name="e_Fallunterscheidung"/>
    </choice>
  </define>

  <define name="t_PDFBOX">
    <choice>
      <value>artbox</value>
      <value>bleedbox</value>
      <value>cropbox</value>
      <value>mediabox</value>
      <value>trimbox</value>
    </choice>
  </define>

  <define name="t_Sprachen">
    <choice>
      <value>Deutsch</value>
      <value>Englisch (Großbritannien)</value>
      <value>Französisch</value>
    </choice>
  </define>

  <define name="a_ausrichtung">
    <attribute name="ausrichtung">
      <a:documentation>Bestimmt den Rand der Zeilen</a:documentation>
      <choice>
        <value>blocksatz</value>
        <a:documentation>Alle Zeilen haben dieselbe Breite</a:documentation>
        <value>linksbündig</value>
        <a:documentation>Alle Zeilen haben einen festen linken Rand</a:documentation>
        <value>rechtsbündig</value>
        <a:documentation>Alle Zeilen haben einen festen rechten Rand</a:documentation>
        <value>zentriert</value>
        <a:documentation>Alle Zeilen haben einen Flatterrand rechts und links</a:documentation>
      </choice>
    </attribute>
  </define>

  <define name="a_belegen">
    <attribute name="belegen">
      <a:documentation>Gibt an, ob das Objekt den Platz auf der Seite (im Raster) belegen soll. Dadurch ist der Platz für andere Objekte gesperrt.</a:documentation>
      <choice>
        <value>ja</value>
        <a:documentation>Das Objekt nimmt den Platz im Raster fest ein und kann nicht von anderen Objekten überlagert werden.</a:documentation>
        <value>nein</value>
        <a:documentation>Das Objekt nimmt keinen Platz im Raster ein und kann von anderen Objekten überlagert werden.</a:documentation>
      </choice>
    </attribute>
  </define>

  <define name="e_Absatz">
    <element name="Absatz">
      <ref name="t_Werte" />
      <optional>
        <attribute name="sprache">
          <ref name="t_Sprachen" />
        </attribute>
      </optional>
      <optional>
        <attribute name="textformat" />
      </optional>
      <a:documentation>Name des Textformats (optional)</a:documentation>
      <optional>
        <attribute name="farbe" />
        <a:documentation>Bestimmt die Farbe des Absatzes (Text)</a:documentation>
      </optional>
      <optional>
        <attribute name="schriftart" />
        <a:documentation>Bestimmt die Schriftart für den Absatz. (Text)</a:documentation>
      </optional>
    </element>
  </define>

  <define name="e_Aktion">
    <element name="Aktion">
      <a:documentation>Assoziiert eine Anweisung (Aktion) mit dem umgebenden Text.</a:documentation>
      <element name="ZurListeHinzufügen">
        <a:documentation>Fügt ein Schlüssel/Wert-Paar zu einer Variablen hinzu.</a:documentation>
        <attribute name="liste"/>
        <a:documentation>Liste (Variable) zu der der Inhalt hinzugefügt werden soll.
          Diese Variable muss noch nicht existieren.</a:documentation>
        <attribute name="schlüssel"/>
        <a:documentation>Name des Schlüssels, unter dem der Wert in ›auswahl‹ gespeichert wird.</a:documentation>
        <attribute name="auswahl"/>
        <a:documentation>Wert, der gepeichert wird (XPath-Ausdruck)</a:documentation>
      </element>
    </element>
  </define>

  <define name="e_Attribut">
    <element name="Attribut">
      <a:documentation>Erzeugt ein Attribut, das in ein »Element« geschachtelt werden kann.</a:documentation>
      <attribute name="name"><data type="string"/></attribute>
      <a:documentation>Name des zu erzeugenden Attributs. (Text)</a:documentation>
      <attribute name="auswahl"><data type="string"/></attribute>
      <a:documentation>Inhalt des Attributs als XPath-Ausdruck. Zeichenketten müssen in Anführungszeichen stehen!</a:documentation>
    </element>
  </define>

  <define name="e_B">
    <element name="B">
      <a:documentation>Schaltet auf den Schnitt »Fett« um</a:documentation>
      <ref name="t_Werte"/>
    </element>
  </define>

  <define name="e_BearbeiteDatensatz">
    <element name="BearbeiteDatensatz">
      <a:documentation>Führt eine Regel aus mit dem Inhalt einer Liste (im Attribut ›auswahl‹).</a:documentation>
      <attribute name="auswahl"/>
      <a:documentation>Bestimmt die Liste, die per »Datensatz« aufgerufen bearbeitet werden soll.</a:documentation>
    </element>
  </define>

  <define name="e_BearbeiteKnoten">
    <element name="BearbeiteKnoten">
      <a:documentation>Ruft alle Kindelemente eines bestimmten Namens auf. Gegenstück ist »Datensatz«</a:documentation>
      <attribute name="auswahl"/>
      <a:documentation>Bestimmt die Datensätze, die ausgeführt werden sollen.</a:documentation>
      <optional>
        <attribute name="modus"/>
        <a:documentation>Wird ein Modus angegeben, werden nur »Datensatz« Elemente ausgeführt, die diesem Modus entsprechen. (Text)</a:documentation>
      </optional>
    </element>
  </define>

  <define name="e_BeiSeitenAusgabe">
    <element name="BeiSeitenAusgabe">
      <a:documentation>Wenn eine Seite ausgegeben wird, werden die Kindelemente ausgeführt.</a:documentation>
      <oneOrMore>
        <ref name="t_Anweisungen"/>
      </oneOrMore>
    </element>
  </define>

  <define name="e_BeiSeitenErzeugung">
    <element name="BeiSeitenErzeugung">
      <a:documentation>Wenn eine Seite erzeugt wird, werden die Kindelemente ausgeführt.</a:documentation>
      <oneOrMore>
        <ref name="t_Anweisungen"/>
      </oneOrMore>
    </element>
  </define>

  <define name="e_Bild">
    <element name="Bild">
      <a:documentation>Bindet eine externe Grafik ein.</a:documentation>
      <attribute name="datei">
        <a:documentation>Dateiname der Bilddatei. (Text)</a:documentation>
        <data type="string" />
      </attribute>
      <attribute name="breite">
        <a:documentation>Breite des Bildes in Rasterzellen oder in absoluten Maßangaben.</a:documentation>
      </attribute>
      <optional>
        <attribute name="höhe">
          <a:documentation>Gibt die maximale Höhe des Bildes an in Rasterzellen oder in absoluten Maßangaben (z.B. 210mm).</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="seite">
          <a:documentation>Bindet die angegebene Seite aus einer PDF-Datei ein. Voreinstellung: 1</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="natürliche-größe">
          <a:documentation>Die natürliche Größe des Bildes. Voreinstellung ist die »cropbox«. </a:documentation>
          <ref name="t_PDFBOX" />
        </attribute>
      </optional>
      <optional>
        <attribute name="maximale-größe">
          <a:documentation>Die maximale Größe des Bildes. Voreinstellung ist die »cropbox«. </a:documentation>
          <ref name="t_PDFBOX" />
        </attribute>
      </optional>
    </element>
  </define>

  <define name="e_Box">
    <element name="Box">
      <a:documentation>Erzeugt einen rechteckigen farbigen Bereich.</a:documentation>
      <attribute name="breite" />
      <a:documentation>Breite der Box in Rasterzellen</a:documentation>
      <attribute name="höhe" />
      <a:documentation>Höhe der Box (in Rasterzellen)</a:documentation>
      <attribute name="hintergrundfarbe" />
      <a:documentation>Farbe der Box</a:documentation>
    </element>
  </define>

  <define name="e_Datensatz">
    <element name="Datensatz">
      <a:documentation>Führt für jedes angegebene Element (im Attribut ›element‹) die Anweisungen in den Kindelementen aus.</a:documentation>
      <oneOrMore>
        <ref name="t_Anweisungen"></ref>
      </oneOrMore>
      <attribute name="element"/>
      <a:documentation>Jedes dieser Elemente wird mit den Anweisungen ausgeführt.</a:documentation>
      <optional>
        <attribute name="modus"/>
        <a:documentation>Wird ein Datensatz zusammen mit einem Modus definiert, dann wird er nur dann ausgeführt, wenn »BearbeiteKnoten« ebenfalls mit diesem Modus aufgerufen wurde.</a:documentation>
      </optional>
    </element>
  </define>

  <define name="e_DefiniereFarbe">
     <element name="DefiniereFarbe">
       <a:documentation>Definiert eine Farbe mit dem Namen aus dem Attribut »name«. Es gibt
       zwei zulässige Modelle, »rgb« und »cmyk«. Die Wertangaben liegen zwischen 0 und 100.</a:documentation>
       <attribute name="name"><data type="string"/></attribute>
       <choice>
         <group>
           <attribute name="modell">
             <a:documentation>Es gibt zwei zulässige Modelle: ›cmyk‹ und ›rgb‹.</a:documentation><value>rgb</value></attribute>
           <attribute name="r">
             <a:documentation>Wert für Rot (zwischen 0 und 100)</a:documentation>
             <ref name="t_nullbishundert"/></attribute>
           <attribute name="g">
             <a:documentation>Wert für Grün (zwischen 0 und 100)</a:documentation>
             <ref name="t_nullbishundert"/></attribute>
           <attribute name="b">
             <a:documentation>Wert für Blau (zwischen 0 und 100)</a:documentation>
             <ref name="t_nullbishundert"/></attribute>
         </group>
         <group>
           <attribute name="modell"><value>cmyk</value></attribute>
           <attribute name="c">
             <a:documentation>Wert für Türkis (cyan, zwischen 0 und 100)</a:documentation>
             <ref name="t_nullbishundert"/></attribute>
           <attribute name="m">
             <a:documentation>Wert für Magenta (zwischen 0 und 100)</a:documentation>
             <ref name="t_nullbishundert"/></attribute>
           <attribute name="y">
             <a:documentation>Wert für Gelb (yellow, zwischen 0 und 100)</a:documentation>
             <ref name="t_nullbishundert"/></attribute>
           <attribute name="k">
             <a:documentation>Wert für Schwarz (key, zwischen 0 und 100)</a:documentation>
             <ref name="t_nullbishundert"/></attribute>
         </group>
       </choice>
     </element>
    </define>

  <define name="e_DefiniereSchriftfamilie">
    <element name="DefiniereSchriftfamilie">
      <a:documentation>Definiert eine Schriftfamilie bestehend aus den Schnitten »Normal«, »Kursiv«, »Fett« und »Fett Kursiv«. Die Familien werden benötigt, wenn 
      innerhalb eines Textes auf einen anderen Schnitt umgeschaltet wird. Die Schriftarten müssen vorher mit »LadeSchriftdatei« geladen werden. Die Familie mit dem Namen »Text« wird immer dann
      verwendet, wenn keine bei Textausgabe (Element »Absatz«, ...) keine Schriftfamilie angegeben wird.</a:documentation>
      <attribute name="name"/>
      <attribute name="schriftgröße"/>
      <a:documentation>Schriftgröße in Punkt (0-...)</a:documentation>
      <attribute name="zeilenabstand"/>
      <a:documentation>Zeilenabstand in Punkt (0-...)</a:documentation>
      <interleave>
        <element name="Normal">
          <a:documentation>Wählt die Schriftart für den »normalen« Schriftschnitt
            aus</a:documentation>
          <attribute name="schriftart" />
        </element>
        <optional>
          <element name="Fett">
            <a:documentation>Schriftart, wenn innerhalb eines Textes auf »Fett« (&lt;b>...&lt;/b>) umgeschaltet wird.</a:documentation>
            <attribute name="schriftart" />
          </element>
        </optional>
        <optional>
          <element name="Kursiv">
            <a:documentation>Schriftart, wenn innerhalb eines Textes auf »Kursiv« (&lt;i>...&lt;/i>) umgeschaltet wird.</a:documentation>
            <attribute name="schriftart" />
          </element>
        </optional>
        <optional>
          <element name="FettKursiv">
            <a:documentation>Schriftart, wenn innerhalb eines Textes auf »Fett« und »Kursiv« (&lt;b>&lt;i>...&lt;/i>&lt;/b>) umgeschaltet wird.</a:documentation>
            <attribute name="schriftart" />
          </element>
        </optional>
      </interleave>
    </element>
  </define>

  <define name="e_DefiniereTextformat">
    <element name="DefiniereTextformat">
      <attribute name="name"/>
      <optional><ref name="a_ausrichtung"/></optional>
      <optional><attribute name="einrückung"/></optional>
    </element>
  </define>

  <define name="e_Element">
    <element name="Element">
      <a:documentation>Erzeugt ein XML-Element, das in eine Datei geschrieben werden kann (»SpeichereDatensatzdatei«).</a:documentation>
      <attribute name="name"><data type="string"/></attribute>
      <a:documentation>Name des Elements.</a:documentation>
      
      <oneOrMore>
        <interleave>
          <optional><ref name="e_Element"/></optional>
          <optional><ref name="e_Attribut"/></optional>
          <optional><ref name="e_Kopievon"/></optional>
        </interleave>
      </oneOrMore>
    </element>
  </define>

  <define name="e_Fallunterscheidung">
    <element name="Fallunterscheidung">
      <a:documentation>Enthält eine Wenn-Dann-Abfrage. Die Kindelemente »Fall« werden ausgeführt, wenn die Bedingung erfüllt ist. Wenn keine Bedingung erfüllt ist, wird das Element »Sonst« ausgeführt, sofern es vorhanden ist.</a:documentation>
      <oneOrMore>
        <element name="Fall">
          <a:documentation>Wenn die Bedingung im Attribut ›bedingung‹ zutrifft, wird der Inhalt dieses Elements ausgeführt und die Verarbeitung hinter der Fallunterscheidung fortgesetzt.</a:documentation>
          <attribute name="bedingung"><data type="string"/></attribute>
          <a:documentation>Enthält einen XPath-Ausdruck für die Bedingung</a:documentation>
          <oneOrMore>
            <ref name="t_Fallinhalt"/>
          </oneOrMore>
        </element>
      </oneOrMore>
      <optional>
        <element name="Sonst">
          <a:documentation>Wird ausgeführt, falls keine Bedingung zutrifft</a:documentation>
          <oneOrMore>
            <ref name="t_Fallinhalt"/>
          </oneOrMore>
        </element>
      </optional>
    </element>
  </define>

  <define name="e_Gruppe">
    <element name="Gruppe">
      <attribute name="name"><data type="string"/></attribute>
      <element name="Inhalt">
        <oneOrMore>
          <ref name="t_Anweisungen"/>
        </oneOrMore>
      </element>
    </element>
  </define>

  <define name="e_I">
    <element name="I">
      <a:documentation>Schaltet auf Kursiv um</a:documentation>
      <ref name="t_Werte"/>
    </element>
  </define>

  <define name="e_Kopievon">
    <element name="Kopie-von">
      <a:documentation>Fügt eine Menge von Elementen ein.</a:documentation>
      <attribute name="auswahl">
        <a:documentation>XPath Ausdruck um den Inhalt zu ermitteln.</a:documentation>
      </attribute>
    </element>
  </define>

  <define name="e_LadeDatensatzdatei">
    <element name="LadeDatensatzdatei">
      <a:documentation>Lädt eine zuvor gespeicherte Datensatzdatei. Existiert die angegebene Datei nicht, wird dieser Befehl übersprungen.</a:documentation>
      <attribute name="name"><data type="string"/></attribute>
      <a:documentation>Name der Datensatzdatei.</a:documentation>
      <empty/>
    </element>
  </define>

  <define name="e_LadeSchriftdatei">
    <element name="LadeSchriftdatei">
      <a:documentation>Lädt eine Schriftdatei. Erlaubt sind Type1, TrueType und OpenType Schriftarten.</a:documentation>
      <attribute name="name"><data type="string"/></attribute>
      <a:documentation>Der Name, unter dem die Schriftart später angesprochen
        werden kann</a:documentation>
      <attribute name="dateiname"><data type="string"/></attribute>
      <a:documentation>Der Dateiname ohne Pfadangabe. Beispiel: »helvetica.ttf«</a:documentation>
      <optional>
        <attribute name="randausgleich">
          <a:documentation>Optischer Randausgleich (Trennstrich, Komma und Punkt ragen in den
            Rand). Erlaubt sind Werte zwischen 0 (kein Randausgleich) und 100 (vollständig).</a:documentation>
          <ref name="t_nullbishundert"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="leerraum">
          <a:documentation>Natürliche Breite des Leeraums zwischen den Wörtern (in Prozent der Schriftgröße). Voreingestellt ist 25.</a:documentation>
          <ref name="t_nullbishundert"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="kapitälchen">
          <a:documentation>Kapitälchen aus der Schriftdatei benutzen (nur manche OpenType/TrueType Schriftarten)</a:documentation>
          <choice>
            <value>ja</value>
            <a:documentation>Kapitälchen aktivieren</a:documentation>
            <value>nein</value>
            <a:documentation>Keine Kapitälchen</a:documentation>
          </choice>
        </attribute>
      </optional>
    </element>
  </define>

  <define name="e_Layout">
    <element name="Layout">
      <oneOrMore>
        <ref name="t_Toplevel"/>
        <optional><ref name="e_Include"/></optional>
      </oneOrMore>
    </element>
  </define>

  <define name="e_Include">
    <element name="Include">
      <oneOrMore><ref name="t_Toplevel"/></oneOrMore>
    </element>
  </define>

  <define name="e_Leerzeile">
    <element name="Leerzeile">
      <a:documentation>Der virtuelle Cursor wird auf die übernächste freie Zeile gesetzt.</a:documentation>
      <empty/>
    </element>
  </define>

  <define name="e_Linie">
    <element name="Linie">
      <a:documentation>Zeichnet eine Linie</a:documentation>
      <attribute name="länge"/>
      <a:documentation>Länge der Linie in Rasterzellen (Zahl) oder als Maß (z.B. 4cm)</a:documentation>
      <attribute name="richtung">
        <a:documentation>Ausrichtung der Linie</a:documentation>
        <choice>
          <value>horizontal</value>
          <value>vertikal</value>
        </choice>
      </attribute>
      <optional>
        <attribute name="linienstärke"/>
        <a:documentation>Dicke der Linie in Rasterzellen (Zahl) oder als Maß (z.B. 4pt)</a:documentation>
      </optional>
    </element>
  </define>

  <define name="e_Nachricht">
    <element name="Nachricht">
      <a:documentation>Erzeugt eine Meldung auf der Konsole und im Protokoll. Die Nachricht wird durch das Attribut ›auswahl‹ oder durch Kindelemente »Wert« angegeben.</a:documentation>
      <choice>
        <attribute name="auswahl"><data type="string"/></attribute>
        <a:documentation>Nachricht, die ausgegeben werden soll (als XPath-Ausdruck)</a:documentation>
        <oneOrMore>
          <ref name="e_Wert" />
        </oneOrMore>
      </choice>
    </element>
  </define>

  <define name="e_NächsterRahmen">
    <element name="NächsterRahmen">
      <a:documentation>Wechselt auf den nächsten Rahmen im angegebenen Platzierungsbereich. Ist kein
        Rahmen mehr auf der Seite vorhanden, wird eine neue Seite erzeugt.</a:documentation>
      <attribute name="bereich" >
        <a:documentation>Innheralb dieses Bereichs wird auf den nächsten Rahmen gewechselt.</a:documentation>
      </attribute>
    </element>
  </define>

  <define name="e_NeueSeite">
    <element name="NeueSeite">
      <a:documentation>Beendet die Ausgabe auf der aktuellen Seite und erzeugt eine neue Seite. Diese wird nur angelegt, wenn später Text o.ä. ausgegeben wird.</a:documentation>
      <empty/>
    </element>
  </define>

  <define name="e_NeueZeile">
    <element name="NeueZeile">
      <a:documentation>Der virtuelle Cursor wird auf die nächste freie Zeile gesetzt.</a:documentation>
      <optional>
        <attribute name="bereich" />
        <a:documentation>Name des Bereichs, in dem der Cursor versetzt wird.</a:documentation>
      </optional>
      <empty/>
    </element>
  </define>

  <define name="e_ObjektAusgeben">
    <element name="ObjektAusgeben">
      <a:documentation>Gibt ein Objekt (Bild,..) aus.</a:documentation>
      <optional>
        <attribute name="spalte" />
        <a:documentation>Spalte in der das Objekt ausgegeben werden soll (Zahl). Wird keine Spalte
          angegeben, so nimmt der Publisher die aktuelle Spalte, bzw. wenn das Objekt zu breit ist,
          die nächste freie Zeile.</a:documentation>
      </optional>
      <optional>
        <attribute name="belegen">
          <a:documentation>Wenn »nein«, nimmt das Objekt keinen Platz im Raster
            ein.</a:documentation>
          <choice>
            <value>ja</value>
            <value>nein</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="bereich">
          <a:documentation>Der Platzierungsbereich, in dem das Objekt ausgegeben werden soll. Die
            Angabe von Zeile und Spalte bezieht sich auf den angegebenen Platzierungsbereich. Der
            voreingestellte Platzierungsbereich ist »Seite«.</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="zeile">
          <a:documentation>Zeile, in der das Objekt ausgegeben werden soll (optional, Zahl). Wird
            die Zeile nicht mit angegeben, so sucht sich das System selbständig eine freie
            Zeile</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="rahmen">
          <a:documentation>Rahmen um das Objekt</a:documentation>
          <choice>
            <value>ohne</value>
            <a:documentation>Das Objekt wird nicht umrahmt</a:documentation>
            <value>durchgezogen</value>
            <a:documentation>Erzeugt einen durchgezogenen Rahmen um das Objekt</a:documentation>
          </choice>
        </attribute>
        <attribute name="rahmenfarbe">
          <data type="string" />
        </attribute>
        <a:documentation>Farbe des Rahmens, der gezeichnet werden soll. (Text)</a:documentation>
      </optional>
      <optional>
        <attribute name="hintergrund">
          <a:documentation>Fläche hinter dem Objekt</a:documentation>
          <choice>
            <value>ohne</value>
            <a:documentation>Das Objekt erhält keinen Hintergrund</a:documentation>
            <value>vollständig</value>
            <a:documentation>Ein rechteckiger Hintergrund wird hinter das Objekt
              gelegt</a:documentation>
          </choice>
        </attribute>
        <attribute name="hintergrundfarbe">
          <data type="string" />
        </attribute>
        <a:documentation>Farbe des Hintergrunds, der gezeichnet werden soll.
          (Text)</a:documentation>
      </optional>
      <optional>
        <attribute name="maxhöhe">
          <a:documentation>Gibt die maximale Höhe der auszugebenden Objekte an. Wird für
            automatischen Tabellenumbruch benötigt</a:documentation>
        </attribute>
      </optional>
      <choice>
        <attribute name="gruppenname">
          <a:documentation>Name der Gruppe, die ausgegeben werden soll (Text).</a:documentation>
        </attribute>
        <interleave>
          <optional>
            <ref name="e_Bild" />
          </optional>
          <optional>
            <ref name="e_Box" />
          </optional>
          <optional>
            <ref name="e_Linie" />
          </optional>
          <optional>
            <ref name="e_Textblock" />
          </optional>
          <optional>
            <ref name="e_Tabelle" />
          </optional>
        </interleave>
      </choice>
    </element>
  </define>

  <define name="e_Optionen">
    <element name="Optionen">
      <optional>
        <attribute name="zeige_rasterbelegung">
          <a:documentation>Bestimmt, ob die Rasterbelegung angezeigt wird.</a:documentation>
          <choice>
            <value>ja</value>
            <a:documentation>Rasterbelegung wird farblich markiert</a:documentation>
            <value>nein</value>
            <a:documentation>Rasterbelegung wird nicht markiert</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="zeichne_raster">
          <a:documentation>Bestimmt, ob das zugrunde liegende Raster gezeichnet wird.</a:documentation>
          <choice>
            <value>ja</value>
            <a:documentation>Raster wird gezeichnet</a:documentation>
            <value>nein</value>
            <a:documentation>Raster wird nicht gezeichnet</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="läufe">
          <a:documentation>Anzahl der Durchläufe des Publishers. Mehr als ein Durchlauf wird benötigt, wenn automatische Verzeichnisse erstellt werden.</a:documentation>
          <data type="integer" />
        </attribute>
      </optional>
      <optional>
        <attribute name="zeige_silbentrennung">
          <a:documentation>Zeichnet kleine Markierungen an den Stellen, an denen Wörter getrennt werden können.</a:documentation>
          <choice>
            <value>ja</value>
            <a:documentation>Kleine Markierungen werden an Trennstellen gezeigt</a:documentation>
            <value>nein</value>
            <a:documentation>Normaler Text ohne Markierungen</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="trace">
          <a:documentation>Gibt detaillierte Informationen auf der Konsole (und im Log) aus.</a:documentation>
          <choice>
            <value>ja</value>
            <a:documentation>Detaillierte Informationen</a:documentation>
            <value>nein</value>
            <a:documentation>Nur die wichtigsten Informationen werden ausgegeben</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="beschnittmarken">
          <a:documentation>Erzeugt Schnittmarken</a:documentation>
          <choice>
            <value>ja</value>
            <a:documentation>Schnittmarken werden angezeigt</a:documentation>
            <value>nein</value>
            <a:documentation>Schnittmarken werden nicht angezeigt</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="beschnittzugabe">
          <a:documentation>Größe der Beschnittzugabe (»bleed«, Längenangabe mit Einheit, bspw. 3mm)</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="startseite">
          <a:documentation>Gibt die Startseite an. Voreinstellung ist 1</a:documentation>
        </attribute>
      </optional>
    </element>
  </define>

  <define name="e_Platzierungsbereich">
    <element name="Platzierungsbereich">
      <a:documentation>Platzierungsbereiche enthalten Platzierungsrahmen, die unter einem Namen
        angesprochen werden (Attribut »name«). Die Rahmen sind in der Reihenfolge ihrer Definition
        miteinander verbunden. D.h. kann ein Objekt nicht mehr im Rahmen n dargestellt werden, wird
        Rahmen n+1 ausgewählt (bzw. auf der nächsten Seite der erste Rahmen, wenn es keinen Rahmen
        n+1 gibt).</a:documentation>
      <attribute name="name" >
        <a:documentation>Der Name des Platzierungsbereichs.</a:documentation>
      </attribute>
      <oneOrMore>
        <element name="Platzierungsrahmen">
          <a:documentation>Platzierungsrahmen sind rechteckig, daher müssen alle vier Attribute
            angegeben werden.</a:documentation>
          <attribute name="spalte" />
          <attribute name="zeile" />
          <attribute name="höhe" />
          <attribute name="breite" />
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="e_Rand">
    <element name="Rand">
      <attribute name="links" />
      <attribute name="rechts" />
      <attribute name="oben" />
      <attribute name="unten" />
    </element>
  </define>

  <define name="e_Schriftart">
    <element name="Schriftart">
      <a:documentation>Schaltet auf eine andere Schriftfamilie um</a:documentation>
      <attribute name="schriftfamilie"/>
      <ref name="t_Werte"/>
    </element>
  </define>

  <define name="e_Seitenformat">
    <element name="Seitenformat">
      <attribute name="breite"/>
      <attribute name="höhe"/>
    </element>
  </define>

  <define name="e_SpeichereDatensatzdatei">
    <element name="SpeichereDatensatzdatei">
      <a:documentation>Speichert eine Datei unter dem angegebenen Namen. Die Datei kann mit »LadeDatensatzdatei« wieder geladen (und ausgeführt) werden. Der Inhalt ist eine Sequenz, z.B. aus 
        den Befehlen »Element« und »Attribut« oder »Sequenz«.</a:documentation>
      <attribute name="dateiname"><data type="string"/></attribute>
      <a:documentation>Name der Datensatzdatei</a:documentation>
      <attribute name="elementname"><data type="string"/></attribute>
      <a:documentation>Name des Wurzelelements</a:documentation>
      <choice>
        <attribute name="auswahl"><data type="string"/></attribute>
        <a:documentation>Inhalt der Datensatzdatei</a:documentation>
        <oneOrMore>
          <optional><ref name="e_Element"/></optional>
          <optional><ref name="e_SortiereSequenz"></ref></optional>
          <optional><ref name="e_Sequenz"/></optional>
          <optional><ref name="e_Kopievon" /></optional>
        </oneOrMore>
      </choice>
    </element>
  </define>

  <define name="e_Seitentyp">
    <element name="Seitentyp">
      <attribute name="name"/>
      <a:documentation>Name der Seite. Derzeit wird der Name nicht weiter benutzt. Beliebig.</a:documentation>
      <attribute name="bedingung"/>
      <a:documentation>XPath-Audruck, der »wahr« oder »falsch« zurückgibt. Bestimmt, ob diese Seite als Seitentyp gewählt wird</a:documentation>
      <ref name="e_Rand" />
      <optional><ref name="e_Platzierungsbereich" /></optional>
      <interleave>
        <optional>
          <element name="Raster">
            <a:documentation>Bestimmt ein seitentspezifisches Raster</a:documentation>
            <attribute name="breite"/>
            <a:documentation>Breite einer Rasterzelle (Maßeinheit), z.B. 10mm</a:documentation>
            <attribute name="höhe"/>
            <a:documentation>Höhe einer Rasterzelle (Maßeinheit), z.B. 10mm</a:documentation>
          </element>
        </optional>
        <optional>
          <ref name="e_BeiSeitenErzeugung"/>
        </optional>
        <optional>
          <ref name="e_BeiSeitenAusgabe"/>
        </optional>
      </interleave>    </element>
  </define>

  <define name="e_Sequenz">
    <element name="Sequenz">
      <a:documentation>Wählt Daten aus der Datendatei aus.</a:documentation>
      <attribute name="auswahl">
        <a:documentation>XPath-Ausdruck für die Sequenz.</a:documentation>
      </attribute>
    </element>
  </define>

  <define name="e_SetzeRaster">
    <element name="SetzeRaster">
      <attribute name="breite"/>
      <attribute name="höhe"/>
    </element>
  </define>

  <define name="e_Solange">
    <element name="Solange">
      <a:documentation>Führt die Kindelemente solange aus, wie die Bedingung ›wahr‹ ist.</a:documentation>
      <attribute name="bedingung"><data type="string"></data></attribute>
      <a:documentation>XPath-Ausdruck für die Bedingung</a:documentation>
      <oneOrMore>
        <interleave>
          <ref name="t_Fallinhalt"/>
        </interleave>
      </oneOrMore>
    </element>
  </define>

  <define name="e_SortiereSequenz">
    <element name="SortiereSequenz">
      <a:documentation>Sortiert die angegebene Sequenz. Die zu sortierende Sequenz sollte in einer Variablen gespeichert sein, da der Inhalt verändert wird.</a:documentation>
      <attribute name="auswahl" >
        <a:documentation>Bestimmt die Sequenz (XML-Elemente), die sortiert werden soll. (XPath-Ausdruck)</a:documentation>
      </attribute>
      <attribute name="kriterium">
        <a:documentation>Das Attribut, nachdem sortiert werden soll.</a:documentation>
      </attribute>
      <optional>
        <attribute name="duplikatelöschen"/>
        <a:documentation>Entfernt Duplikate. Name des Attributs, auf das geprüft werden soll.</a:documentation>
      </optional>
    </element>
  </define>

  <define name="e_Sup">
    <element name="Sup">
      <a:documentation>Hochgestellter Text</a:documentation>
      <ref name="t_Werte"/>
    </element>
  </define>

  <define name="e_Sub">
    <element name="Sub">
      <a:documentation>Tiefgestellter Text</a:documentation>
      <ref name="t_Werte"/>
    </element>
  </define>

  <define name="e_Tabelle">
    <element name="Tabelle">
      <a:documentation>Erzeugt eine Tabelle</a:documentation>
      <attribute name="breite"/>
      <a:documentation>Die Breite der Tabelle im Raster. (Zahl)</a:documentation>
      <optional>
        <attribute name="padding"/>
        <a:documentation>Abstand innerhalb einer Zelle (Maßangabe)</a:documentation>
      </optional>
      <optional>
        <attribute name="spaltenabstand" />
        <a:documentation>Abstand zwischen zwei Spalten (Maßangabe)</a:documentation>
      </optional>
      <optional>
        <attribute name="zeilenabstand" />
        <a:documentation>Abstand zwischen zwei Zeilen (Maßangabe)</a:documentation>
      </optional>
      <optional>
        <attribute name="dehnen">
          <a:documentation>Bei kurzen Inhalten könnte die Tabelle schmaler sein als die angegebene Breite. Dieses Attribut gibt an, ob
          die Tabelle ggf. auf die angegebene Breite gedehnt wird.</a:documentation>
          <choice>
            <value>max</value>
            <a:documentation>Die Tabelle wird auf die angegebene Breite gedehent, wenn der Inhalt eine schmalere Tabelle erzeugen würde.</a:documentation>
            <value>nein</value>
            <a:documentation>Die Tabelle wird nicht gedehnt.</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="schriftart">
          <a:documentation>Schriftart, die vorher mit »DefiniereSchriftfamilie« definiert wurde, wird als Standardschriftart für die Tabelle benutzt (Instanz: ›Normal‹)</a:documentation>
        </attribute></optional>
      <oneOrMore>
        <interleave>
          <optional>
            <element name="Tabellenkopf">
              <a:documentation>Wird auf jeder Seite wiederholt.</a:documentation>
              <oneOrMore>
                <interleave>
                  <optional><ref name="e_Tlinie"/></optional>
                  <optional><ref name="e_Kopievon"/></optional>
                  <optional><ref name="e_Tr"/></optional>
                </interleave>
              </oneOrMore>
            </element>
          </optional>
          <optional>
            <element name="Tabellenfuß">
              <a:documentation>Wird auf jeder Seite wiederholt.</a:documentation>
              <oneOrMore>
                <interleave>
                  <optional><ref name="e_Tlinie"/></optional>
                  <optional><ref name="e_Kopievon"/></optional>
                  <optional><ref name="e_Tr"/></optional>
                </interleave>
              </oneOrMore>
            </element>
          </optional>
          <optional><ref name="e_Spalten"/></optional>
          <optional><ref name="e_Tr"/></optional>
          <optional><ref name="e_Kopievon"/></optional>
          <optional><ref name="e_Tlinie"/></optional>
          <optional><ref name="e_Nachricht"/></optional>
        </interleave>
      </oneOrMore>
    </element>
  </define>

  <define name="e_Tlinie">
    <element name="Tlinie">
      <a:documentation>Erzeugt eine durchgehende horizontale Linie in der Tabelle</a:documentation>
      <optional>
        <attribute name="linienstärke" />
        <a:documentation>Gibt die »Dicke« der Linie an. Beispiel: linienstärke="3pt"</a:documentation>
      </optional>
      <optional>
        <attribute name="farbe">
          <a:documentation>Farbe der Linie.</a:documentation>
        </attribute>
      </optional>
    </element>
  </define>

  <define name="e_Td">
    <element name="Td">
      <optional>
        <attribute name="colspan">
          <a:documentation>Gibt an, über wie viele Spalten sich der Inhalt erstreckt.
            Voreinstellung: 1</a:documentation>
          <data type="integer" />
        </attribute>
      </optional>
      <optional>
        <attribute name="rowspan">
          <a:documentation>Gibt an, über wie viele Zeilen sich der Inhalt erstreckt.
            Voreinstellung: 1</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="align">
          <a:documentation>Horizontale Ausrichtung</a:documentation>
          <choice>
            <value>left</value>
            <a:documentation>Linksbündig ausgeben</a:documentation>
            <value>center</value>
            <a:documentation>Zentriert ausgeben</a:documentation>
            <value>right</value>
            <a:documentation>Rechtsbündig ausgeben</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="hintergrundfarbe">
          <a:documentation>Farbe der Tabellenzelle</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="valign">
          <a:documentation>Vertikale Ausrichtung</a:documentation>
          <choice>
            <value>top</value>
            <a:documentation>Oben ausgeben</a:documentation>
            <value>center</value>
            <a:documentation>Vertikal zentriert ausgeben</a:documentation>
            <value>bottom</value>
            <a:documentation>Unten ausgeben</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="border-left" />
        <a:documentation>Breite des linken Rahmens</a:documentation>
      </optional>
      <optional>
        <attribute name="border-right" />
        <a:documentation>Breite des rechten Rahmens</a:documentation>
      </optional>
      <optional>
        <attribute name="border-top" />
        <a:documentation>Breite des oberen Rahmens</a:documentation>
      </optional>
      <optional>
        <attribute name="border-bottom" />
        <a:documentation>Breite des unteren Rahmens</a:documentation>
      </optional>
      <optional>
        <attribute name="border-left-color" />
        <a:documentation>Farbe des linken Rahmens</a:documentation>
      </optional>
      <optional>
        <attribute name="border-right-color" />
        <a:documentation>Farbe des rechten Rahmens</a:documentation>
      </optional>
      <optional>
        <attribute name="border-top-color" />
        <a:documentation>Farbe des oberen Rahmens</a:documentation>
      </optional>
      <optional>
        <attribute name="border-bottom-color" />
        <a:documentation>Farbe des unteren Rahmens</a:documentation>
      </optional>
      <optional>
        <attribute name="padding"/>
        <a:documentation>Kurzform für die Angabe von ›padding-*‹</a:documentation>
      </optional>
      <optional>
        <attribute name="padding-left"/>
        <a:documentation>Bestimmt den Innenrand links (Maßangabe)</a:documentation>
      </optional>
      <optional>
        <attribute name="padding-right"/>
        <a:documentation>Bestimmt den Innenrand rechts (Maßangabe)</a:documentation>
      </optional>
      <optional>
        <attribute name="padding-top"/>
        <a:documentation>Bestimmt den Innenrand oben (Maßangabe)</a:documentation>
      </optional>
      <optional>
        <attribute name="padding-bottom"/>
        <a:documentation>Bestimmt den Innenrand unten (Maßangabe)</a:documentation>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="e_Absatz"/>
          <ref name="e_Tabelle" />
          <ref name="e_Bild"/>
          <ref name="e_Kopievon"/>
          <ref name="e_Fallunterscheidung"></ref>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <define name="e_Tr">
    <element name="Tr">
      <a:documentation>Erzeugt eine Tabellenzeile</a:documentation>
      <optional>
        <attribute name="hintergrundfarbe" >
          <a:documentation>Farbe des Zeilenhintergrundes. (Text)</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="minhöhe">
          <a:documentation>Minimale Höhe in Rasterzellen</a:documentation>
        </attribute>
      </optional>
      <optional>
        <attribute name="align">
          <a:documentation>Bestimmt die horizonatale Ausrichtung für alle Zellen dieser Zeile</a:documentation>
          <choice>
            <value>left</value>
            <a:documentation>Linksbündig ausgeben</a:documentation>
            <value>center</value>
            <a:documentation>Zentriert ausgeben</a:documentation>
            <value>right</value>
            <a:documentation>Rechtsbündig ausgeben</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="valign">
          <a:documentation>Vertikale Ausrichtung für alle Zellen dieser Zeile</a:documentation>
          <choice>
            <value>top</value>
            <a:documentation>Oben ausgeben</a:documentation>
            <value>center</value>
            <a:documentation>Vertikal zentriert ausgeben</a:documentation>
            <value>bottom</value>
            <a:documentation>Unten ausgeben</a:documentation>
          </choice>
        </attribute>
      </optional>
      <oneOrMore>
        <optional>
          <ref name="e_Nachricht"/>
        </optional>
        <optional>
          <ref name="e_Td"/>
        </optional>
        <optional>
          <ref name="e_Kopievon"/>
        </optional>
        <optional>
          <ref name="e_Fallunterscheidung"/>
        </optional>
      </oneOrMore>
    </element>
  </define>

  <define name="e_Trennvorschlag">
    <element name="Trennvorschlag">
      <a:documentation>Korrigiert fehlerhafte automatische Silbentrennung. Beispiel: Au-to-bahn</a:documentation>
      <text/>
    </element>
  </define>

  <define name="e_Spalten">
    <element name="Spalten">
      <a:documentation>Fasst »Spalte«-Elemente zusammen. Die Anzahl der »Spalte« Elemente muss mit der Anzahl der Tabellenzellen übereinstimmen.</a:documentation>
      <oneOrMore>
        <element name="Spalte">
          <a:documentation>Bestimmt die Eigenschaften einer Spalte hinsichtlich Breite, Farbe und Ausrichtung</a:documentation>
          <optional>
            <attribute name="breite"/>
            <a:documentation>Erlaubt sind absolute Angaben (z.B. 12mm) oder *-Angaben (z.B. 3*). Die *-Angaben werden auf die „Restbreite“ aufgeteilt.</a:documentation>
          </optional>
          <optional>
            <attribute name="hintergrundfarbe"/>
            <a:documentation>Bestimmt die Farbe der Spalte</a:documentation>
          </optional>
          <optional>
            <attribute name="align">
            <a:documentation>Bestimmt die horizonatale Ausrichtung für alle Zellen dieser Spalte</a:documentation>
            <choice>
              <value>left</value>
              <a:documentation>Linksbündig ausgeben</a:documentation>
              <value>center</value>
              <a:documentation>Zentriert ausgeben</a:documentation>
              <value>right</value>
              <a:documentation>Rechtsbündig ausgeben</a:documentation>
            </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="valign">
              <a:documentation>Vertikale Ausrichtung für alle Zellen dieser Spalte</a:documentation>
              <choice>
                <value>top</value>
                <a:documentation>Oben ausgeben</a:documentation>
                <value>center</value>
                <a:documentation>Vertikal zentriert ausgeben</a:documentation>
                <value>bottom</value>
                <a:documentation>Unten ausgeben</a:documentation>
              </choice>
            </attribute>
          </optional>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="e_Textblock">
    <element name="Textblock">
      <a:documentation>Erstellt einen rechteckigen Bereich mit Text. Der Text
      kann aus mehreren Absätzen bestehen und wird mit »Absatz« gekennzeichnet.</a:documentation>
      <attribute name="breite"/>
      <oneOrMore>
        <choice>
          <ref name="e_Absatz"/>
          <ref name="e_Kopievon"/>
          <ref name="e_Aktion"/>
        </choice>
      </oneOrMore>
      <optional><attribute name="textformat"/></optional>
      <optional>
        <attribute name="schriftart" />
        <a:documentation>Bestimmt die Schriftart für den Textblock, wenn die Absätze keine Schriftart angegeben haben. (Text)</a:documentation>
      </optional>
      <optional>
        <attribute name="farbe" />
        <a:documentation>Bestimmt die Farbe des Textblocks. Kann in den Absätzen überschrieben werden. (Text)</a:documentation>
      </optional>
      <optional>
        <attribute name="winkel"/>
        <a:documentation>Dreht den Text um den angegebenen Winkel (gegen den Uhrzeigersinn). Beispiel: winkel="45"</a:documentation>
      </optional>
      <optional>
        <attribute name="spalten"/>
        <a:documentation>Anzahl der Spalten</a:documentation>
      </optional>
      <optional>
        <attribute name="spaltenabstand"/>
        <a:documentation>Abstand zwischen den Spalten. Entweder eine Maßangabe (z.B. 3mm) oder eine Zahl (Anzahl in Rasterzellen)</a:documentation>
      </optional>
    </element>
  </define>

  <define name="e_Wert">
    <element name="Wert">
      <a:documentation>Fügt die textuelle Reprästentation des Wertes (XPath-Ausdruck) ein.</a:documentation>
      <choice>
        <attribute name="auswahl">
          <a:documentation>XPath Ausdruck um den Inhalt zu ermitteln.</a:documentation>
        </attribute>
        <text/>
      </choice>
    </element>
  </define>

  <define name="e_U">
    <element name="U">
      <a:documentation>Schaltet »Unterstreichen« ein</a:documentation>
      <ref name="t_Werte"/>
    </element>
  </define>

  <define name="e_URL">
    <element name="URL">
      <a:documentation>Umbricht eine angegebene URL besser.</a:documentation>
      <ref name="t_Werte"/>
    </element>
  </define>

  <define name="e_Zuweisung">
    <element name="Zuweisung">
      <a:documentation>Weist einer Variablen einen Inhalt zu. Der Inhalt wird entweder über das Attribut
      auswahl oder über den Inhalt des Elements bestimmt.</a:documentation>
      <optional>
        <attribute name="trace">
          <choice>
            <value>ja</value>
            <value>nein</value>
          </choice>
        </attribute>
        <a:documentation>Gibt die interne Information über die Zuweisung in der Logdatei aus.</a:documentation>
      </optional>
      <attribute name="variable" />
      <a:documentation>Name der Variablen, der etwas zugewiesen werden soll (Text).</a:documentation>
      <choice>
        <attribute name="auswahl" />
        <a:documentation>XPath-Ausdruck für den Inhalt der Variablen. Alternativ dazu: der Inhalt des Elements Zuweisung</a:documentation>
        <oneOrMore>
          <interleave>
            <optional><ref name="e_Absatz" /></optional>
            <optional><ref name="e_Wert"/></optional>
            <optional><ref name="e_Kopievon"/></optional>
            <optional><ref name="e_Sequenz"/></optional>
            <optional><ref name="e_Element"/></optional>
            <optional><ref name="e_Attribut"/></optional>
            <optional><ref name="e_Fallunterscheidung"/></optional>
            <optional><ref name="e_Tr"/></optional>
            <optional><ref name="e_Td"/></optional>
            <optional><ref name="e_Spalten"/></optional>
            <optional><ref name="e_Tlinie"/></optional>
            <optional><ref name="e_SortiereSequenz"/></optional>
          </interleave>
        </oneOrMore>
      </choice>
    </element>
  </define>
  
</grammar>